[2017-08-27 15:35] ct-clmsn opened #2 "Data primitives and operations"
Data primitives

- [ ] Scalar (int, double, float, complex)
- [ ] N dimensional arrays (int, double, float, complex)
- [ ] N dimensional array initialized by 0, 1, random
- [ ] N dimensional array layout by row, column
- [ ] N dimensional array layout by space filling curves (peano, z-order, moore, hilbert)
- [ ] N dimensional array layout with [sparse formats](https://docs.scipy.org/doc/scipy/ref

[2017-08-27 15:39] ct-clmsn commented on #2
Question about dot product operation. Should that be a combination of dag operations? Should that be a special node with custom or optimized logic?

[2017-08-27 23:20] hkaiser commented on #2
In the first step supporting 0, 1, and 2 dimensional data will be a good starting point to get the whole infrastructure in place.

[2017-08-31 20:02] aserio opened #4 "Contact Kate Issacs"
As a reminder...

[2017-08-31 21:13] khuck opened #6 "Setup buildbot environment for regular regression testing"
Set up a buildbot system at UO for building HPX, APEX, Phylanx and executing tests.

Systems:
* x86_64 linux  delphi.nic.uoregon.edu
  - gcc
* Power8 Linux  (minotaur,centaur).nic.uoregon.edu
  - xlc, clang?
* KNL Linux  grover.nic.uoregon.edu
  - gcc
  - intel
* Windows, if possible   (Monil's machine)
  - msvc

The buildbot master configurations will be as simple as possible, and most of the com

[2017-09-01 14:27] ct-clmsn opened #7 "Experimental data sets"
Potential data sets that are available for study and experimentation.

**Popular Places for Data**
- UC Irvine Machine Learning Repository - http://archive.ics.uci.edu/ml/index.php
- UC Irvine KDD data sets http://kdd.ics.uci.edu/
- MNIST - http://yann.lecun.com/exdb/mnist/
- ImageNet - http://image-net.org/challenges/LSVRC/
- COCO - http://cocodataset.org | http://mscoco.org/dataset/#overview
- C

[2017-09-01 19:52] ct-clmsn opened #10 "json export support for dag elements"
phylanx dags should be exportable to a json formatted file for analysis and visualization purposes. preference is to support json processing offered by [networkx](https://networkx.github.io/).

[2017-09-01 22:26] ct-clmsn commented on #2
@hkaiser @stevenrbrandt I've started implementing some algorithms in python (matrix factorizations) in the unit testing directory. This should help demonstrate some end-user challenges and help guide the front/back end implementations. Hopefully the examples clarify the use case(s) a bit.

[2017-09-02 00:25] hkaiser commented on #4
Done.

[2017-09-02 00:25] #4 closed

[2017-09-06 03:56] ct-clmsn opened #16 "implement python bindings for phylanx::ast structures"
use pybind11 to create the python module bindings for phylanx::ast structures.

[2017-09-06 10:53] hkaiser commented on #16
@ct-clmsn this is in the works here: https://github.com/STEllAR-GROUP/phylanx/pull/13

[2017-09-07 01:38] ct-clmsn commented on #16
got it - will close

[2017-09-07 01:38] #16 closed

[2017-09-08 03:08] ct-clmsn opened #19 "tangent integration"
Test Python bindings for interoperability with SymPy.

[2017-09-12 00:34] ct-clmsn commented on #10
@hkaiser would [boost.propertytree](http://www.boost.org/doc/libs/1_64_0/doc/html/property_tree.html) be a reasonable solution? boost::property_tree::json_parser::write_json looks like an appealing solution. with that in mind, boost.propoerty tree might require linking against -lboost_system.

[2017-09-14 15:19] justwagle opened #23 "Logistic Regression Algorithm"
As a first step towards implementing Logistic Regression in Phylanx, linked below is a simple implementation of the logistic regression algorithm in Python.

https://gist.github.com/justwagle/0a75572e7b34252916dc9a5c894a4ef0

Primitives required for the above algorithm are as follows :

- [x] N Dimensional Array
- [x] Transpose Operation
- [x] Dot Operation
- [x] + , - , * , /  Operations
- [x] as

[2017-09-14 16:18] hkaiser commented on #23
@justwagle two questions:

- Is it ok to stick to 0-2 dimension for this for now? I.e. does it make sense to have this algorithm implemented for 0-2 dimensional data?
- Should we rely on numpy's internal implementation and use this directly? Would Eigen3 be a viable option?

[2017-09-14 16:39] justwagle commented on #23
I think it should be OK to have this implemented for 0-2 dimensional data for now. As far as using numpy's internal implementation or Eigen3, I need to put more thought into that.

[2017-09-14 17:03] ct-clmsn commented on #10
@hkaiser leaving it up to python would be perfect. thanks!

[2017-09-14 17:14] ct-clmsn commented on #23
@justwagle nice! as an aside, here are two similarly structured solutions as a point of comparison against scikit learn: [one](https://stackoverflow.com/questions/17784587/gradient-descent-using-python-and-numpy), [two](https://github.com/mattnedrich/GradientDescentExample/blob/master/gradient_descent_example.py)

[2017-09-14 23:27] ct-clmsn opened #24 "ast-matching (and more) features"
There are a couple of capabilities that *could be added* into the ast-matcher that might be useful for testing and ast/ir optimization.

- [ ] provide a "finite-state-machine styled" mechanism to create a set of asts (or ir) to perform a match against given an input ast (or ir).
- [ ] provide a finite-state-transducer (weighted and un-weighted) that could be used to make modifications on an input

[2017-09-15 13:19] ct-clmsn commented on #24
Additional references/resources for tree/dag transducers:

- [ ] [DAGGER: A Toolkit for Automata on Directed Acyclic Graphs](http://www.ims.uni-stuttgart.de/forschung/ressourcen/werkzeuge/dagger.en.html)
- [ ] [Kleen](https://github.com/alexrudnick/kurt) - [kleen paper](https://arxiv.org/abs/1203.6136)
- [ ] ["Training Tree Transducers", Jonathan Graehl, Kevin Knight and Jonathan
May. Computationa

[2017-09-17 22:37] ct-clmsn opened #25 "tune cmake install functionality for python"
phylanxrun.py and the compiled phylanx python-c module ( phylanx.cpython-*.so) currently do not install into the CMAKE_INSTALL_PREFIX directory. The files are installed into the cmake build directory.

In the python-c module's case, it does not install into the default PYTHONPATH. Strongly encourage some type of cmake-setup.py solution. The documentation on [this site](https://bloerg.net/2012/11/1

[2017-09-17 23:43] hkaiser commented on #25
I'm not very knowledgeable in this domain - any help would be appreciated.
@stevenrbrandt would that be something you could take care of?

[2017-09-18 01:07] ct-clmsn opened #26 "sympy/sage integration point(s)"
A source code review of SymPy recovered [this gem](https://github.com/sympy/sympy/blob/master/sympy/core/tests/test_expr.py). The class 'DummyNumber', on line 22, has a description of the class requirements necessary for providing a SymPy 'Number'. This ticket will be expanded to include additional examples or requirements necessary for SymPy integration.

- [ ] A 'Number' type

[2017-09-18 01:27] hkaiser commented on #26
@ct-clmsn Nice!

[2017-09-21 15:32] justwagle opened #30 "Test for generate_tree does not fail"
If we go to the following file:
https://github.com/STEllAR-GROUP/phylanx/blob/master/tests/unit/execution_tree/generate_tree.cpp

and change the expected values in the following code :
[code]

to something that should obviously fail such as :
[code]
where, A= 41.0,  B=1.0 and C=13.0, the test still passes.

Tested with current master as of today.  Commit 13b8f6481692da36093a3520f09d1d55a6d4dd3f
GC

[2017-09-21 18:37] #30 closed

[2017-09-23 15:30] hkaiser commented on #25
This has been partially addressed by merging #29. More work is required for this, though.

[2017-09-27 04:37] rtohid opened #35 "Alternating Least Square (ALS) Requirements"
Required primitives:

- [x] Scalar-matrix multiplication
- [x] Matrix transpose
- [x] Matrix multiplication
- [x] Matrix addition / subtraction
- [x] Slicing
- [x] Dot product
- [x] Identity matrix similar to numpy.identity (#146)
- [x] Elementwise comparison similar to numpy (#187)
- [x] Return a matrix with the input vector on its diagonal, similar to `numpy.diag` (#186)

[2017-09-27 15:35] hkaiser commented on #35
Could you write a small Python script implementing a naïve version of this algorithm and link it from here, please?

[2017-09-27 23:40] khuck opened #37 "Errors building Phylanx"
I am getting these errors when building on x86_64 with python 3.3.4 and gcc 7.1:

[code]

When I look in that directory, I see _phylanxd.so, but not _phylanxd.cpython-33m.so.  I have no idea where this is coming from in the CMake infrastructure...

[2017-09-27 23:53] hkaiser commented on #37
I still have to find out where and how the pybind11 cmake scripts decide on the naming of the generated extension module.

There are three different pieces of code relying/determining what name is used:

- pybind11_add_module
- python setup.py build/install
- our cmake scripts dealing with naming of the library

All of this is currently out of whack, apparently - and obviously needs to be resolved

[2017-09-28 01:22] hkaiser commented on #37
Just to clarify: pybind11_add_module and setup.py seem to agree on the naming scheme. The problematic part is our cmake scripting which I have not gotten to be correct yet.

@khuck: may I ask you to post the full cmake output and make log for reference?

[2017-09-28 16:19] khuck commented on #37
<script src="https://gist.github.com/khuck/7dea58edfcba148c0e2c10f8cfa41bd2.js"></script>

[2017-09-28 16:19] khuck commented on #37
Sorry, https://gist.github.com/khuck/7dea58edfcba148c0e2c10f8cfa41bd2

[2017-09-28 18:27] hkaiser commented on #37
@khuck in your case pybind11_add_module seems to disagree with the python setup tools what name should be used for the extension module - strange. The assumption that those agree was one of the underlying assumptions to the current cmake scripting :/

[2017-09-28 18:29] khuck commented on #37
Is that because "python" is /usr/bin/python and "python3" is the one that CMake detected?  I don't have a "python" executable in my python3.3.4 installation.

[2017-10-01 16:30] ct-clmsn opened #40 "eigen3 to blaze migration"
Migrate Phylanx data primitives from [Eigen] to [Blaze].

- [x] Update the CMake scripts to find Blaze - PR #71
- [x] The big sweep - PR #78
  - [x] [Serialization]
  - [x] [`node_data`]
  - [x] Update [primitives]
  - [x] Port [tests] to Blaze
- [x] Update the CI System
  - [x] @khuck's buildbot
  - [x] [AppVeyor]
  - [x] [Circle-CI]
- [x] Update build instructions on [wiki]
- [x] Integrate HPX i

[2017-10-01 17:44] ct-clmsn opened #41 "add space filling curve support to blaze"
Implement morton-order (z-curve), peano-curve, and hilbert curve storage formats to blaze matrices.

[2017-10-04 15:51] khuck opened #44 "Phylanx tests fail with JEMalloc 5.0"
When HPX and Phylanx are built with JEMalloc 5.0, three of the tests fail:

[code]

These tests execute fine with the system allocator and with tcmalloc from gperftools 2.5.  Apparently there is a problem when dlopen() is used to open the libjemalloc.so library from inside the python interpreter.  This error does not happen if the libjemalloc.so library is preloaded before executing python.

[2017-10-04 18:57] hkaiser commented on #44
We should add a warning to our cmake scripts informing the user of this incompatibility if jemalloc was selected as the allocator while building HPX.

[2017-10-04 20:31] ct-clmsn commented on #44
@khuck nice find and thank you for tracking down an explanation. I had no idea jemalloc, dlopen, and python did not play nicely with each other.

[2017-10-05 18:37] hkaiser opened #47 "Add a generic means of determing the match pattern for a primitive"
Currently, the matching of expressions against patterns relies on add-hoc matching patterns to be provided. We should let the primitives themselves expose an appropriate pattern.

A possible way would be to expose the pattern as a `constexpr` member variable of the primitive, for instance:
[code]

[2017-10-06 23:54] #47 closed

[2017-10-07 00:10] hkaiser commented on #37
Was this resolved now?

[2017-10-07 00:11] hkaiser commented on #25
I think this can be closed now. The Python extension has been properly integrated into the build and installation process. Feel free to reopen if something is still missing.

[2017-10-07 00:11] #25 closed

[2017-10-07 21:58] khuck commented on #37
Nope. See http://ktau.nic.uoregon.edu:8020/waterfall, the x86_64-gcc7 build - http://ktau.nic.uoregon.edu:8020/builders/x86_64-gcc7-release/builds/3/steps/Compile%20Phylanx/logs/stdio

[2017-10-07 22:31] hkaiser commented on #23
FWIW, the LR-algorithm as sketched out by @justwagle above could be represented using the currently available (and planned) primitives as:

[code]

[2017-10-08 16:58] ct-clmsn opened #50 "investigate ONNX"
At some future point, examine the ONNX ([Open Neural Network Exchange](https://research.fb.com/facebook-and-microsoft-introduce-new-open-ecosystem-for-interchangeable-ai-frameworks/)) initiative to see if there's an integration point or value in providing an integration point.

https://github.com/onnx/onnx

[2017-10-08 17:02] ct-clmsn opened #51 "investigate TVM/NNVM"
At some future point, Investigate potential Phylanx/HPX integration opportunities in NNVM/TVM.

http://tvmlang.org/2017/08/17/tvm-release-announcement.html

[2017-10-09 12:32] hkaiser opened #55 "Lifetime issues with expression trees"
The following use case may break things:

[code]

We need to adapt all primitives to keep itself alive until evaluation has finished.

[2017-10-09 12:57] hkaiser opened #56 "Adapt literal_value primitive"
Currently, the `literal_value` has the following drawbacks:

- [ ] it has a bad name, `variable` would be better
- [ ] it has to be constructed differently compared to all the other primitives (its constructor expects a `node_data` instance)
- [ ] it should be able to store a `primitive_result_value` (`nil`, `bool, `std::int64_t`, `std::string`, or `node_data`)

[2017-10-11 18:10] #56 closed

[2017-10-11 20:46] aserio opened #63 "Multiple Matches Required"
In order to match the two supported use cases of `if` (i.e. `if(cond, true_case, false_case)` and `if(cond, true_case)` ) we currently use `if(_1, __2)`. This will not warn the user that she is passing too many arguments to if once she exceeds three.

A novel way to express this use case or the ability to describe multiple map conditions is desired.

[2017-10-12 14:53] hkaiser commented on #23
This was fixed by merging #62

[2017-10-12 14:53] #23 closed

[2017-10-12 14:55] hkaiser commented on #35
@rtohid ping?

[2017-10-13 14:43] rtohid commented on #35
https://goo.gl/vzRZXx

[2017-10-13 22:38] #63 closed

[2017-10-13 23:04] ct-clmsn opened #68 "file reader(s)"
provide customized file readers for the following formats to assist with debugging

- csv
- [Matrix Market](http://math.nist.gov/MatrixMarket/)
- [numpy text storage format](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.savetxt.html)
- [numpy binary storage format](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.tofile.html#numpy.ndarray.tofile)
- [svmlight](

[2017-10-13 23:09] hkaiser commented on #68
Very nice, thanks! @hapoo this might be something for you!

[2017-10-14 21:30] hkaiser commented on #55
This was fixed by merging #65

[2017-10-14 21:30] #55 closed

[2017-10-15 19:40] ct-clmsn commented on #68
@hkaiser @hapoo glad to hear it will work as a starting point for future conversations.

[2017-10-17 18:39] parsa commented on #40
CMake issue:
* Blaze CMake scripts do not provide any information about the version and the location of the library.
* vcpkg installation does not provide `blaze-config.cmake` Microsoft/vcpkg/issues/1996
* Library verification can be temporarily bypassed by setting `PHYLANX_SKIP_BLAZE_CHECK` to any value. (e.g. `cmake -DPHYLANX_SKIP_BLAZE_CHECK=On <other flags> <directory>`)

[2017-10-17 22:08] monil01 commented on #37
I found that....
The compilation problem came from the unavailability of library file from python lib directory of Delphi machine. Cmake functions of Phylanx look for libpythonX.Xm.so library and based on this name it generates suffix for Phylanx library. In Delphi, for python 3.3.4 directory there is no .so file that is why the name generation process became messed up. I have tried with python 3.

[2017-10-17 22:34] khuck commented on #37
@hkaiser Is this a case we want to deal with, or should we expect that the user has python shared objects?

[2017-10-18 00:39] hkaiser commented on #37
@khuck: uhh - I didn't even know there was an option to build the python libraries statically.

@monil01: thanks for your thorough analysis. Is there a way to detect which type of python libraries are installed? Our cmake scripts try to generate the correct name for the python extension module based on some (obviously insufficient) knowledge. The script is here: https://github.com/STEllAR-GROUP/ph

[2017-10-19 20:41] hapoo opened #75 "Problem in build dependency for some tests"
Some tests fail if you directly issue `make tests` command after cmake configuration but they will pass if first do the `make` and then `make tests`. These tests are:
- tests.unit.execution_tree.generate_tree
- tests.unit.primitives.invoke_operation
- tests.unit.python.ast.generate_ast
- tests.unit.python.ast.node
- tests.unit.python.ast.traverse_ast
- tests.unit.python.ast.python_builds_ast

[2017-10-19 21:16] hapoo commented on #75
Ops, That's my bad, I believe I was testing on different branches. I'm going to close the issue.

[2017-10-19 21:16] #75 closed

[2017-10-25 00:54] parsa opened #79 "Add BLAS support"
BLAS is required by some Blaze functions we use in Phylanx. e.g. [matrix inversion](https://bitbucket.org/blaze-lib/blaze/wiki/Matrix%20Operations#!matrix-inversion) and [matrix determinant](https://bitbucket.org/blaze-lib/blaze/wiki/Matrix%20Operations#!det)

Needs CMake support.

[2017-10-25 01:39] ct-clmsn commented on #79
@parsa @hkaiser would the existing [HPX blas infrastructure](https://github.com/STEllAR-GROUP/hpxla) be worth revisiting?

[2017-10-25 02:00] hkaiser commented on #79
@ct-clmsn interesting idea. Please understand however that this was never a) verified to properly work, nor b) never optimized for performance. But as a fallback this might be something to look into. Thanks for reminding me of this work - I had completely forgotten that it existed.

[2017-10-25 02:07] ct-clmsn commented on #79
@hkaiser could blaze (or an hpx-integrated blaze) fit into it as a matrix-template type?

[2017-10-25 21:51] parsa commented on #40
@khuck what's Blaze status on your machines?

[2017-10-25 21:56] khuck commented on #40
The builds are already building blaze.

[2017-10-25 21:58] khuck commented on #40
...but the phylanx builds are failing.

http://ktau.nic.uoregon.edu:8020/builders/ppc64le-clang5-release/builds/54/steps/Compile%20Phylanx/logs/stdio

[2017-10-25 22:01] khuck commented on #40
Why is the path to Blaze non-standard?  That is, why not -Dblaze_DIR=... instead of -Dblaze_INCLUDE_DIR?

[2017-10-25 22:11] parsa commented on #40
Because as far as I can tell Blaze's CMake scripts don't reveal or include the the path of the header files. Please use `blaze_INCLUDE_DIR` instead.

[2017-10-25 23:10] khuck commented on #40
build finished, tests failed.  http://ktau.nic.uoregon.edu:8020/waterfall

It still requires eigen3, or else configure fails.

[2017-10-25 23:31] parsa commented on #40
@hkaiser I don't know which build you're talking about, but I'm looking at [build 72](http://ktau.nic.uoregon.edu:8020/builders/x86_64-gcc7-release/builds/72/steps/Test%20Phylanx/logs/stdio) and it shows only the Python tests fail.

[2017-10-25 23:34] khuck commented on #40
Sorry, I was a bit misleading.  I was just letting you know that without setting -Deigen3_DIR, configure will fail.  For now, I have left it in for the buildbot scripts.   You should change CMakeLists.txt to not require eigen3 if the phylanx code has changed to blaze.

[2017-10-25 23:36] parsa commented on #40
It also doesn't need Eigen as you can see in the [log of the CMake run](http://ktau.nic.uoregon.edu:8020/builders/x86_64-gcc7-release/builds/72/steps/Configure%20Phylanx/logs/stdio):

[code]

I've already either removed or updated all references to Eigen in the code.

[2017-10-26 20:40] parsa commented on #40
Tasks done.

[2017-10-26 20:40] #40 closed

[2017-10-27 18:32] hkaiser opened #83 "Matrix dimensions are used inconsistent in API"
The dimensions used/returned from `node_data` have inconsistent ordering (partially `[rows, columns]`, partially `[column, rows]`). This is confusing and error prone and needs fixing.

[2017-10-27 21:10] parsa commented on #83
Addressed in #84

[2017-10-28 16:10] ct-clmsn commented on #41
@aserio @hkaiser : A compiling version of mortonorder pushed to [bitbucket](https://bitbucket.org/ct-clmsn/blaze/branches/).

[2017-10-28 20:09] #83 closed

[2017-10-29 15:23] ct-clmsn opened #89 "study tree transducers"
literature review papers/implementations of tree transducers for expression tree optimization.

[2017-10-29 15:25] ct-clmsn commented on #89
@aserio @hkaiser I've started putting a prototype a tree transducer in c++ guided by the KURT python implementation and the paper "[Training Tree Transducers](http://www.aclweb.org/anthology/J/J08/J08-3004.pdf)", Jonathan Graehl, Kevin Knight and Jonathan May. Computational Linguistics, 34(3), 2008.

[2017-10-29 15:32] hkaiser commented on #89
@ct-clmsn very interesting. Would you mind sharing your code? I started to work on a simple straightforward transducer code for our ASTs here: https://github.com/STEllAR-GROUP/phylanx/tree/transform_ast (especially see here for some examples: https://github.com/STEllAR-GROUP/phylanx/blob/transform_ast/tests/unit/ast/transform_ast.cpp), I'd like to join forces on this...

[2017-10-29 15:38] ct-clmsn commented on #89
@hkaiser sure thing - is there a committed bit of source available as a branch?

[2017-10-29 15:40] ct-clmsn commented on #89
@hkaiser that previous comment was weird. i'm working on 1 cup of coffee this morning. will review your work and try to integrate.

[2017-10-29 15:45] ct-clmsn commented on #41
@aserio @hkaiser debugging small implementation errors.

[2017-10-29 20:33] ct-clmsn commented on #41
@aserio @hkaiser fixed testing infrastructure and morton order implementation to compile for the trivial dense matrix unit test. there are several more unit tests that need to be implemented and supported. i'll contact the blaze-lib team with some implementation questions tonight.

[2017-10-31 23:31] hkaiser commented on #44
@monil01 Would you mind trying to add an error/warning message to the cmake build-system if phylanx is being configured with an HPX that was built against jemalloc?

[2017-11-02 00:16] hkaiser commented on #79
This has been fixed by merging #88.

[2017-11-02 00:16] #79 closed

[2017-11-02 00:55] monil01 commented on #44
@hkaiser I have added a Warning if phylanx is configured with an HPX that was built with jemalloc.

[2017-11-02 01:05] parsa opened #96 "Create performance counters for primitives"
This should be done in a way that all primitives almost automatically have performance counters associated with each of them. We should at least create two performance counters for each of the primitives:

    /phylanx{locality#N/<primitive-name>}/invocation-count
    /phylanx{locality#N/<primitive-name>}/execution-time

[2017-11-02 04:27] parsa opened #97 "Use SIMD data types for blaze::map operations"
See here for details:
* [Issue 38 - Introduce custom operations for vectors and matrices - BitBucket](https://bitbucket.org/blaze-lib/blaze/issues/38/introduce-custom-operations-for-vectors.)
* [Vector and Matrix Customization/The `map()` Functions - Blaze Documentation - BitBucket](https://bitbucket.org/blaze-lib/blaze/wiki/Vector%20and%20Matrix%20Customization#!the-map-functions)

[2017-11-04 04:47] justwagle opened #101 "Add inspect to phylanx"
We should add inspect tool to Phylanx like the one we have for HPX.

[2017-11-04 12:56] ct-clmsn commented on #101
@justwagle good call. just to clarify - a script that does some moderate amount of lint-testing?

[2017-11-04 12:58] ct-clmsn commented on #89
@hkaiser have you ever worked with [Binary Decision Diagrams](https://en.wikipedia.org/wiki/Binary_decision_diagram)? I found a couple papers that encouraged BDD use in a finite tree transducer implementation.

[2017-11-04 13:55] hkaiser commented on #89
@ct-clmsn I have not heard about those. I'll try read up a bit.

[2017-11-04 13:59] hkaiser commented on #101
@ct-clmsn we use it for HPX as part of the contiguous integration tests with very good results, see here for instance for a report it generates: https://8536-4455628-gh.circle-artifacts.com/0/tmp/circle-artifacts.N4s78oK/hpx_inspect_report.html

[2017-11-04 17:08] ct-clmsn commented on #89
@hkaiser the "Multi-Terminal Binary Decision Diagrams: An. Efficient Data Structure for Matrix Representation. Edmund M. Clarke. Carnegie Mellon University. M. Fujita." is probably the best starting point.

[2017-11-15 17:40] parsa commented on #68
From Phylanx project mailing list:

[2017-11-17 19:23] justwagle opened #106 "Define is not working as expected"
Define is not working as expected.
An example of this would be the one seen in the LRA example where defines inside the body of the loop were not getting executed more than once and each subsequent iteration of the loop was using old values.

[2017-11-28 20:37] justwagle opened #111 "File Read and Slicing in one primitive"
It would be better if we could have a primitive that performs file read as well as slicing.
Currently, we have two primitives, one for slicing and one for reading file.

[2017-11-28 22:09] hkaiser commented on #111
This could be applied as an optimization in the middleware, replacing `slice(file_read(name), sliceopts)` by `file_read(name, sliceopts)`.

[2017-12-01 16:57] stevenrbrandt opened #114 "Create a test for Release as well as Debug on Circle CI"
Tests need to run for Release as well as Debug. Currently, Debug works and Release segfaults.
--Steve

[2017-12-04 20:22] khuck opened #116 "Release build crash when phylanx imported into Python"
The Release and RelWithDebInfo builds of Phylanx crash when the phylanx module is imported into python.

This was caused by `__argc` and `__argv` not getting set correctly before passing them to HPX.

[2017-12-04 20:22] khuck commented on #116
This has been fixed by #115

[2017-12-04 20:27] khuck opened #117 "CMake strips all builds"
Our CMake configuration is stripping all builds, release, relwithdebinfo, debug all the time when building the install target.  This is only supposed to happen with the install/strip target, not install.

I am using CMake 3.9.3

[2017-12-04 20:43] hkaiser commented on #97
Part of this was resolved by #110

[2017-12-05 01:48] #116 closed

[2017-12-05 23:27] rtohid opened #119 "Error Building Phylanx on Mac"
I get the following error when building on Mac:

[code]
It seems CMake expects _phylanxd.cpython-36m-darwin.so to be only loaded but not linked. For more info please see https://goo.gl/BQqJ6X

Dirty fix to work around this:
Replace -bundle with -dynamiclib in {BUILD_DIR}/python/src/CMakeFiles/phylanx_py.dir/link.txt once the configuration is done.

[2017-12-05 23:58] khuck opened #120 "Pybind can't build with Intel icpc 18"
Building Pybind on KNL with Intel 18 (with 6.3 glibc/glibc++) fails:

/var/lib/buildbot/slaves/phylanx/knl-icc18-release/build/tools/buildbot/src/pybind11-2.2.0/include/pybind11/numpy.h(1449): error: no instance of function template "pybind11::detail::vectorize_helper<Func, Return, Args...>::run [with Func=double (*)(int, float, double), Return=double, Args=<int, float, double>]" matches the argum

[2017-12-06 01:14] hkaiser commented on #120
This is from the pybind test suite. I don't think we need to build that for our libraries. Could you try disabling building the tests for pybind, please? Also, you might want to report this to the pybind project as a problem for them to look into: https://github.com/pybind/pybind11.

[2017-12-06 01:36] khuck commented on #120
Roger that.  I'll look into disabling the test suite part of the build.

[2017-12-06 14:37] hkaiser opened #121 "Decide whether to invoke eval directly"
All primitives expose their functionality through their `eval` (or `eval_direct`) action. By default those are invoked asynchronously, i.e. run on a new HPX thread. For certain operations this creates too much overhead and could be optimized by invoking the corresponding direct action instead (`eval_direct`). In general it is not always possible to make the decision at compile time which of those

[2017-12-06 14:39] hkaiser opened #122 "Make sure node_data does not cause excessive copying of data"
Currently our `node_data` data container may cause excessive memory operations. We have to make sure this does not cause additional overheads.

[2017-12-06 18:10] khuck commented on #120
OK, updated.  All the pre-requisites "build" OK now, but icpc throws an assertion when compiling add_operation.cpp:

[code]

I will submit this as a bug to Intel, but is there a way to avoid triggering this error in the compiler?

[2017-12-06 22:27] hkaiser commented on #120
@khuck: do we know what's causing this ICE? Without that knowledge it's closely to impossible to find a workaround...

[2017-12-06 22:33] khuck commented on #120
@hkaiser I don't, I haven't had time to isolate it to a specific item.  but since it seems *every* file fails with this error, I suspect it is in a phylanx header file.

[2017-12-10 18:09] hkaiser opened #125 "Possible visualization of expression evaluation"
This is meant to be a sketch of an idea how we could visualize the evaluation of an execution tree. Let's assume we have a simple expression `store(A, add(B, C))`, then the following visualization allows to quickly understand what part of the expression evaluation took how long:

![expr](https://user-images.githubusercontent.com/568063/33807778-757e8816-dda1-11e7-8e9b-c64dbcd6a47a.png)

An impleme

[2017-12-14 14:26] kisaacs commented on #125
It sounds like you know what data we need (tree specification, correspondence to code/variable names, metrics). Who do we see as the user for these? Phylanx developers or phylanx users?

If it's developers first, as a first cut, we could write a script that outputs a static PDF -- this might match the quick command-line workflow (or even we could probably output them to the command line as ASCII o

[2017-12-14 17:01] hkaiser opened #128 "Extend `slice()` primitives to support negative indicies"
This should allow for accessing columns/rows relative to the end of the array instead of relative to the beginning.

[2017-12-14 17:03] hkaiser opened #129 "Redesign node_data for more efficient data management"
Currently, `node_data` performs a deep-copy operation on each assignment. Changing this to a shallow-copy operation might help reducing overheads. This has to be done very carefully, though as it may have implications for concurrent data access.

[2017-12-14 19:23] hkaiser commented on #125
For now it's mostly us developers being interested in getting our performance straight. Later on users might be interested as well, I'm not sure if that's too low level for them.

Looks nice.

The trees might become very large, so some means of aggregation of sub-trees during visualization might be needed as well.

[2017-12-14 19:27] hkaiser commented on #125
Another thoughts:

- Our trees are to be evaluated concurrently (i.e. sub-trees of the same node might 'run' in parallel). It might be interesting to somehow visualize the amount of parallelism achieved while evaluating the tree. -- Also visualizing the critical path of evaluating the tree (i.e. what path from the root to any of the leaves takes the longest time to evaluate) might be useful.

[2017-12-14 20:27] stevenrbrandt opened #130 "Cannot import Phylanx on Fedora"
When the attached Dockerfile is used to build Phylanx on Fedora, the resulting Python library does not run.
[code]
[PhylanxReleaseDockerfile.txt](https://github.com/STEllAR-GROUP/phylanx/files/1560609/PhylanxReleaseDockerfile.txt)

[2017-12-15 04:11] stevenrbrandt commented on #125
On Thu, Dec 14, 2017 at 9:46 PM, Kate Isaacs <notifications@github.com>
wrote:

Jupyter notebooks let you have web-based interactivity *and* a command line.

It also has built-in visualzation capabilities based on matplotlib.

--Steve

[2017-12-15 16:20] khuck commented on #125
Interestingly, Nick Chaimov is rewriting some TAU viz tools with jupyterlab, and getting some very promising results.  But not all charting libraries in Python are created equal, and getting an interactive output is not that straightforward.  Matplotlib, for example, only outputs static images.

I don't know what's available for interactive viz of graphs/trees in Python, though.

[2017-12-15 16:51] stevenrbrandt commented on #125
Actually, matplotlib also does movies. In addition, it's possible to get
Jupyter + matplotlib to regenerate images on the fly in response to
sliders, etc.

--Steve

On Fri, Dec 15, 2017 at 10:20 AM, Kevin Huck <notifications@github.com>
wrote:

[2017-12-15 16:55] ct-clmsn commented on #125
@kisaacs perfopticon looks like an excellent starting point. A couple of web-based (python/javascript) implementation technologies:

[D3](https://d3js.org/)
[Bokeh](http://bokeh.pydata.org/en/latest/)
[plotly](https://plot.ly/) - plotly provides some python and javascript development tools ie: [Dash](https://plot.ly/products/dash/), [plotly.js](https://plot.ly/plotly-js-scientific-d3-charting-libr

[2017-12-15 17:04] ct-clmsn commented on #125
@hkaiser

That would be a nice experiment - every critical path node pushes a "progress" message to the visualization server.

[2017-12-15 17:12] khuck commented on #125
Bokeh is what Nick is using (so far).

@ct-clmsn  The TAU tools are 10-15 year old Java implementations.  It's long, long overdue.  We've talked about it for years, but it's not "research", so...

[2017-12-15 17:29] ct-clmsn commented on #125
@khuck nice, that helps sort out the space. measuring the community support for visualization tools is no easy task. would you want to push information about APEX's policy choices out to the visualization tool (Subtree/node X met the criteria for an APEX policy to engage)?

[2017-12-15 19:01] justwagle opened #131 "Pattern matching is not working for negative values"
Negative values passed to primitives results in the following exception :
[code]

To Reproduce:
change any one of the parameters in the slicing primitive in the lra_csv example ( [https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/lra_csv.cpp](url) ) from the repository to -1. For example, changing slice(file_read_csv(filepath), 0, 569, 0, 30) to slice(file_read_csv(filepath)

[2017-12-15 19:49] hkaiser commented on #131
@justwagle see #132 and please report back on whether this solves your issue.

[2017-12-15 20:10] justwagle commented on #131
@hkaiser That fixed it. Thank you very much.

[2017-12-15 20:11] #131 closed

[2017-12-15 20:33] kisaacs commented on #125
@stevenrbrandt I was thinking of developers using the shell--sorry, should have been more clear. I don't think they're doing their shell access through Jupyter, though they could. How Jupyter-workflows may change the visualization-interaction process is something I've been thinking about for a while, but I don't think we have the users right now. I'm more concerned with direct manipulation of node

[2017-12-15 21:16] hkaiser commented on #125
@kisaacs in what format would you like to have the tree (connectivity) data in? Are there any 'standard' formats normally used for this?

[2017-12-15 21:25] kisaacs commented on #125
@hkaiser The dot format (what GraphViz uses) is common for visualizing graphs which has a side benefit of always being able to just run dot. More compact formats exist for big data graph processing, especially since trees are sparse--we can always convert. If we're sure it will be a tree, the Newick format is pretty compact.

[2017-12-15 21:33] khuck commented on #125
@hkaiser @kisaacs APEX already has code in place to generate this, we just have to make the calls.  All that is needed is to add this API call during a task:
[code]

Then run with the APEX_TASKGRAPH_OUTPUT environment variable set to 1.

The question is "where to put the apex::new_task() call?"

[2017-12-15 22:36] hkaiser commented on #125
@khuck should we really conflate the task API exposed by APEX (that is meant for tracking HPX tasks, right?) with the logical execution tree structure (that might contain loops etc., i.e. single nodes/sub-trees that would create a lot of HPX tasks while being executed)?

[2017-12-15 23:00] khuck commented on #125
@hkaiser probably not.  But @kisaacs was asking for data... :)

[2017-12-17 01:23] hkaiser opened #134 "Missing tests"
The add primitive misses tests for certain supported use cases (matrix + scalar, etc.).

[2017-12-17 01:23] hkaiser commented on #134
@scheherzad would you be able to add the missing tests?

[2017-12-17 03:12] scheherzad commented on #134
Sure Dr. Kaiser, I'm working on it.

[2017-12-18 14:57] ct-clmsn opened #135 "model storage formats"
Determine if any of the following formats are worth providing an export feature for expression trees.

[ONNX](http://onnx.ai/)
[NNEF](https://www.khronos.org/nnef)

[2017-12-18 15:14] ct-clmsn opened #136 "SPDK/NVMe support?"
Is there value in providing storage support in phylanx or hpx for [SPDK](http://www.spdk.io/)?

[2017-12-18 16:00] ct-clmsn commented on #135
duplicate of #50

[2017-12-18 19:37] hkaiser commented on #136
This sounds like an interesting project. Especially the fact that they are explicitly supporting asynchrony should make it a viable candidate for our work.

@hapoo please put that on the list of things to investigate.

[2017-12-19 16:13] kisaacs commented on #125
Manually instrumenting an example might give us a better idea of what we really want/need before making the effort to code it in. I guess that means I should prioritize building Phylanx after all. Is there a suggested started application and part of the API we want to target for adding these calls?

[2017-12-20 08:37] hkaiser commented on #125
There is the LRA example (https://github.com/STEllAR-GROUP/phylanx/tree/master/examples/algorithms). I also think that @parsa should close in to having the first performance counters in place for us to be able to collect some date. I will also work on providing you with a means of traversing the execution tree soon.

[2017-12-22 20:31] stevenrbrandt commented on #130
Update: The problem appears to be that Phylanx doesn't run on a 2-socket machine. The issue has nothing to do with Fedora. The docker image stevenrbrandt/phylanx.release runs without difficulty on a 1-socket machine, but produces an error on a 2-socket machine.

[2017-12-24 21:34] hkaiser commented on #130
All of this makes les and less sense. But thanks for the update.

[2017-12-27 22:48] khuck opened #137 "Problem building on KNL with GCC 7.1 (Blaze bug)"
Submitted bug to Blaze:
<https://bitbucket.org/blaze-lib/blaze/issues/154/compilation-error-on-knl-with-march-knl>

Essentially, because Phylanx uses `-Werror`, converting the bit value to a `_MM_PERM_ENUM` value is not allowed.

Without this fix, KNL can't build with `-march=knl` (which enables AVX 512 vector instructions).  With it, the KNL build finishes and tests just fine.

[2017-12-31 17:56] ct-clmsn commented on #136
@hapoo @hkaiser would [AFIO](https://github.com/ned14/afio) be an alternative to consider? There was some interesting conversation in the sg14 community about NVMe, and AFIO, earlier in December.

[2018-01-03 17:51] stevenrbrandt commented on #130
If I compile with
HPX_WITH_MAX_CPU_COUNT=80
HPW_WITH_MORE_THAN_64_THREADS=ON
everything seems to work. I guess the problem is that HPX couldn't figure out the number of CPUs?

[2018-01-03 17:53] stevenrbrandt commented on #130
The need to compile something like this in is a potential problem if anyone wants to use HPX in a container.

[2018-01-03 18:07] khuck commented on #130
@stevenrbrandt in the buildbot scripts, I use both.  for example:

[code]

however, I get this message from the HPX configure:

[code]

See [this build log](http://ktau.nic.uoregon.edu:8020/builders/x86_64-gcc7-release/builds/193/steps/Get%20and%20Configure%20HPX/logs/stdio) for an example.

[2018-01-03 20:00] hkaiser commented on #130
@khuck you don't have to specify `HPX_HAVE_MORE_THAN_64_THREADS`, that's more of an internal variable set depending on `HPX_WITH_MAX_CPU_COUNT` (which defaults to 64).

[2018-01-04 17:36] hkaiser commented on #134
This has been fixed by merging #127

[2018-01-04 17:36] #134 closed

[2018-01-04 17:36] hkaiser commented on #128
This has been fixed by merging #133

[2018-01-04 17:36] #128 closed

[2018-01-04 17:38] hkaiser commented on #37
@khuck, @monil01: Can this be closed now?

[2018-01-04 17:38] hkaiser commented on #44
I think this can now be closed. Feel free to reopen, if needed.

[2018-01-04 17:38] #44 closed

[2018-01-04 17:39] hkaiser commented on #6
@khuck: can this be closed now?

[2018-01-04 19:24] khuck commented on #37
I don't see why not.  This is a corner case, configuration based.

[2018-01-04 19:24] #37 closed

[2018-01-04 19:25] #6 closed

[2018-01-09 14:59] #129 closed

[2018-01-11 21:18] justwagle opened #144 "Primitives for stacking/combining matrices"
We need something that is opposite of slicing i.e. joining matrices.  Also,  It would be useful to have primitives that provides similar functionality as hstack and vstack in numpy.

[2018-01-11 21:47] scheherzad opened #145 "Primitives needed for ALS algorithm"
- [x] Identity matrix similar to numpy.identity
- [ ] Elementwise comparison similar to numpy
- [ ] return a matrix with the input vector on its diagonal, similar to numpy.diag

[2018-01-12 18:24] ct-clmsn opened #147 "singularity container support"
provide a [singularity](http://singularity.lbl.gov/) container script.

https://github.com/singularityware/singularity

[2018-01-13 15:29] ct-clmsn commented on #144
@justwagle here are a couple reference documents that might help sort out a generalized solution.

https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.concatenate.html
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.column_stack.html
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.hstack.html
https://docs.scipy.org/doc/numpy-1.13.0/reference/genera

[2018-01-13 15:31] ct-clmsn commented on #24
I started work on implementing the tree transducer in c++, as defined in this [paper](www.aclweb.org/anthology/J08-3004).

[2018-01-15 15:44] hkaiser commented on #122
This was closed by merging #140

[2018-01-15 15:44] #122 closed

[2018-01-15 15:46] hkaiser commented on #97
This was fixed by merging #110

[2018-01-15 15:46] #97 closed

[2018-01-15 16:11] hkaiser commented on #96
The names for the counters should follow the established practice. Here is a list of possible names for the counters we should create for each of the primitives:

    /phylanx{locality#N/total}/<primitive>/count/eval
    /phylanx{locality#N/total}/<primitive>/time/eval
    /phylanx{locality#N/total}/<primitive>/count/direct-eval
    /phylanx{locality#N/total}/<primitive>/time/direct-eval

where `<

[2018-01-15 16:16] hkaiser commented on #145
This is a duplicate of #35. Closing this.

[2018-01-15 16:16] #145 closed

[2018-01-18 15:38] kisaacs commented on #125
@hkaiser I am not familiar with how the Newick format handles attributes. (@kawilliams might... can I get her added to this group/repository?) With the dot format, you can add attributes similar to HTML tag attributes. Libraries exist for accessing them. However, while it means keeping track of separate files, I like the table of attribute idea (like the CSV you suggest) assuming we have node IDs

[2018-01-18 15:39] khuck commented on #125
@hkaiser, @kisaacs The "dot" format is pretty widely used (from what I understand) and it allows multiple attributes for the graph, edges and nodes. However, as we are building the visualizer, I don't think we have to constrain ourselves to a specific format. "dot" is used for general graphs, but is a tree representation sufficient?

[2018-01-18 15:50] hkaiser commented on #125
@kisaacs I have sent an invitation to join this group to @kawilliams.

Even then we'd need to somehow write the information to disk...

[2018-01-18 15:51] hkaiser commented on #125
@khuck, @kisaacs: also, I will add generating the tree topology in dot format, that should give us more options.

[2018-01-18 16:15] hkaiser opened #153 "Generate expression tree topology in DOT format"
This is necessary as an option for writing the expression tree topology to disk for later analysis.

[2018-01-18 16:49] hkaiser commented on #125
@khuck from what I read (here: http://www.graphviz.org/doc/info/attrs.html), we can't simply add arbitrary attributes to the node description in the dot format, The attributes are restricted to the described set targeting mainly visualization properties. Is that correct?

[2018-01-18 18:29] stevenrbrandt opened #155 "console output prints twice if it takes an argument"
The issue is demonstrated by this short python code
[code]

[2018-01-18 21:30] hkaiser commented on #121
@ct-clmsn suggested today to allow for implementing this decision through executors. This would harmonize the execution of actions with other scheduling APIs we have. Using executors for actions will require to add the corresponding functionalities to HPX, though.

[2018-01-18 23:36] ct-clmsn opened #157 "support vector machine algorithm support"
decompose, analyze, and provide primitives supporting an implementation of a [support vector machine](https://www.coursera.org/learn/machine-learning/lecture/wrjaS/large-margin-intuition). a matlab implementation is provided [here](https://github.com/rieder91/MachineLearning/tree/master/Exercise%206/ex6); scikit-learn has an implementation that is more advanced and robust. If memory serves, this r

[2018-01-19 02:46] ct-clmsn commented on #121
@hkaiser related to [hpx/issues#1544](https://github.com/STEllAR-GROUP/hpx/issues/1544)?

[2018-01-19 03:12] hkaiser commented on #121
@ct-clmsn yep, that's the one.

[2018-01-19 14:46] hkaiser commented on #96
@parsa please have a look at https://github.com/STEllAR-GROUP/hpx/pull/3103, those changes will most probably needed for your work. Please comment over there if that's what you need for your work on the performance counters.

[2018-01-19 15:49] hkaiser opened #159 "`cout()` without arguments should emit a newline"

[2018-01-19 18:44] ct-clmsn opened #161 "phylanx expression tree serialization"
provide functionality to save an expression tree to a file; provide functionality to load an expression tree from a file into memory. this should help with reproducibility and visualization. consider providing a small program that can convert the stored expression tree into a variety of visualization formats. related to #153

[2018-01-19 19:05] #161 closed

[2018-01-19 19:05] ct-clmsn commented on #161
consolidated into #153

[2018-01-19 19:06] ct-clmsn commented on #153
provide functionality to save an expression tree to a file; provide functionality to load an expression tree from a file into memory. this should help with reproducibility, visualization, and analysis. consider providing a small program that can convert the stored expression tree into a variety of visualization formats.

[2018-01-19 20:17] hkaiser commented on #153
@ct-clmsn we can already store/load the AST. Would that be sufficient? We can easily create the expression tree from the AST.

[2018-01-20 14:41] ct-clmsn commented on #153
@hkaiser What exists is sufficient. I've a lingering (maybe _nagging_ is a better word) feeling that a binary format is something that might be revisited later.

[2018-01-20 21:30] #153 closed

[2018-01-20 21:32] hkaiser commented on #125
Done.

[2018-01-21 15:19] ct-clmsn opened #162 "t-sne algorithm support"
decompose, analyze, and provide primitives supporting an implementation of the t-sne algorithm. a numpy implementation is provided [here](http://lvdmaaten.github.io/tsne/). This request is outside the original set of algorithms planned to study and support.

[2018-01-21 17:35] hkaiser commented on #96
This will also require for https://github.com/STEllAR-GROUP/hpx/pull/3118 to be merged in order to be able to (re-)initialize the counters with the current list of instantiated primitives.

[2018-01-23 15:19] #155 closed

[2018-01-23 15:19] #159 closed

[2018-01-27 13:59] hkaiser commented on #144
This was fixed by merging #170

[2018-01-27 13:59] #144 closed

[2018-01-28 00:11] #101 closed

[2018-01-29 20:28] justwagle opened #177 "Arguments are not being passed correctly to define"
The following physl code produces unexpected output as the data passed to define is different from what is read inside.
[code]
Output:

[code]

[2018-01-29 20:59] justwagle opened #178 "Can not create a list in physl"
Minimal Testcase:
[code]
Output:
[code]

[2018-01-30 15:51] parsa opened #182 "Primitive performance instrumentation information"
* [x] Associate primitive performance data with primitive names (#189)
    * Performance information available via primitive count and time performance counters
    * Primitive names are registered in symbolic namespace.
    * Alternatively, primitive names could be extracted from the topology returned from `primitive::expression_topology()`
    * Initially create an example application
* [x] CSV

[2018-01-31 12:28] hkaiser commented on #96
This was fixed by merging #176

[2018-01-31 12:28] #96 closed

[2018-01-31 12:29] #177 closed

[2018-01-31 12:29] #178 closed

[2018-01-31 16:08] hkaiser opened #184 "Extend file_write_csv to accept lists"
## Expected Behavior

The `file_write_csv()` primitive should accept a list as its argument. This would cause for the elements of the list to be saved to the generated file in a concatenated way (see below for an example).

## Actual Behavior

Currently the `file_write_csv()` primitive accepts a single argument only.

## Additional information

I would like for the following code to work as expect

[2018-01-31 16:08] hkaiser commented on #184
@hapoo would that be something you'd like to take on?

[2018-01-31 17:45] hapoo opened #185 "Add HDF5 and HighFive to build system"
HDF5 and [HighFive], the header-only C++ HDF5 interface, should be added to the Docker image and to:

- [x] CircleCI and
- [x] AppVeyor tests

[HighFive]: https://github.com/BlueBrain/HighFive

[2018-02-01 18:21] stevenrbrandt opened #188 "slice(a, 0, -1, 0, -1) does not match Python semantics"
slice(a, 0, -1, 0, -1) does not match Python semantics
[code]

Output from the above
[code]
It should print the matrix twice (with slightly different formatting).

[2018-02-01 20:04] hkaiser commented on #188
@stevenrbrandt what does in print and what would you expect the example to print?

[2018-02-02 18:34] parsa opened #190 "block primitive #0 is not registered with AGAS"
Code to reproduce:
[code]
Output:
[code]
Expected:
[code]

[2018-02-03 18:33] hkaiser commented on #190
This is an artifact of how functions are currently being defined. The outermost `block()` is superfluous in any case and only used to satisfy syntactical limitations of the PhySL language.

A possible solution to this problem would be to treat the PhySL string as a (comma separated) list of expressions (currently those are treated as single expressions only). I wouldn't anticipate any bad side eff

[2018-02-03 23:27] hkaiser commented on #190
The problem turned out to be that the object representing the outermost `block()` primitive was released too early (not being kept alive). #193 fixes the problem.

[2018-02-04 00:17] ct-clmsn opened #195 "phylanx topology structure feature request(s)"
Tree transducers require an input tree stored in [chomsky normal form](https://en.wikipedia.org/wiki/Chomsky_normal_form) (a binary tree structure). Transducers additionally require a set of binary encodings, called paths, of a tree's topology. Each tree has multiple paths, each in the tree node has a path, and each path has a "label" (the literature uses the term 'label', think of this as a 'valu

[2018-02-04 18:13] hkaiser commented on #195
@ct-clmsn what kind of traversal do you need? in-fix, pre-fix, postfix?

Also, could you elaborate on the concept of 'path', please? What information should be encoded by it?

[2018-02-05 23:03] #190 closed

[2018-02-06 12:23] ct-clmsn commented on #195
@hkaiser working on a more thorough description!

[2018-02-06 17:15] ct-clmsn commented on #195
the traversal technique is a little complicated because of paths. A default prefix traversal is good. Paths are a binary string (sequence) that represents a traversal pattern through the tree. 0000 would mean walk the tree by visiting 4 left-child nodes. 0100 means visit the left child, the right child, and two left children. Example:

A( B, C )

0 -> B
1 -> C

A ( B ( D, E ), C )

00 -> D
01 -> E

[2018-02-08 05:18] ct-clmsn opened #206 "Gnumpy and Cudamat"
Both of these libraries look like they would provide promising "starter" primitives for dense matrix gpu support.

http://www.cs.toronto.edu/~tijmen/gnumpy.html
https://github.com/dnouri/gnumpy
https://github.com/cudamat/cudamat

[2018-02-08 13:20] hkaiser opened #207 "Make available various random number generators"

[2018-02-09 18:31] #182 closed

[2018-02-09 18:59] hkaiser opened #213 "`get_expression_topology()` for recursive functions causes stack overflow"
Calling `get_expression_topology()` for an expression tree that contains (self-)recursive function calls causes a stack overflow as it tries to follow the expression tree indefinitely.

[2018-02-12 15:26] hkaiser opened #216 "Too many performance counters generated"
The execution of this PhySL script:
[code]
yields the following performance data (as generated by the PhySL interpreter):
[code]

The performance counters related to the access-variable primitives are clearly duplicated, for instance:
[code]
where all three counters in the end refer to the same object (all have the same sequence number).

This suggests that too many performance counter instances a

[2018-02-12 15:26] hkaiser commented on #216
@parsa would you mind having a look?

[2018-02-13 20:58] parsa commented on #216
@hkaiser there are no extra performance counters created. See: [`primitive_counter.cpp`:110](https://github.com/STEllAR-GROUP/phylanx/blob/45319b3f3559f58234a095ff799d0e5a72b13944/tests/unit/performance_counters/primitive_counter.cpp#L110). I'll fix this.

[2018-02-13 22:10] hkaiser commented on #216
@parsa I think it is correct that for each variable access we create a separate access-variable instance. The problem appears to be the sequence number generated for each of those.

[2018-02-15 15:54] ct-clmsn commented on #207
Would [Boost.Random](http://www.boost.org/doc/libs/1_66_0/doc/html/boost_random.html) be sufficient for now?

[2018-02-15 18:24] hkaiser commented on #207
We can use `std::random::*` (http://en.cppreference.com/w/cpp/numeric/random), that gives us a nice headstart.

[2018-02-15 23:47] ct-clmsn opened #224 "WSL support"
WSL is the Windows-Subsystem-for Linux. Phylanx and HPX current compile and execute without issue on the platform. This ticket is notice that the platform is supported, being tested on, and operating well.

[2018-02-15 23:47] #224 closed

[2018-02-15 23:53] ct-clmsn opened #225 "tangent support for phylanx"
phylanx would benefit greatly from automatic-differentiation. it would be worth exploring if phylanx should have direct support in tangent. it might be easier to distribute tangent with phylanx in order to encourage or promote numpy users to use tangent before phylanx performs it's analysis of a user's numpy application (in this way phylanx doesn't have to support tangent, so you get tangent suppo

[2018-02-16 00:17] ct-clmsn commented on #206
https://developer.nvidia.com/cublas
http://clmathlibraries.github.io/clBLAS/index.html

[2018-02-16 02:09] #216 closed

[2018-02-16 23:21] stevenrbrandt opened #226 "Can't define arg at the start of a for loop"
[code]
Output
[code]

[2018-02-17 00:05] khuck opened #227 "Python configuration for running tests broken on OSX"
On OSX, the PYTHONPATH to the phylanx library is broken.  Here is the output from running ctest on one of the python examples:

[code]

[2018-02-17 00:06] khuck commented on #137
Fixed by the blaze team

[2018-02-17 00:06] #137 closed

[2018-02-17 00:27] hkaiser commented on #226
@stevenrbrandt this is an interesting scoping issue. The question is whether the `define(n, 3)` is visible in it's own scope only or in the wider scope of the `for()` statement. Making it visible in the `for()` scope would mean extending it's visibility beyond it's actual scope.

I'm not sure if that's what we want as it would require for `define()` to behave differently depending on whether it's

[2018-02-17 12:40] hkaiser commented on #226
@stevenrbrandt after thinking about this more I agree with you that the issue you reported is a bug. This needs to be fixed.

[2018-02-19 22:43] #188 closed

[2018-02-19 23:49] hkaiser commented on #226
@stevenrbrandt this is not a bug after all. You define `n` in the scope of the `for()` statement, so it's visibility is constrained to that. Then you refer to `n` _after_ the `for`, at which point it has gone out of scope. If you need the variable outside of the `for` scope it needs to be defined outside as well. This is similar to how things are done in C/C++:
[code]

[2018-02-19 23:57] ct-clmsn opened #232 "physl interpreter error messages"
print a line number for execution errors - general enough solution for identifying physl coding errors.

[2018-02-21 01:17] hkaiser commented on #185
That has been fixed.

[2018-02-21 01:17] #185 closed

[2018-02-21 17:09] stevenrbrandt commented on #226
OK, I see what you mean. However, if we replace the "n" outside the loop with a "1" , we still have the same error.
[code]

[2018-02-21 17:53] ct-clmsn commented on #89
Progress made:

- underlying data structures for expressing rules, variables, symbols, and states is complete (passes all unit tests)
- the first of 3 support algorithms (dependencies for training) are complete
- started implementing the training algorithm

[2018-02-21 17:58] ct-clmsn commented on #41
update:
- dense support is the target implementation
- completed basic dense support (passes the first suite of unit tests)
- working on the second suite of unit tests (progressing on matmul - [this algorithm](https://www.cise.ufl.edu/~sahni/papers/strassen.pdf))

[2018-02-21 18:01] ct-clmsn commented on #19
@hkaiser @stevenrbrandt do ya'll mind if this ticket is changed from sympy to tangent? tangent provides the specific capability that we originally aimed to inherit from sympy (auto-differentiation).

[2018-02-21 18:02] ct-clmsn commented on #26
@hkaiser @stevenrbrandt keep this ticket open or should it be closed b/c of tangent?

[2018-02-21 20:24] stevenrbrandt commented on #19
@ct-clmsn, Do we want to limit ourselves to auto-differentiation? I'm not clear on the pros and cons of SymPy  vs. Tangent at the moment.

[2018-02-21 20:26] hkaiser commented on #226
Now it complains about a different issue: `primitive_argument_type does not hold a literal value type`. This is a real issue which I will address.

[2018-02-21 20:30] stevenrbrandt commented on #226
Sorry, yes, it is a different error. This was the error I meant to report.

[2018-02-21 23:16] hkaiser commented on #26
@ct-clmsn I think it does not hurt to keep it open...

[2018-02-22 15:21] #226 closed

[2018-02-22 15:21] #232 closed

[2018-02-23 15:40] hapoo opened #243 "Cmake can't find HPX when HPX_DIR is set in environment varibales"
If `HPX_DIR` is set in environment variable rather than explicitly in `-DHPX_DIR=PATH`, cmake fails to find HPX.
There is no issue in finding other dependencies with environment variables.

[2018-02-23 16:07] scheherzade opened #244 "Can not create a list or a vector of previously defined variables"
Creating a list or of previously defined variables gives the following error message.

[code]
[code]
In case of vector:
[code]
[code]

[2018-02-23 17:35] scheherzade opened #245 "PhySL Modifies Untouched Variable"
The following PhySL code:

[code]
Produces output:
[code]

B is not supposed to be changed.

[2018-02-23 23:50] hkaiser commented on #245
This is caused by the add primitive, which 'reuses' the left-hand-side memory for the generated result.

[2018-02-24 00:07] khuck opened #247 "Clang 5.0 test error on POWER8"
http://ktau.nic.uoregon.edu:8020/builders/ppc64le-clang5-release/builds/283/steps/Test%20Phylanx/logs/stdio

Specific test that fails:
[code]
GDB output:

[code]

[2018-02-24 00:25] ct-clmsn commented on #244
@scheherzade would vstack and hstack be sufficient?

block(
    define(a, 5)
    , define(b, 6)
    , define(myvec, hstack(5, 6)) # creates a horizontal array or 'list'
    )
)

[2018-02-25 00:58] hkaiser commented on #243
@hapoo CMake relying on environment variables is unusual. The reason is that CMake is not able to detect whether an environment variable has changed since its last invocation, thus relying on those could invalidate an existing CMakeCache.txt.

[2018-02-25 14:24] hkaiser opened #249 "Python Front-End To Do List"
This ticket is meant for collecting missing features, feature requests etc. for the Python front-end (`@Phylanx`).

- [x] Extracting a single double result from a Phylanx expression invocation should not require `[0]` indexing, generally, return types should be handled dynamically (solved by #251 and #255)
- [x] All symbols generated from `@Phylanx` should have symbol information (#260)
- [x] Allo

[2018-02-25 14:27] hkaiser opened #250 "Phylanx Jupyter integration"
The following things are missing from the current integration of Phylanx with Jupyter:

- [ ] `cout()` primitive (the python `print()` function) prints to the Jupyter console
- [ ] integrate performance visualization script with Jupyter

[2018-02-25 14:27] hkaiser commented on #250
@stevenrbrandt, @rtohid please add more, if needed

[2018-02-25 14:28] hkaiser commented on #249
@stevenrbrandt, @rtohid: please add more to the list above, if needed

[2018-02-25 15:39] #245 closed

[2018-02-26 13:38] hkaiser commented on #244
@scheherzade #251 should solve this. Please be aware that instead of using `[...]` or `'(...)` to create a vector or a list in PhySL code you should use `make_vector()` or `make_list()`.

[2018-02-26 13:40] hkaiser commented on #244
@ct-clmsn this is a good suggestion (sorry I saw it too late). It may make `make_vector()` obsolete to begin with. The `make_list()` primitive however will still be required.

[2018-02-26 15:39] justwagle commented on #244
@hkaiser I will get working on adding mixing arguments of different dimensionality in hstack and vstack.

[2018-02-26 15:41] justwagle opened #252 "Add mixing arguments of different dimensionality in hstack and vstack"
Hstack and vstack needs to be extended to add support for Add mixing arguments of different dimensionality.

[2018-02-26 16:19] stevenrbrandt commented on #244
As near as I can tell, (1) make_list() and make_vector() do not exist, and hstack() and vstack() take exactly 2 arguments. However, hstack vstack are specified like this: '"vstack(_1, __2)"', with two underscores in front of the 2. I suspect that the extra underscore is supposed to be some sort of wild card for additional arguments, but if so, it doesn't work.

[2018-02-26 17:10] ct-clmsn commented on #244
@hkaiser sounds good. thanks!

[2018-02-26 17:47] hkaiser commented on #244
Please see #251, that should address both of your concerns. And yes, `__2` means one or more arguments.

[2018-02-26 20:15] stevenrbrandt commented on #250
@rtohid I'm pretty sure the way to solve this is to use Pybind11's py::print() function instead of hpx::cout. However, I'm unable to figure out how to get the build system to accept this seemingly easy change.

[2018-02-26 21:52] hkaiser commented on #250
@stevenrbrandt using `pybind11::print` should be doable if we created a new Phylanx primitive. That may require some acrobatics to avoid circular link dependencies between the phylanx_component and the phylanx_py module, though.

The simpler alternative would be to intercept `std::cout` (which is used by the `cout()` primitive):
[code]

[2018-02-27 13:42] #244 closed

[2018-02-27 18:04] rtohid opened #256 "Map Numpy functionalities to Phylanx primitives"
Numpy methods should automatically get mapped to the Phylanx primitives- when available.

[2018-02-27 19:48] stevenrbrandt commented on #250
The above kind of works... sometimes we get console output, sometimes segfaults.

[2018-02-28 18:25] hkaiser commented on #256
pybind11 directly supports NumPy (see http://pybind11.readthedocs.io/en/stable/advanced/pycpp/numpy.html). It should be possible to utilize this for our needs.

[2018-02-28 21:32] hkaiser commented on #256
Here is a list of things we have to today that already could be mapped to from NumPy (please add more as we go):

- [ ] arithmetic (`*`, `+`, `/`, `-`, unary `-`), comparison (`==`, `!=`, `>`, `>=`, `<`, `<=`), and boolean (`||`, `&`, `!`, `np.any`, `np.all`) operations
- [ ] `np.cross`, `np.dot`
- [ ] `np.diag`
- [ ] `np.argmin`, `np.argmax`
- [ ] `np.determinant`
- [ ] `np.inverse`, np.transpose

[2018-03-01 15:36] rtohid opened #262 "Update to CircleCI 2.0"
CircleCI 1.0 will be deprecated by the end of August.

[2018-03-02 16:51] #243 closed

[2018-03-02 20:53] hkaiser opened #266 "Times measured by asynchronous primitive evaluations is wrong"

[2018-03-02 20:53] hkaiser opened #267 "Add annotated functions for APEX"

[2018-03-02 20:55] hkaiser opened #268 "Add display name for primitives to generated CSV output"

[2018-03-02 20:56] hkaiser commented on #268
@kawilliams this could be used instead of the currently rather cryptic primitive names for visualization purposes.

[2018-03-02 20:56] hkaiser commented on #267
@khuck ... just pulling you into this conversation

[2018-03-03 00:15] parsa opened #271 "Building the Inspect tool builds everything"
Building `tools.inspect` should not trigger building `phylanx_component`

Example log:
[code]

[2018-03-03 01:02] parsa opened #272 "make tests does not trigger building the Python backend"
Running `make tests` will result in all Python unit tests failing with the message `invalid command` if the Python backend is not built before.

[2018-03-03 19:38] ct-clmsn opened #273 "jupyter/phylanx/agave integration"
This is an attempt to capture the phylanx-jupyter-agave integration discussed in [the seminar](https://www.youtube.com/watch?v=kXpB4hISlps&feature=youtu.be).

Provide python functions that can allow:

- users to run phylanx locally, with and without, a jupyter-python and jupyter-bash notebook to build and test an algorithm locally.
- users should be able to tell agave to run a phylanx expression t

[2018-03-05 19:11] parsa opened #278 "Python to PhySL Translation generates empty block"
Observation:
[code]

Generated PhySL code:
[code]
Generated PhySL code, formatted for readability:
[code]

[2018-03-05 19:38] hkaiser commented on #278
Should we support empty `block` expressions? Or would a special `nil` be more appropriate?

[2018-03-06 19:45] parsa opened #279 "Cannot have more than one Python instance work with Phylanx"
This happens due to HPX applications attempting to listen on a default port number when it is occupied or somehow blocked. In normal HPX applications this is manually handled by specifying a different port number. However, but in case of Python modules the mentioned solution does not make any sense.

### How to reproduce
 Run two `python3` instances and do `import phylanx` in each.

### Error Mess

[2018-03-06 19:59] hkaiser opened #281 "Use .preinit for command line argument initialization"
As found out in HPX (here: https://github.com/STEllAR-GROUP/hpx/pull/3211), using `.preinit_array` instead of `.init_array` to initialize the commend line arguments `__argc`/`__argv` works more reliably. We should change our code accordingly.

[2018-03-06 20:25] hkaiser commented on #279
Yes, this is expected when using the TCP parcel-port with HPX. For now we have two options: a) compile HPX with HPX_WITH_NETWORKING=OFF (not preferred), b) adapt startup-code to choose a (possibly random) TCP port to avoid these conflicts.

[2018-03-06 20:31] parsa commented on #279
In this case there is only one HPX process. Why is any network operation taking needed?

[2018-03-06 21:15] hkaiser commented on #279
@parsa It might be sufficient to add the following configuration settings to init_hpx.cpp (here: https://github.com/STEllAR-GROUP/phylanx/blob/master/python/src/init_hpx.cpp#L168)

    "hpx.parcel.port!=" + std::tostring(port),
    "hpx.agas.port!=" + std::tostring(port)

where `port` is a random number in the range between 1024 and 65535.

[2018-03-06 23:14] hkaiser commented on #279
@parsa the TCP parcel-port is always active to support localities connecting late (dynamically). If you really don't want for networking to be active, either disable it at compile time (see above). Alternatively you could disable the TCP parcel-port at runtime: `hpx.parcel.tcp.enable!=0`.

[2018-03-07 00:56] #262 closed

[2018-03-07 14:46] ct-clmsn opened #283 "cmake python check conditional?"
Think there's a cmake issue [here](https://github.com/STEllAR-GROUP/phylanx/blob/47b0af1e14291dd7fedd35563610720b469b7ffa/cmake/Phylanx_GetPythonExtensionLocation.cmake#L8). Should the cmake line be: `if(NOT ${suffix} STREQUAL ".so")`?

Found this potential logic issue in a multiple python interpreter environment. Getting that to work required setting the cmake args -DPYTHON_LIBRARY and -DPYTHON_I

[2018-03-07 15:01] ct-clmsn opened #284 "possible missing header file in column_set"
Possible include issue on at this [line](https://github.com/STEllAR-GROUP/phylanx/blob/47b0af1e14291dd7fedd35563610720b469b7ffa/src/execution_tree/primitives/column_set.cpp#L25). g++ 6.+ creates compile-time include errors on this line. the errors are related to a missing blaze header file that defines the blaze::elements function. Adding `#include <blaze/math/Elements.h>`  to [this line](https://

[2018-03-07 15:17] justwagle commented on #284
Thank you very much Chris. I will take care of it.

[2018-03-07 16:42] ct-clmsn commented on #284
@justwagle no problem! thanks for looking into it. not sure if it's a compiler issue or a header inclusion issue on the blaze side of things.

[2018-03-07 20:56] hkaiser commented on #283
@ct-clmsn this test looks to be wrong, indeed (how did it ever work?). Changing it to what you suggest however would break the Windows build.

[2018-03-07 21:03] #284 closed

[2018-03-07 21:09] stevenrbrandt commented on #278
We can simply fix this with a one line change
[code]

[2018-03-07 21:10] scheherzade opened #288 "Value of a variable defined inside a while loop stays unchanged"
If a variable is defined inside a while loop, value of the variable stays the same through all the iterations.

[code]
result:
[code]

[2018-03-07 21:51] hkaiser commented on #288
Yes, this is a known issue (see #106). I don't have a solution for this at this point.

[2018-03-07 21:51] #288 closed

[2018-03-07 22:00] hkaiser commented on #278
@stevenrbrandt it might be better to remove this check: https://github.com/STEllAR-GROUP/phylanx/blob/master/src/execution_tree/primitives/block_operation.cpp#L91.

[2018-03-07 23:10] stevenrbrandt commented on #278
Sounds good. Let's do it.

[2018-03-08 01:19] parsa commented on #278
@hkaiser done. See #290

[2018-03-08 03:04] ct-clmsn opened #291 "EDA enabling primitives"
review ticket #2 for a list of primitives that would enable the development of exploratory data analysis algorithms (t-sne and friends).

[2018-03-08 18:29] #130 closed

[2018-03-08 18:42] stevenrbrandt opened #295 "Python Slicing/Indexing Semantic Mismatch"
There is a semantic mismatch between PhySL and Python with regard to subscripting arrays. The following short program demonstrates the problem.

[code]

The way I think this should work
[code]

[2018-03-08 18:43] stevenrbrandt commented on #295
@justwagle Here's the ticket describing how I think the slicing primitive ought to work. It would provide a more natural mapping onto Python semantics.

[2018-03-08 20:14] hkaiser commented on #295
@stevenrbrandt could you please elaborate which of the cases you listed doesn't work the way you'd expect?

[2018-03-08 20:26] stevenrbrandt commented on #295
Essentially, a slice of an array should be an array (which is what Python/Numpy does). In Physl, if the slice is of size 1, it gets converted into a value and any attempt to index it results in an exception. In general, a slice a[i:j] does not have a different dimensionality than the object it's applied to. Indexing, however, does produce a different, lower dimensionality.

Apart from the semantic

[2018-03-08 20:50] hkaiser commented on #295
Changing this will have far reaching consequences for other primitives that assume otherwise. For instance

    A = B + C[1:2, 1:2]

(where A, B, and C are matrices) currently works if the right term (the `C[:,:]`) returns a single value, but it might not work anymore if it resolves to a matrix of size [1, 1]. I'm not opposed to changing the semantics as you outlined, we just have to be very caref

[2018-03-08 20:52] stevenrbrandt commented on #295
I agree that it will probably break some existing code, but I really believe it's necessary. The tangle of problems related to this semantic mismatch will only get more serious with time if it's left as it is.

[2018-03-08 20:58] hkaiser commented on #295
Ok, let's do it. @justwagle could you start with changing the semantics of the slice primitives, please? Let's see what will actually break.

[2018-03-08 21:03] justwagle commented on #295
@hkaiser yes, I will do that.

[2018-03-09 02:23] #278 closed

[2018-03-11 18:21] #252 closed

[2018-03-11 20:47] justwagle commented on #247
Fixed with #299
Buildbot: http://ktau.nic.uoregon.edu:8020/builders/ppc64le-clang5-release/builds/329

[2018-03-11 20:47] #247 closed

[2018-03-11 21:46] khuck commented on #247
Yup, looks good.  Thanks!

[2018-03-13 11:44] #207 closed

[2018-03-13 20:30] kawilliams commented on #268
@hkaiser Great, this will make things much cleaner!

[2018-03-14 15:24] aserio opened #304 "CMake Issues with External Builds"
I am trying to build a Phylanx application in an external directory using CMake. My CMakeLists.txt contains the following:
[code]
I am getting the following error:

CMake Error at C:/Users/adria/Git/phylanx/build-master/lib/cmake/Phylanx/PhylanxMacros.cmake:74 (include):
  include could not find load file:

    PHYLANX_SetupAllocator
Call Stack (most recent call first):
  C:/Users/adria/Git/phylan

[2018-03-15 19:09] #266 closed

[2018-03-15 19:09] #267 closed

[2018-03-15 19:09] #268 closed

[2018-03-15 19:10] #281 closed

[2018-03-16 17:08] #304 closed

[2018-03-16 22:00] aserio opened #313 "PhySL Does Not Recognize Integer Numbers"
PhySL does not properly parse code such as the following:
[code]
However it will parse correctly if you instead insert a double such as:
[code]

[2018-03-16 23:28] hkaiser opened #314 "Support 'nil' in PhySL"

[2018-03-18 01:20] #313 closed

[2018-03-18 01:20] #314 closed

[2018-03-18 21:42] ct-clmsn opened #316 "lra+blaze compile error"
compile error with lra.cpp. gcc 6.3.0 complains with a 'blaze/Math.h' no such file or directory. CMakeCache.txt has blaze_DIR set to the correct install directory for blaze.

[2018-03-18 21:44] khuck commented on #316
Hartmut fixed this with the fixing_external_projects branch... hasn't been merged yet.

[2018-03-18 23:06] hkaiser commented on #316
@ct-clmsn please see #317 for a fix.

[2018-03-19 01:08] ct-clmsn commented on #316
@khuck @hkaiser thanks - I was slow keeping up with the mods this weekend. will close via #317

[2018-03-19 01:08] #316 closed

[2018-03-19 14:10] hkaiser opened #319 "hstack does not accept lists"
I would have expected for the following to work:
[code]

the test however throws an exception as `hstack` expects for all its arguments to be numeric values.

[2018-03-19 14:55] hkaiser commented on #256
@stevenrbrandt, @rtohid any news on this?

[2018-03-19 19:09] aserio opened #320 "Store Primitive Error"
The following code produces throws an exception: "store function should only be called for the store_primitive"

[code]
Where should I look to fix this problem? Is there a phrasing that would make the error message more informative?

[2018-03-20 00:26] hkaiser commented on #320
As we found out today, this is caused by trying to `store()` a value in one of the function arguments (`error` and `xn`). This is not supported yet. As a workaround I'd suggest to create an additional local variable, initialized from the argument, and to use this variable inside the function instead.

We will have to check whether storing a new value in one of the function arguments is safe to imp

[2018-03-20 00:27] hkaiser commented on #320
...and yes, the error message is as cryptic as it can get ;-) This needs fixing.

[2018-03-20 17:11] ct-clmsn opened #324 "accelerator support w/pocl"
Discuss possible accelerator support with pocl, and opensource opencl 1.2 implementation.

http://portablecl.org/

[2018-03-20 17:12] ct-clmsn opened #325 "CLBlast primitives"
Discuss possible integration of CLBlast into Blaze. Consider possibly using CLBlast as an implementation technology for OpenCL "enhanced" versions of primitives. [CLBlast](https://arxiv.org/abs/1705.05249) provides BLAS level 1-3 support. source for CLBlast is https://github.com/CNugteren/CLBlast.

[2018-03-20 19:29] hkaiser commented on #324
A couple years back we've ported pocl to HPX allowing to integrate it with applications using it (see https://github.com/Finomnis/pocl_hpx). The code might be completely outdated by now, however.

[2018-03-22 20:01] svanzwam opened #329 "Expose the AST in Python"
It would be useful to have access to the AST inside Python.

[2018-03-23 00:04] hkaiser commented on #329
@stevenrbrandt you said that this wouldn't be a problem to add...

[2018-03-24 18:57] hkaiser opened #331 "Timing of topmost primitive is wrong"
First experiments show that the timing reported from the topmost node in the execution tree is wrong. This requires some investigation.

[2018-03-26 19:00] aserio opened #333 "Functions do not assign variables properly"
The code below demonstrates issues with functions in PhySL not assigning variables properly:
[code]
This code should print:
[code]
Instead it prints:
[code]
And then throws an exception:
[code]
What is even stranger if you comment out the outer define and the next block everything works as expected:
[code]

[2018-03-26 20:38] hkaiser commented on #333
FWIW, this is not strange at all as this removes the nested function definitions.

[2018-03-27 20:01] ct-clmsn opened #335 "could LAPACK + BLAS detection by cmake be optional?"
[Lines 8 to 10](https://github.com/STEllAR-GROUP/phylanx/blob/21ca4db0fb20e1601d198d2744bae3a563821eb1/cmake/Phylanx_SetupBlaze.cmake#L8) are making builds a little difficult. Blaze carries with it some of the LAPACK and BLAS build information in it's own cmake configuration scripts. Would it be possible to make detection of LAPACK and BLAS optional?

[2018-03-27 20:50] hkaiser commented on #335
Let's try this. I think on Windows it was required as the blaze script failed otherwise, but I might misremember things...

[2018-03-28 01:02] ct-clmsn commented on #335
@hkaiser thanks!

[2018-03-28 22:13] aserio opened #337 "Issues with external functions"
The following code throws an exception: "{what}: main_func(12, 7): couldn't find function 'extern_print' in symbol table: HPX(bad_parameter)"

[code]

[2018-03-29 12:55] hkaiser commented on #337
Please try not wrapping the first snippet in a `block()`:
[code]

[2018-03-29 17:51] ct-clmsn commented on #324
@hkaiser pocl has a pthread backend; would adding an hpx thread backend for pocl be an appropriate task?

[2018-03-29 21:03] ct-clmsn commented on #324
@hkaiser good deal. ah i see - had to find the hpx branch.

[2018-03-29 22:16] hkaiser commented on #324
We ran out of time. The students went back to his university after his internship with our group and got distracted by other things.

[2018-04-05 17:06] hkaiser opened #340 "Variable definition should be distinct from function definition"
This is necessary to be able to make a distinction between variables and nullary functions in PhySL

[2018-04-06 11:42] hkaiser commented on #340
To clarify, currently in PhySL variable definitions are handled differently from function definitions. Variable definitions are bound immediately at compile time, if possible, while function definitions are bound at runtime (to allow the handling of the arguments. At the same time, PhySL currently does not distinguish between variable definitions and nullary function definitions. All of this cause

[2018-04-06 15:45] hkaiser commented on #283
@ct-clmsn on a second glance, I think this check is correct after all. If the extension passed in is _just_ '.so', then things are wrong as the python extension should have the architecture encoded as well (e.g. `.cpython-35m-x86_64-linux-gnu.so`).

What suffix is passed into this cmake macro in your case?

[2018-04-06 18:45] rtohid opened #344 "External Primitives"
This should allow loading of shared libraries as Phylanx primitives.

[2018-04-11 15:40] #329 closed

[2018-04-11 17:38] rtohid opened #348 "Having a variable on both sides of an assignment."
Running
[code]
will cause the following error:
"RuntimeError: <unknown>: access-argument$0$a/0$49$4:: store function should only be called for the
primitives that support it (e.g. variables): HPX(invalid_status)"

Replacing the `a` on the left-hand side with a new variable resolves the issue, so, the following works fine:
[code]

[2018-04-11 22:33] hkaiser commented on #348
As you said, the issue is not having a variable but having a function argument on the left hand side of the expression. A possible workaround for now would be to store the argument in a local variable before assigning:

    @Phylanx()
    def add (a, b):
        c = a
        c = c + b
        return c

[2018-04-14 00:16] hkaiser opened #350 "add_dimension primitive ignores second argument"
While the `add_dimension` primitive has to be called with 2 arguments (https://github.com/STEllAR-GROUP/phylanx/blob/master/src/execution_tree/primitives/add_dimension.cpp#L44) it ignores the second one (see https://github.com/STEllAR-GROUP/phylanx/blob/master/src/execution_tree/primitives/add_dimension.cpp#L57 and https://github.com/STEllAR-GROUP/phylanx/blob/master/src/execution_tree/primitives/

[2018-04-14 00:22] hkaiser opened #351 "argmin/argmax primitives have to be called with 2 arguments"
The `argmin`/`argmax` primitives have to be called with 2 arguments (https://github.com/STEllAR-GROUP/phylanx/blob/master/src/execution_tree/primitives/argmax.cpp#L44) even if the second argument should be optional (https://github.com/STEllAR-GROUP/phylanx/blob/master/src/execution_tree/primitives/argmax.cpp#L264).

[2018-04-14 21:05] #295 closed

[2018-04-16 15:25] ct-clmsn opened #353 "extend pluto's CLooG interface to support PhySL"
Modify the [CLooG](https://www.cloog.org/) backend of [pluto](https://github.com/bondhugula/pluto) to support PhySL.

[2018-04-16 15:37] hkaiser commented on #351
This was fixed by merging #352

[2018-04-16 15:37] #351 closed

[2018-04-17 22:16] stevenrbrandt opened #356 "-1 is not the same as -(1)"
The last two calls to cout should print the same thing, but physl interprets -(1) and -1 differently.
[code]

[2018-04-17 22:22] stevenrbrandt opened #357 "No way to get the length of a list"
This code works, but it prints a list with a 4 as the first element
[code]

[2018-04-17 22:25] stevenrbrandt opened #358 "Slice should support nil as an argument"
Python allows you to slice an array with default start and end, like this a[:].
We need something to map this onto in Physl. I suggest nil. so a[:] -> slice(a,nil,nil).

[2018-04-17 22:33] stevenrbrandt opened #359 "Phylanx in Python hangs randomly"
When I execute the program below from the command line, it hangs about 50% of the time.
[code]

[2018-04-18 12:17] hkaiser commented on #359
@stevenrbrandt Could you please minimize this example? My suspicion is that the print functionality is not quite bug-free yet, it would be nice to have that confirmed...

[2018-04-18 12:18] hkaiser commented on #358
@justwagle this sounds like yet another task on your list of things to do...

[2018-04-18 12:30] hkaiser commented on #357
`shape()` can be used similarly to `numpy.shape` as it returns the dimensions of the array. It can't be used to re-shape an array, though. It is also not meant to return an element of a list.

In short `shape(x)` returns:
- `[]` for zero-dimensional arrays
- `[len(x)]` for one-dimensional arrays and
- `[rows(x), columns(x)]` for matrices.

Additionally, for matrices, `shape()` can be invoked with

[2018-04-18 12:37] stevenrbrandt commented on #357
As stated above, these things do not work. Calling shape(a) gives me a list, but I can't extract element zero from it. shape(a,0) gives an error message.

[2018-04-18 12:53] hkaiser commented on #357
You're right, the current behavior misses to support a second `axis` argument in the case the first argument is a list or one-dimensional array. I will add this functionality.

[2018-04-18 12:57] hkaiser commented on #356
As stated before, please use `make_list()` instead of `'()`. Things will just work.

[2018-04-18 12:57] #356 closed

[2018-04-18 17:45] #350 closed

[2018-04-18 20:27] aserio opened #364 "Multipule Function Calls Produces Incorrect Results"
The following code should print 6 (i.e. `[(1 * 2) + (2 * 2)])`. However, it prints 8
[code]

[2018-04-18 20:44] aserio commented on #337
Changing the code to this:
[code]

Results in another error: {what}: main_func: access-argument$2$a/1$11$13:: argument count out of bounds, expected at least 2 argument(s) while only 1 argument(s) were supplied: HPX(bad_parameter)

Need to look into this further

[2018-04-24 19:26] #344 closed

[2018-04-25 18:20] stevenrbrandt opened #369 "Exception getting swallowed"
In the code below, the invocation of print with "c=" does not happen. Apparently, an exception of some sort is raised when Phylanx attempts to add the mismatched arrays, but it gets caught and ignored without informing the programmer.
[code]

[2018-04-25 18:32] hkaiser commented on #369
Is this happening still when using top of master? I thought to have fixed this recently.

[2018-04-25 19:52] stevenrbrandt commented on #369
It still happened about 24 hours ago. Top of master doesn't build for me. :(
[code]

[2018-04-25 21:09] hkaiser commented on #369
@stevenrbrandt you will need top of master from HPX as well.

[2018-04-26 17:43] hkaiser commented on #357
This has been fixed by merging #363

[2018-04-26 17:43] #357 closed

[2018-04-26 17:45] hkaiser commented on #348
This is a duplicate of #320

[2018-04-26 17:45] #348 closed

[2018-04-26 18:55] hkaiser commented on #125
I think this can be closed now.

[2018-04-26 18:55] #125 closed

[2018-04-27 11:35] #279 closed

[2018-04-27 18:17] parsa opened #373 "Accessing elements in a list does not work"
The following code
[code]
Produces:
[code]
Instead, it must produce
[code]

[2018-04-27 20:17] parsa opened #374 "Redefining a PhySL function in Python is not possible"
Code to reproduce:
[code]
Output:
[code]
No errors should not be thrown.

[2018-04-27 20:36] parsa opened #375 "Rerunning a PhySL Python function does not work"
Code to reproduce
[code]
Which returns `12` (it should not run at all). If `fx()` is run again():
[code]
The output is:
`0`
It should have printed 12

[2018-04-27 20:48] parsa opened #376 "Phylanx Python variable definition create copies of containers instead of references"
This example shows that upon the definition of a variable, Phylanx create a copy of a list instead of referencing it. This behavior is different than Python's.

### Regular Python Code
[code]
Output:
[code]

### PhySL code
[code]
Output:
[code]

[2018-04-27 20:51] parsa opened #377 "Using the + operator on lists in Python must concatenate lists"
This example shows that behavior of the `+` operator inside Python functions decorated with `@Phylanx` is different from normal Python code.

### Regular Python Code
[code]
Output:
[code]

### PhySL code
[code]
Output:
[code]

[2018-04-27 21:25] tianyi93 opened #378 "Plugins fail to load"
System configuration: macOS, AppleClang, Phylanx: b336908437ad60d9e7ac7da8162e08d4c0beb909, HPX: b336908437ad60d9e7ac7da8162e08d4c0beb909
[code]
Output:
[code]

[2018-04-27 23:25] hkaiser commented on #378
@tianyi93 Could you run with `--hpx:dump-config` and paste the output here, please?

[2018-04-27 23:33] hkaiser commented on #376
I don't think that we can change the default behavior of PhySL. Even more as Python is not very consistent with regards to its copy semantics. Some Python types are deeply copied, some are copied by reference (shallow copies).

[2018-04-27 23:34] hkaiser commented on #375
This is a duplicate of #340.

[2018-04-27 23:34] #375 closed

[2018-04-28 22:57] tianyi93 commented on #378
./bin/add_operation_test --hpx:dump-config

Configuration after runtime start:
----------------------------------
============================
  [application]
  [hpx]
    'affinity' : 'pu'
    'attach-debugger' : ''
    'bind' : 'balanced'
    'cmd_line' : './bin/add_operation_test --hpx:dump-config'
    'component_path' : '/Users/tianyi/Research/try_fix/repos/hpx/build:/Users/tianyi/Research/try_

[2018-04-28 23:31] parsa commented on #376
I don't know if we should change the default behavior of PhySL but the Python code's behavior should be identical regardless of how it's actually executed.

Yes, but I'm not clear what you're getting at with this. All mutable object in Python are always references, immutable objects are always values.

[2018-04-28 23:31] hkaiser commented on #378
@tianyi93 Could you also paste the output of `ls` of the directory `/Users/tianyi/Research/try_fix/repos/phylanx/cmake-build-debug/lib/phylanx/`, please?

[2018-04-28 23:32] #373 closed

[2018-04-28 23:34] hkaiser commented on #376
@parsa: integers are mutable and are not handled as references, for instance:
[code]

[2018-04-28 23:36] parsa commented on #376
Python Integers are simple types and are immutable.

[2018-04-28 23:37] hkaiser commented on #376
@parsa I was able to change the value of the integer `a`, wasn't I?

[2018-04-28 23:52] parsa commented on #376
@hkaiser from [The Python Language Reference](https://docs.python.org/3/reference/datamodel.html):

[2018-04-29 01:39] tianyi93 commented on #378
@hkaiser I do not have that directory.

[2018-04-29 02:01] tianyi93 commented on #378
@hkaiser
After running
[code]
[code]
Output
[code]

[2018-04-29 02:43] hkaiser commented on #378
@tianyi93 thank you. May I ask you to try using this HPX branch and try again: https://github.com/STEllAR-GROUP/hpx/tree/fixing_plugins_mac?

[2018-04-29 04:04] tianyi93 commented on #378
The issue still exisits
[code]
Output
[code]

[2018-04-29 11:07] hkaiser commented on #378
@tianyi93 things look better now, however. The registry already has all Phylanx primitives listed, so the modules have been found and loaded. The paths registered for the primitives are wrong, though. Have you rebuilt all of Phylanx after rebuilding HPX?

[2018-04-29 16:08] tianyi93 commented on #378
@hkaiser I added Debug in the cmake settings and tested with the following:
cmake
[code]
bash:
[code]
Output:
[code]

[2018-04-29 16:56] tianyi93 commented on #378
@hkaiser No it was not built for some reason, I rebuilt them and now it is built and the output is:
[code]

[2018-04-30 14:51] hkaiser commented on #369
@stevenrbrandt has this been resolved for you now?

[2018-04-30 14:52] hkaiser commented on #359
@stevenrbrandt is this still an issue for you (we have changed things slightly recently, so it might have been fixed...)?

[2018-04-30 16:35] stevenrbrandt commented on #359
On the latest Phylanx this is aborting for me with no message :(
It's happening during compilation of the first function in the test code. When I take the code:
[code]
And run it through physl I'm seeing
[code]

[2018-04-30 18:02] stevenrbrandt commented on #369
Yes.

[2018-04-30 18:02] #369 closed

[2018-04-30 18:08] hkaiser commented on #359
This is an unrelated problem and most likely caused by the plugins not being built.

[2018-04-30 19:19] stevenrbrandt opened #385 "Plugins need to be installed"
"make install" should install the plugins

[2018-04-30 19:37] #359 closed

[2018-04-30 20:56] kawilliams opened #387 "Time is not inclusive time"
I double-checked the Javascript and dug into the performance data and confirmed that the timing issues are on the Phylanx end, not the vis side of things. The timing data that I am being given is _not_ inclusive time - there are three nodes whose time is not greater than the sum of it's children's times.

I attached a text document [exclusive_timing_errors_4-30.txt](https://github.com/STEllAR-GROU

[2018-05-01 00:08] hkaiser commented on #387
@kawilliams  How many cores did you use to gather the data?

[2018-05-01 02:35] khuck commented on #387
@kawilliams that would have used the default, which is the number of cores (or threads, if hyper threading was turned on) - not one...

[2018-05-01 19:34] kawilliams commented on #387
I ran the example using Kevin's suggestion:
srun -n 1 ./lra_csv_instrumented --data_csv=breast_cancer.csv --hpx:threads=1 -i > output20180501

When I calculate the exclusive time for each node, I get the same three nodes (plus two additional nodes) where the parent node's time is less than the sum of it's children's times.

I remember @parsa and the team having some grasp on roughly how long thing

[2018-05-04 13:47] parsa opened #395 "HPX and Phylanx Command Line Argument Handling is mixed up"
Example case:
[code]

[2018-05-04 15:13] #385 closed

[2018-05-04 19:06] parsa opened #397 "Broken symlink share/phylanx"
Symlink `<build_folder>/share/phylanx` is generated during the build process which points to the non-existing `<build_folder>/share/phylanx-0.0.1` path. This needs to be removed.

[2018-05-04 20:09] parsa commented on #271
This bug is reintroduced in #391

`https://github.com/STEllAR-GROUP/phylanx/files/1975724/make_tools.inspect.txt`

[2018-05-08 17:20] ct-clmsn commented on #335
@hkaiser everything works on my end. I'm going to close this ticket.

[2018-05-08 17:35] ct-clmsn opened #402 "missing block in symbol table"
Running `phylanx_als_csv.py` and `phylanx_lra_csv.py` generates the following execution error:

[code]

[2018-05-08 20:50] #395 closed

[2018-05-08 22:00] stevenrbrandt commented on #402
There was a version or two of phylanx where the plugins didn't get installed properly. This might be fixed by "git pull."

[2018-05-09 00:52] stevenrbrandt commented on #395
Yes, I know about that.

The thing is, I can run hpx on such machines, just not phylanx.

I thought you said that the issue could be fixed for phylanx with a command
line arg.

--Steve

On Tue, May 8, 2018 at 5:23 PM, Hartmut Kaiser <notifications@github.com>
wrote:

[2018-05-09 15:31] rtohid opened #403 "Array subscripts are not supported on the LHS of assignments."
The following example fails:
[code]

[2018-05-10 14:28] scheherzade opened #404 "The count value for define_variable shown in performance counter data is not correct"
This PhySL code generates the following performance counter results, in which the count value for define_variable seems to increase each time that variable is accessed.
[code]

[code]

[2018-05-10 18:52] parsa opened #406 "shape() accepts anything for its second argument"
`shape([1], [1])` returns `1`. It should only:
* Only accept an integer for its second argument..
* Either use it or raise an error when the value is invalid.

[2018-05-10 19:01] parsa opened #407 "Python backend error"
It's unclear what's going on but here's it can be reproduced
### Python
[code]

### Phylanx
[code]
[code]

[2018-05-10 19:07] tianyi93 opened #408 "PhySL hangs randomly"
Command Line:
[code]

PhySL code:
[code]

[2018-05-10 19:16] parsa opened #409 "Cannot create lists of arbitrary objects"
### How to reproduce
[code]
[code]

[2018-05-10 19:20] scheherzade opened #410 "Different results from numpy when performing arithmetic operations between a vector and a matrix with only one column"
The result of performing `-`, `+`, `/`, and `*` operations between a vector and a matrix with only one column in Phylanx is different from NumPy.
Generally to be able to perform this kind of operations between a vector and a matrix in NumPy, size of the vector should be equal to number of columns of the matrix, which is the way it is implemented in Phylanx. But in NumPy for cases where the matrix

[2018-05-10 20:29] parsa opened #411 "None is not supported"
Code:
[code]
Output:
[code]

[2018-05-10 20:32] parsa opened #412 "Unusual @Phylanx function Behavior"
It's unclear what is going on here. But the behavior seems to be consistent.

Code:
[code]
Output
[code]

[2018-05-10 22:02] hkaiser commented on #411
@rtohid I think this can be mapped to `nil`.

[2018-05-10 22:05] hkaiser commented on #409
@parsa, @rtohid  Python lists must be mapped onto the PhySL primititive `make_list()`

[2018-05-10 22:09] hkaiser commented on #412
@parsa this is caused by the output streams not being synchronized. The output generated by `f()` itself is asynchronously sent through HPX to `hpx::cout` (which is then mappen onto `sys.stdout`, while the native python `print()` is executed synchronously. For this reason, the second line printed from `f()` appears to come after the direct `print()`.

Not sure what we can do about this, perhaps fo

[2018-05-11 15:17] parsa commented on #410
Documentation for NumPy's broadcasting behavior: <https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html>.

Documentation for NumPy equivalents for each of the problematic primitives:
* <https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.add.html>
* <https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.subtract.html>
* <https://docs.scipy.org/doc/numpy-1.14.0/re

[2018-05-11 21:57] parsa opened #413 "Last PhySL line cannot be a comment"
PhySL compiler does not accept comments as the last line of code
e.g.
[code]
[code]

[2018-05-11 23:06] hkaiser commented on #413
@parsa Right, this is a bug. But it can be easily fixed by adding the postskip flag to the parser invocation here: https://github.com/STEllAR-GROUP/phylanx/blob/master/src/ast/generate_ast.cpp#L231. The problem goes away if this gets changed to:
[code]
An equivalent change should be applied here: https://github.com/STEllAR-GROUP/phylanx/blob/master/src/ast/generate_transform_rules.cpp#L48.

[2018-05-13 00:09] parsa opened #414 "Add support for vectors and matrices of integers"
For some reason NumPy matrices with 1 dimension are mapped to a vector.

Consider this code:
[code]
This code results in creation of a `phylanx::ir::node_data` with its `value_` containing a vector instead of a matrix. Note that this only happens for the Python frontend the equivalent code in PhySL works properly.

Update: Here is a simpler piece of code that demonstrates the issue:
[code]
[code]

[2018-05-13 16:43] hkaiser commented on #414
The problem is caused by a couple of conversion issues in the Python translation layer combined with how `numpy.array` is exposed through pybind11. In short, the code above creates a `np.array([[1], [2]], dtype=Int32)` that (by default) is not convertible to a `node_data<double>` but is converted to a `vector<primitive_argument_type>` filled with `std::int64_t` instead.

The solution would be to s

[2018-05-13 16:53] hkaiser commented on #414
See https://github.com/STEllAR-GROUP/phylanx/tree/fixing_414

[2018-05-13 16:58] parsa commented on #414
The implications of @hkaiser's explanation:
* Currently any NumPy array received by Phylanx is treated as if it's of type double
* Phylanx will receive a copy of each NumPy array that is not of floating points types instead of the original NumPy array being mapped to a Phylanx `node_data`

[2018-05-14 17:36] ct-clmsn opened #420 "gnu compilation issues"
gcc-6 and gcc-7 whine about the phylanx plugin factory macros - is a fix or workaround available? Preferably one that does not include switching to a different compiler!

[2018-05-14 18:00] hkaiser commented on #420
It's an HPX issue (if you're talking about what I think you see). I will try to do something about this.

[2018-05-15 14:39] ct-clmsn commented on #420
@hkaiser recompile of hpx and phylanx seems to have done the trick. thanks! will close.

[2018-05-15 14:39] #420 closed

[2018-05-15 14:50] ct-clmsn commented on #402
@hkaiser @stevenrbrandt i've a directory in $INSTALL_DIR/lib/phylanx with 6 shared objects libphylanx_[arithmetics, booleans, controls, fileio, listops, matrixops].so; the directory has been exported  into $LD_LIBRARY_PATH and $PYTHONPATH. is that the correct behavior for the installer?

[2018-05-15 17:27] #410 closed

[2018-05-15 17:29] hkaiser commented on #402
@ct-clmsn Sounds about right... Does it still refuse to work?

[2018-05-16 14:45] ct-clmsn commented on #402
@hkaiser @stevenrbrandt - yep. on the upside, the C++ programs lra_csv and als_csv work correctly. is there something specific about how python works (LD_PRELOAD) on linux that would cause the python-phylanx implementations to misbehave?

[2018-05-16 15:39] rtohid commented on #407
@parsa You're missing parenthesis in front of the `Phylanx` decorator.

[2018-05-16 15:41] #407 closed

[2018-05-16 17:59] parsa opened #428 "No support for pass, break, and continue statements in Python frontend"
## `pass`

[code]
[code]
## `continue`
[code]
[code]
## `break`
[code]
[code]

[2018-05-16 18:09] parsa opened #429 "Cannot iterate over Python lists"
[code]
[code]

[2018-05-16 18:14] justwagle opened #430 "Could'nt find function lra in symbol table"
Trying to use `lra_csv_instrumented` with `--direct` option results in the following error.
[code]

[2018-05-16 19:16] parsa opened #432 "Cannot return nil in PhySL"
We should be able to return `nil` just like any other value in PhySL. However, it does not work.
e.g.
[code]
Output:
[code]

[2018-05-16 19:20] ct-clmsn commented on #402
@hkaiser @stevenrbrandt I'm going to close this bug since we have solution. The solution is a documentation update and maybe some script-level tooling.

[2018-05-16 19:20] #402 closed

[2018-05-16 23:07] khuck commented on #430
@justwagle any solution to this?  I am getting a similar error when I build/run lra_csv on OSX:
[code]

[2018-05-17 00:37] justwagle commented on #430
@khuck The issue I created I was able to fix with #431 . In this case the plugin was simply not being loaded correctly due to bad cmake. However, the issue you mentioned where it is  not finding the 'block' symbol looks like it is related to https://github.com/STEllAR-GROUP/phylanx/issues/402. @ct-clmsn found the following workaround for it

[2018-05-17 14:47] stevenrbrandt commented on #412
@hkaiser if what you are saying is true, even the 1 and 2 can be out of order, correct? I think this is a bug. I think print should not be asynchronous by default.

[2018-05-17 15:43] hkaiser commented on #412
@stevenrbrandt no, the `1` and `2` can't be out of order and should never be.

[2018-05-17 15:44] hkaiser commented on #408
Yes, all of the hangs seem to be related to printing. So somewhere we still have a GIL problem lurking in the woods...

[2018-05-17 18:12] parsa opened #435 "Support Boolean Array Indexing"
NumPy example:
[code]
NumPy Documentation:
* <https://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#boolean-array-indexing>
* <http://scipy-cookbook.readthedocs.io/items/Indexing.html#Boolean-indexing>

[2018-05-17 18:25] #430 closed

[2018-05-17 19:07] #432 closed

[2018-05-17 20:29] stevenrbrandt commented on #429
@rtohid I believe you should take this one as you have a fix?

[2018-05-17 20:41] parsa commented on #411
Resolved through #422

[2018-05-17 20:41] #411 closed

[2018-05-18 01:35] khuck commented on #402
It still doesn't work on OSX, even when setting DYLD_INSERT_LIBRARIES and DYLD_FORCE_FLAT_NAMESPACE=1

[2018-05-18 12:14] hkaiser commented on #435
As discussed, this could be implemented by extending the existing `store()` primitive. Adding an optional Boolean mask as the 3rd parameter to `store()` would provide a flexible infrastructure for all of the described use cases.

[2018-05-18 12:16] hkaiser commented on #402
@khuck yes, we know... It's on the list of things to work on.

[2018-05-18 14:46] stevenrbrandt commented on #376
This ticket has a few issues. One of which is how the addition of arrays works. The change below will allow [42]+[42] to be [42,42].
[code]

[2018-05-18 15:12] hkaiser commented on #376
@stevenrbrandt should arrays be supported by `+` ? Currently, `+` does support lists (i.e. `make_list(42) + make_list(42) == make_list(42, 42)`, is that what you need?

[2018-05-18 17:36] ct-clmsn opened #439 "support numpy.array/matrix.shape member variable"
numpy matrices/array have a member variable called 'shape'. if possible map the shape member access on a numpy array into a call to np.shape(matrix, axis_index)

[2018-05-18 18:09] ct-clmsn opened #440 "python _Assign functionality for subscripted matrices"
Currently expressions such as:

[code]
break in the following file/line `phylanx/python/phylanx/ast/transformation.py:287 (the Python ast.Subscript type does not have an 'id' member variable)`

[2018-05-18 18:14] ct-clmsn commented on #435
@hkaiser @parsa does this consolidate under #440 or is that item a different, new, thing?

[2018-05-18 18:18] ct-clmsn commented on #35
@scheherzade is this a closed ticket?

[2018-05-18 18:26] stevenrbrandt commented on #376
Maybe I'm a commit or two behind, but I wasn't getting that behavior. I was getting the error thrown right after that segment of code I identified.

[2018-05-18 18:34] stevenrbrandt opened #441 "Doc strings for primitives"
It's getting hard to keep track of what primitives exist. My suggestion is that the base class for primitives should require a doc string (that can be printed at runtime) describing the primitive and how to use it. Further, there should be an option to physl to print all primitives and their doc strings or just a specific one.

[2018-05-18 18:35] justwagle commented on #440
@ct-clmsn You should be able to use the set primitive.
set (input, row_start, row_stop, row_steps  , col_start, col_stop, col_steps , value_to_set )
If you want to extract an element, slice should support that.

[2018-05-18 18:39] parsa commented on #435
@ct-clmsn There's several types of indexing (See [1](https://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#boolean-array-indexing) and [2](http://scipy-cookbook.readthedocs.io/items/Indexing.html#Boolean-indexing)). What you ask for in #440 is setting an element in a matrix. You can already achieve that using the `set` primitive.

[2018-05-18 19:10] scheherzade commented on #35
@ct-clmsn Yes, we can close this ticket.

[2018-05-18 19:10] #35 closed

[2018-05-19 13:00] ct-clmsn commented on #440
@justwagle thanks! should i start off by doing a PhySL implementation before going straight to python?

[2018-05-19 14:31] justwagle commented on #440
@ct-clmsn I think python version would be better as @stevenrbrandt is already working on the ticket to add the missing functionality in python.

[2018-05-19 20:35] parsa opened #442 "Creating new empty arrays"
There needs to be a mechanism that does something equivalent to `v = np.array((10, 10))` inside `@Phylanx` decorated functions.

[2018-05-19 20:38] parsa opened #443 "Using the map primitive in the Python frontend"
It should be possible to use the `map` primitive in `@Phylanx` decorated functions.
It currently results in an exception.
e.g.
[code]
[code]

[2018-05-20 12:17] ct-clmsn commented on #440
@stevenrbrandt go for it! @justwagle will continue to work on the python version to identify use-cases that need additional support.

[2018-05-21 21:03] stevenrbrandt commented on #440
For reference, the sample code above should be rewritten like this:
[code]

[2018-05-21 21:04] stevenrbrandt commented on #440
This is now fixed in the fixing_440 branch

[2018-05-21 21:13] stevenrbrandt opened #445 "set_operation() primitive should support "nil" as an upper bound."
In the code below, function `k1` works but `k2` does not. The reason is because the `set` primitive does not accept `nil`, which is how a blank upper bound is passed.
[code]

[2018-05-21 21:16] stevenrbrandt opened #446 "support for len(X) and X.shape in Phylanx"
While the shape(X,0) and shape(X,1) can be used to get the dimensions of an array, this is not what is used by Numpy/Python. We should make this work.

[2018-05-21 21:19] stevenrbrandt opened #447 "@Phylanx passes by value, not by reference"
@Phylanx copies the values in its input arguments instead of passing them by reference. This means we do unnecessary copying.
[code]

[2018-05-22 16:14] #409 closed

[2018-05-22 16:48] hkaiser commented on #447
We will never have references across the Python/PhySL interface. I wouldn't even know how to implement that properly in the general case.

[2018-05-22 17:04] parsa commented on #447
Duplicate of #376

[2018-05-23 18:02] stevenrbrandt opened #451 "Phylanx errors kill the interpreter"
The following kill the Python interpreter, when they should be rethrown as Python exceptions.
[code]
and
[code]

[2018-05-23 19:41] stevenrbrandt opened #453 "Bug in passing compiler state through @Phylanx()"
This code doesn't work, but should:
[code]

[2018-05-23 20:07] parsa commented on #453
For the sake of documentation, current output for the code above is:
[code]

[2018-05-23 20:15] parsa commented on #451
Output for the first example
[code]
Output for the second example:
[code]

[2018-05-23 20:16] parsa commented on #451
@stevenrbrandt I cannot reproduce your issue. In both examples I see a Python error.

[2018-05-23 22:27] hkaiser commented on #451
The second error message misses the symbol information which is a bug that requires fixing.

[2018-05-23 23:30] khuck opened #457 "Blaze error during compilation on KNL"
Getting this error from blaze when building on KNL, will also follow up with the blaze folks:

[code]

[2018-05-23 23:39] parsa opened #458 "set_operation unit test hangs"
[tests.unit.python.execution_tree.set_operation](https://github.com/STEllAR-GROUP/phylanx/blob/2d4f13829d6a8a0ff9dfd8b4ff7f8728003c912f/tests/unit/python/execution_tree/set_operation.py) is broken, but has somehow slipped past our continuous testing and is now on master
[code]

[2018-05-23 23:41] khuck commented on #457
Also posted to the Blaze developers:
https://bitbucket.org/blaze-lib/blaze/issues/167/error-building-on-intel-knl

[2018-05-24 00:10] parsa commented on #458
The issue comes from PR #444

[2018-05-24 15:58] #443 closed

[2018-05-24 16:52] #453 closed

[2018-05-24 18:01] khuck commented on #457
According to Klaus, a number of Intel intrinsics are missing in the GCC compiler implementation...

[2018-05-24 18:08] ct-clmsn opened #463 "named tuple support"
Discuss the possibility of providing support for `namedtuple`s. This feature may be out of project scope.

https://docs.python.org/2/library/collections.html#collections.namedtuple

[2018-05-24 18:12] parsa commented on #413
The reason #417 appeared to have solved the problem is because the in its test case there is newline at the end of the code. Therefore
[code]
works but
[code]
does not

[2018-05-24 18:33] parsa opened #465 "Unhandled error in AST compiler"
The following block of PhySL code fails to compile:
[code]
Message:
![msvc_phylanx_error](https://user-images.githubusercontent.com/322657/40504448-edcc52c6-5f56-11e8-9f95-0225b9037892.png)

Note that this code results in the correct error message on Linux:
[code]

[2018-05-24 19:28] stevenrbrandt commented on #451
I updated HPX and this problem went away.

[2018-05-24 19:28] #451 closed

[2018-05-24 19:32] stevenrbrandt opened #466 "ast compiler hangs and gives the wrong answer"
kernel3 below causes the ast compiler to hang (use branch fixing_440) and the CircleCI image to reproduce. Note that while kernel2 compiles, when it runs it gives an incorrect answer, i.e. it does not give the sum of the four nearby b elements.
[code]

[2018-05-25 00:30] hkaiser commented on #465
Yah, the MSVC runtime is very good at detecting iterator related problems.

[2018-05-25 00:33] hkaiser commented on #457
@khuck: Would a newer gcc help with this?

[2018-05-25 02:33] khuck commented on #457
@hkaiser I have no idea.  The Blast team is looking into a workaround.

[2018-05-25 11:34] #413 closed

[2018-05-25 15:11] stevenrbrandt commented on #440
This has been re-fixed in branch fixing_440

[2018-05-25 19:29] rtohid opened #469 "Handling HPX configurations in Python"
This is based on @ct-clmsn suggestion in PR #461.

HPX run-time should be made configurable in Python. Currently, as @hkaiser explains in the same PR, HPX is initialized with parameters set during the compilation of Phylanx when `phylanx` module is loaded.

[2018-05-26 16:08] #465 closed

[2018-05-28 17:14] hkaiser commented on #446
See #470 for `len()` for lists.

[2018-05-28 22:31] hkaiser opened #472 "Allow for np.arrays()s to be usable with map()/parallel_map()"
We should add support for iterating over the elements of np.array()'s using `map()` and `parallel_map()`.

[2018-05-29 17:05] stevenrbrandt commented on #472
I thought you said you didn't want to do this?

[2018-05-29 17:35] hkaiser commented on #472
Well, the overwhelming number of requests forced the issue ;-)
Also, I'm working on this, should be available soonish.

[2018-05-30 22:35] khuck commented on #457
The Blaze team had to make a number of modifications to deal with the fact that GNU has missing intrinsics.  Unfortunately, there is one bug in the GNU intrinsics that will now compile but has a performance impact.  We will have to remember that this is a known performance issue on KNL, unless Phylanx is compiled with Intel or Clang.  From Klaus:

[code]

[2018-05-30 22:35] #457 closed

[2018-06-04 15:00] ct-clmsn opened #480 "phylanx aborts with get/set primitive in loops"
phylanx prints/sets value in 2 iterations over the loop inside `print_mat` before aborting execution.

[code]

[2018-06-04 15:30] ct-clmsn commented on #480
oh, any advice on how to debug these types of errors or provide better debugging comments would be appreciated!

[2018-06-04 16:11] stevenrbrandt commented on #480
@ct-clmsn @hkaiser The above code runs for me without error on the latest Phylanx (well, after fixing the syntax errors with the unclosed parenthesis).

[2018-06-04 16:41] hkaiser commented on #480
@ct-clmsn this is most probably the GIL problem we have somewhere in the `cout` primitive. I'll try to fix this asap, it's a pain for everybody.

[2018-06-04 17:26] hkaiser commented on #480
@ct-clmsn I wish I knew how to debug problems related to the Python GIL. I was not able to find any information on how to do that.

[2018-06-05 14:30] ct-clmsn commented on #480
@stevenrbrandt @hkaiser just did some fiddling around and found something interesting.

[code]

this version code works just fine. when `n = i`  is commented out, everything goes sideways and i get a nondeterministic set of prints (usually between 2 and 4).

this [SO](https://stackoverflow.com/questions/651048/concurrency-are-python-extensions-written-in-c-c-affected-by-the-global-inter) post had

[2018-06-05 15:03] hkaiser commented on #480
@ct-clmsn removing the assignment makes it work only coincidentally. Things really depend on what kernel thread the `print` ends up being executed and having different pieces of work in flight might change things, even more as tasks (HPX threads) might get stolen by the HPX schedulers and may end up running on any of the kernel threads.

My current assumption is that pybind handles the GIL properl

[2018-06-05 15:31] hkaiser commented on #480
We most probably need to find a way to introduce the threads created by the HPX runtime to Python. The GIL related thread state is stored in a thread-local variable which needs to be properly initialized to avoid the problems we're seeing. There exists a Python API for this (which is also used by pybind). The question is how to tie that into HPX.

[2018-06-05 15:48] stevenrbrandt commented on #480
This complex thread seems related to the issues we're having https://github.com/pybind/pybind11/issues/1360 here. Not quite sure if it contains a fix, mostly I'm posting the link so I don't lose it.

[2018-06-06 15:34] ct-clmsn commented on #480
@stevenrbrandt @hkaiser this [link](http://pybind11.readthedocs.io/en/stable/advanced/pycpp/utilities.html) helped clarify the underlying issue with print. As of today, this set/get issue is resolved. I'll close the ticket! thanks!

[2018-06-06 15:35] #480 closed

[2018-06-06 16:00] stevenrbrandt commented on #480
@ct-clmsn how did you resolve it? Is there a pull request somewhere?

[2018-06-06 16:21] ct-clmsn commented on #480
@stevenrbrandt needed to modify my unit testing process. did a source update with recompile on hpx and phylanx and suddenly all was good. i'll be adding source updates with recompiles to my bug assessment checklist.

[2018-06-06 17:42] stevenrbrandt commented on #480
@ct-clmsn do you get this error on shutdown? I get it all the time
[code]

[2018-06-06 18:02] ct-clmsn commented on #480
@stevenrbrandt not yet; just 'Aborted'.

[2018-06-06 18:34] ct-clmsn opened #482 "error updating function parameter values"
hit an issue running the following code
[code]
if the code is placed into a file python throws an exception on line 11. the python stack trace claims the error is in phylanx/ast/transformation.py  line 652. the phylanx back end throws a runtime error:

[code]

[2018-06-06 20:41] stevenrbrandt commented on #482
Actually, you can get the same error with this
[code]

[2018-06-07 03:07] ct-clmsn commented on #482
@stevenrbrandt savage!

[2018-06-07 04:26] hkaiser commented on #482
This is a know issue. You can't re-assign a value to a function argument. @stevenrbrandt perhaps we should copy all function arguments into (function-) local variables in the generated PhySL code.

[2018-06-07 04:28] hkaiser commented on #403
@stevenrbrandt Can this be closed now?

[2018-06-07 04:28] hkaiser commented on #440
I believe we can close this now. Please re-open, if necessary.

[2018-06-07 04:28] #440 closed

[2018-06-07 04:30] hkaiser commented on #271
@parsa Can this be closed now?

[2018-06-07 04:31] hkaiser commented on #121
This can be closed now. All the infrastructure for this functionality is now in place in HPX and Phylanx.

[2018-06-07 04:31] #121 closed

[2018-06-07 04:49] hkaiser commented on #480
@ct-clmsn the diagnostic message Steve is seeing is printed in Debug mode only (see https://github.com/pybind/pybind11/blob/master/include/pybind11/pybind11.h#L1815-L1820)

[2018-06-07 05:05] rtohid commented on #403
This still fails with the following error (I also tried with `make_list` instead of brackets):
[code]

I also tried:
[code]
**Test 1** fails with the same error but **Test 2** passes.

So I think `set_operation` only works on vectors- not lists.

[2018-06-07 05:41] parsa commented on #271
@hkaiser why should it be closed? It's still there

[2018-06-07 09:46] hkaiser commented on #480
@stevenrbrandt Could you get me a stack backtrace for this abort, please?

[2018-06-07 14:04] justwagle commented on #403
@rtohid Yes, that is true. Currently, set operation only works on vectors and I have already started working on adding list support to set and a few other changes that will make it more up to date.

[2018-06-07 14:37] ct-clmsn commented on #403
@justwagle awesome! thanks!

[2018-06-07 15:20] stevenrbrandt commented on #403
@hkaiser maybe we want to keep it open until @justwagle makes it work for lists?

[2018-06-07 18:22] stevenrbrandt commented on #482
@hkaiser it depends on what you mean by "copy." The code below should still print out [0,2,0]
[code]

[2018-06-07 18:29] stevenrbrandt commented on #482
It's worse... you can't even print an argument now.
[code]

[2018-06-07 18:33] hkaiser commented on #482
@stevenrbrandt did you mean to comment on a different ticket?

[2018-06-07 19:21] hkaiser commented on #482
@stevenrbrandt PhySL has no variable references.

[2018-06-08 07:17] parsa opened #484 "Attempt to free invalid pointer error when running any Phylanx application on Rostam"
### Output
[code]
### Output with Address Sanitizer enabled
[code]

### How to reproduce
[code]

[2018-06-08 07:30] hkaiser commented on #484
@parsa: Do you have a call stack for this?

[2018-06-08 08:07] hkaiser commented on #442
@parsa: we could modify `constant()` (it currently expects one or two arguments - a scalar value to use for initialization and an optional shape for the object returned) to accept just a shape argument in which case the returned object would stay uninitialized.

@stevenrbrandt, @rtohid: do you think this could be implemented in the Python transformation?

[2018-06-08 08:10] hkaiser commented on #446
@stevenrbrandt, @rtohid: what is the current state of this (also see #439)?

[2018-06-08 08:11] hkaiser commented on #472
This was resolved by #476.

[2018-06-08 08:11] #472 closed

[2018-06-08 15:20] stevenrbrandt commented on #442
@parsa It would take a little more than that since constant() can only create 1d arrays.

[2018-06-08 16:07] parsa commented on #484
@hkaiser This is from GDB:
[code]

[2018-06-08 16:50] hkaiser commented on #442
constant() can create 0d, 1d, and 2d numeric values

[2018-06-08 18:22] stevenrbrandt commented on #442
OK, I see how it works now... the second arg can be an array.

[2018-06-09 06:26] hkaiser commented on #442
IIRC, the first argument to `constant()` is the value to use to initialize the generated result with and the second argument specifies the requested size of the result. I think the second argument can be either a list of 0, 1, or 2 dimension sizes or another array which will be used to extract the desired shape.

[2018-06-09 06:35] hkaiser commented on #408
Please try again using #483, this should solve this issue.

[2018-06-09 06:36] hkaiser commented on #458
Is this resolved now?

[2018-06-09 06:37] hkaiser commented on #414
This should have bee resolved by #459. Please reopen if the issue persists.

[2018-06-09 06:37] #414 closed

[2018-06-09 06:39] hkaiser commented on #256
@stevenrbrandt, @rtohid what's the current status on this?

[2018-06-09 13:05] stevenrbrandt commented on #256
@hkaiser not finished

[2018-06-19 16:02] weilewei opened #486 "Array shape (n*1) error"
The array shapes (n*1) between Phyton and Phylanx are not consistent:
[code]
My expected two outputs should be the same but the print result is:

[code]

But if the input array is m*n shape, the translation process from Python to Phylanx works fine.
i.e. if you change value y into:
`y = np.array([[1, 2], [1, 2], [0,2]])`

Can you take a look at? Thanks.

[2018-06-20 22:03] weilewei commented on #486
yes, it works now. Thank you!

[2018-06-20 22:10] weilewei opened #489 "Calling np.sum failed in Phylanx"
calling np.sum will raise complains, but sum works fine.

testing code:
[code]

Can anyone take a look at this? Very appreciate.

[2018-06-20 22:12] #486 closed

[2018-06-20 22:13] hkaiser commented on #489
@rtohid is that something that needs to be added to the list of mapped primitives?

[2018-06-21 14:56] rtohid commented on #489
@hkaiser I don't think so. Since the keyword `sum` is the same in Phylanx and NumPy, `np.sum` should automatically get mapped to Phylanx's `sum` primitive.

@weilewei Could you please verify that other NumPy methods are mapped correctly? As I remember you also used `np.dot` and `np.transpose` in your code, thanks.

[2018-06-21 18:22] parsa commented on #272
This problem has started showing up again. Plugins are not built by `make python_setup`.

[2018-06-21 18:50] rtohid commented on #489
@hkaiser Sorry, you are right, I had forgotten that we still explicitly map NumPy methods! I'll fix it.

[2018-06-21 20:24] stevenrbrandt commented on #466
I will add that this variant of kernel2 works:
[code]

[2018-06-21 21:13] weilewei opened #491 "Variables PhySL functions are written to only once"
Variables inside PhySL functions get their value the first time `define` is evaluated.

e.g.
[code]
Output:
[code]

[2018-06-21 21:52] hkaiser commented on #491
Yes, this is one of the know idiosyncrasies of the current compiler implementation where variables are handled differently form functions. I hope to have a solution for this soon.

[2018-06-21 22:03] weilewei commented on #491
Thanks! Hope it can be solved soon.

[2018-06-21 22:09] stevenrbrandt opened #492 "Can't call a Lambda"
The code
[code]
Yields the message
[code]
Apparently, the argument count is not correctly identified when calling lambdas. For reference, the PhySL code is here:
[code]

[2018-06-21 22:19] weilewei opened #493 "The precision in Phylanx is less than the one in Python"
The precision in Phylanx is less than the one in Python.
e.g.

[code]

The output:
[code]

[2018-06-21 22:30] weilewei opened #494 "len operation does not support np.array"
The code
[code]
yields information:
[code]

[2018-06-21 23:48] hkaiser commented on #493
This should be just a representation issue (output formatting). Changing the used formatting on the output stream here should do the trick: https://github.com/STEllAR-GROUP/phylanx/blob/master/src/ir/node_data.cpp#L1305. @weilewei would you like to try fixing this?

[2018-06-21 23:54] hkaiser commented on #494
This is something that would have to be added here: https://github.com/STEllAR-GROUP/phylanx/blob/master/src/plugins/listops/len_operation.cpp#L76. Shouldn't be too problematic...

[2018-06-22 17:53] ct-clmsn opened #495 "error decrementing value in an indexed array"
The following code sample throws an error in $PYTHONPATH/phylanx/ast/transformation.py, on line 420. The variable `x[0]`, in the sample, is stored in the AST as an 'ast.Subscript' type and has no attribute named id.

'''
import phylanx
from phylanx.ast import *

@Phylanx
def run():
    x = constant(0.0, 10)
    x[0] -= 1.0

run()
'''

[2018-06-22 18:04] ct-clmsn commented on #495
@hkaiser @stevenrbrandt @rtohid I've got this one; sorted out a fix.

[2018-06-22 18:48] hkaiser commented on #495
@ct-clmsn what did you do to fix this?

[2018-06-22 18:54] ct-clmsn commented on #495
@hkaiser will add the code below.

In phylanx/ast/transformation.py, line 413 is a function called def _AugAssign. below is a rewrite of the function with the fix added

[code]

[2018-06-22 19:01] hkaiser commented on #495
@ct-clmsn great, thanks!

[2018-06-22 19:16] ct-clmsn commented on #495
@hkaiser did ya'll want me to provide a PR or are ya'll going pick that up?

[2018-06-22 19:48] hkaiser commented on #495
@ct-clmsn a PR would be most appreciated, thanks!

[2018-06-22 19:49] ct-clmsn commented on #495
@hkaiser got it - will send in a few hours.

[2018-06-22 23:07] ct-clmsn commented on #495
@hkaiser PR has been posted!

[2018-06-22 23:58] hkaiser commented on #492
@stevenrbrandt This is caused by the known flaw in the compiler that executes nullary function definitions at compile time. I'm working on a fix that will address this issue (amongst others).

[2018-06-24 18:58] ct-clmsn opened #499 "segfault in kmeans.phylanx.py"
getting a segmentation fault on line 36 in kmeans.phylanx.py - any suggestions on how to provide better debugging information?

[2018-06-24 19:32] hkaiser commented on #499
@parsa would you mind having a look?

[2018-06-24 22:11] parsa commented on #499
It just works for me. @ct-clmsn do you have any idea how to reproduce it?

[2018-06-24 22:15] ct-clmsn commented on #499
@parsa will give another shot this evening.

[2018-06-25 14:09] ct-clmsn commented on #499
@parsa ok, found the issue. when i put empty debugging print statements after every line in closest_centroid, the algorithm runs to completion with no segmentation fault. when those print statements are removed, the system segmentation faults. maybe this is related to the GIL/stdout issue?

[2018-06-25 15:42] parsa commented on #499
@ct-clmsn I'd really like to be able to see this error. What do I do to reproduce it?
https://github.com/STEllAR-

I don't know what you mean by the edge case issue for line 97. That `kmeans` function call returns a 3x2 NumPy array, and which is then printed.

[2018-06-25 16:56] ct-clmsn commented on #499
@parsa to reproduce the error, i just run the script and it segfaults (minus print statements). if it's working for you, i'm not sure how to reproduce the problem except to say, try running it on a couple machines? if ya'll have advice on how to generate a stacktrace or other debugging output, please relay those tips, i can try to produce some output that might help us sort this out.

For line 97,

[2018-06-25 17:15] khuck commented on #499
@ct-clmsn try setting "ulimit -c unlimited" before executing, then when it crashes you should get a core file you can load and examine with gdb...

[2018-06-26 18:43] ct-clmsn commented on #499
@khuck thanks! trying to give that a shot.

[2018-06-26 19:54] ct-clmsn opened #501 "support basic numpy types"
numpy has internal data structures that might require some support or mapping into phylanx types.

documentation can be found here: https://docs.scipy.org/doc/numpy-1.13.0/user/basics.types.html

[2018-06-26 21:21] weilewei opened #502 "zero dimension np.array is not supported in Phylanx"
for example:
the code
[code]
yields
[code]
Thanks for taking a look at!

[2018-06-26 21:31] hkaiser commented on #501
@ct-clmsn yes, you make a valid point. Currently we support three types: `bool`, `int64`, and `double`. All other numpy types (`int32` etc.) are explicitly converted. We clearly miss complex, though.

[2018-06-26 21:37] hkaiser commented on #502
nice catch!

[2018-06-26 21:46] hkaiser commented on #499
@ct-clmsn I think @parsa is now able to reproduce this issue. We're working on a fix as we speak...

[2018-06-26 22:19] ct-clmsn commented on #499
@parsa @hkaiser my apologies for the lack of a reasonably clear bug report!

[2018-06-28 20:00] kawilliams opened #505 "Line numbers of instances from .physl are incorrect"
The line numbers in the (full) names of the instances do not account for comments ('#').
e.g. access-argument/ratings(10,37) is actually in line 29 in als.physl (line number says it should be at line 10, character 37 -- the character count is correct)

[2018-06-29 14:49] hapoo commented on #484
The problem solved on Rostam by upgrading `tcmalloc` provided in gperftools. Either load the `gperftools/2.7` module or use `-DTCMALLOC_ROOT=/opt/mn/gperftools/2.7` while compiling HPX

[2018-06-29 14:49] #484 closed

[2018-06-29 19:34] ct-clmsn commented on #484
@hapoo awesome! great work!

[2018-06-29 20:34] hkaiser commented on #502
This has been fixed by merging #503

[2018-06-29 20:34] #502 closed

[2018-06-30 03:11] hkaiser opened #508 "@Phylanx not complaining about unknown named arguments"
This code will not complain about the unknown named argument 'Foo':
[code]
I'd expect an error message saying something like "'Foo' is not a supported named argument for `@Phylanx`".

[2018-07-02 22:51] weilewei opened #509 "Empty list defined inside Phylanx function has an issues"
Empty list defined inside Phylanx function can automatically append the input list of the function.
For example,
code
[code]
yields
[code]

[2018-07-02 22:57] weilewei opened #510 "Empty np.array defined inside Phylanx function has an issues"
Similar to #509 but this time it is numpy array.
Empty np.array defined inside Phylanx function can automatically append the input np.array of the function.
For example,
code
[code]
yields,
[code]

But if you put `b = np.array([1])`, the result is correct.

[2018-07-03 17:55] hkaiser commented on #509
@weilewei What is the expected output of the snippet above, and what do you see actually?

[2018-07-03 18:03] hkaiser commented on #510
@weilewei What is the expected output and what do you actually see?

[2018-07-03 18:22] weilewei commented on #510
@hkaiser First, I create an empty array inside the function and want to print this empty array. But what the PhySL prints is not an empty array, but an array that copied the value of the last parameter.

[2018-07-03 18:23] weilewei commented on #509
@hkaiser First, I create an empty list inside the function and want to print this empty list. But what the PhySL prints is not an empty list, but a list that copied the value of the last parameter.

[2018-07-03 18:52] hkaiser commented on #510
I understand that. Could you please document literally the expected and real outputs for the code above? Better yet, rewrite the code snippet as a test?

[2018-07-03 20:06] weilewei commented on #510
I expect `[]`  to be returned by the following fucntion:
[code]
however, it returns,
[code]
which is the `hstack` of all the function's input arguments. Therefore, the following test fails
[code]

[2018-07-03 20:52] weilewei commented on #509
I expect `[]` to be returned by the following function:
[code]
however, it returns
[code]
which is the `make_list` of all the function's input arguments. Therefore, the following test fails
[code]

[2018-07-05 13:44] hkaiser commented on #509
@weilewei this has been fixed for the new compiler (here: https://github.com/STEllAR-GROUP/phylanx/tree/fixing_compiler).

[2018-07-05 13:44] hkaiser commented on #510
@weilewei This has been fixed for the new compiler (here: https://github.com/STEllAR-GROUP/phylanx/tree/fixing_compiler).

[2018-07-05 13:56] weilewei commented on #509
Thank you! @hkaiser

[2018-07-05 13:56] weilewei commented on #510
Thanks! @hkaiser

[2018-07-05 14:09] weilewei commented on #510
@hkaiser I run the test on the branch of fixing_compiler just now but the test failed. Shall I wait for a while?

[2018-07-05 15:16] weilewei opened #512 "Local variable remained unchanged after the 1st time calling the fucntion"
I expect
[code]
to be returend by the following function
[code]
however, it returns
[code]
Therefore, the following test fails
[code]

[2018-07-05 15:22] hkaiser commented on #509
@weilewei while other tests are still failing on that branch, this particular issue was fixed (https://circleci.com/gh/STEllAR-GROUP/phylanx/5075)

[2018-07-05 15:27] weilewei opened #513 "store function should only be called for the primitives that support it"
I expect the following code can return `2` for `a`, but it failed.
The code
[code]
complains
[code]

[2018-07-05 15:28] weilewei commented on #512
@hkaiser oh, thanks! I will check it out.

[2018-07-05 15:53] hkaiser commented on #491
This has been fixed on the fixing_compiler branch (https://github.com/STEllAR-GROUP/phylanx/tree/fixing_compiler).

[2018-07-05 15:54] hkaiser commented on #513
This is a known issue (has been reported before here: #482). Closing.

[2018-07-05 15:54] #513 closed

[2018-07-05 18:03] weilewei opened #516 "For loop (map:: function) failed after first time of execution"
I am checking the lastest branch of `fixing_compiler` with `commit e385f1c427d7d8b2cf93d56b6f9f3efdea7387ae`
I expect
[code]
to be returned by the following code
[code]
however, it complains
[code]

[2018-07-07 14:32] hkaiser commented on #505
@kawilliams After thinking about this some more I'd like to refer you to the spot where the currently used formatting for the symbol information is documented. I suspect (please correct me if I'm wrong) that you're possibly using the wrong piece of information as the line number. The symbol naming structure is explained here:

https://github.com/STEllAR-GROUP/phylanx/blob/master/phylanx/execution_

[2018-07-09 17:00] kawilliams commented on #505
I looked at the [instructions](https://github.com/STEllAR-GROUP/phylanx/blob/master/phylanx/execution_tree/compiler/primitive_name.hpp#L20-L39) and am wondering what the difference is between "position" and "line number":

[code]

As an example, looking at `als.physl` and the primitive branch ending with `access-variable/num_items(14, 52)` (the fourth branch from the top of the [tree](http://hdc.c

[2018-07-09 20:01] weilewei commented on #512
@hkaiser
The issue still persists if a new value is assigned to a local variable. For example, in the following code,
we expect `2` for both invocations of the function `foo`, but we get `2` and `3` respectively for the 1st and 2nd invocations with the same argument `1`.

[code]

Therefore, the following test failed:
[code]

[2018-07-09 20:11] weilewei commented on #512
@hkaiser with branch `fixing_compiler` and its `commit a1b31fd94e7ab85f52062daf36efc308d8d8faf7` and `Date:   Mon Jul 9 11:45:56 2018 -0500`

[2018-07-10 01:22] hkaiser commented on #512
@weilewei this should be fixed now (on that branch). Thanks!

[2018-07-10 01:35] weilewei commented on #512
@hkaiser Thank you so much! It works!

[2018-07-10 18:01] hkaiser commented on #505
@kawilliams that looks wrong, indeed. We currently work on a major overhaul of the PhySL compiler (here: #515), which hopefully will fix your issue as well. The tests I ran seem to produce correct line information now, at least.

The position is the character-sequence position relative to the start of the file, but I don't think this is relevant in your case (I even think we can remove this commen

[2018-07-10 21:14] weilewei opened #522 "Multi-dimension np.array cannot be created in Phylanx"
I expect the following code works
[code]
However, it complains
[code]
However, one dimensional np.array works fine inside the Phylanx. For example, if you change `x` to `np.array([1, 1])`

One potential testing code could be as follows (I am unsure if it helps)
[code]

[2018-07-10 21:41] weilewei opened #523 "Add operation on the element of the list is not working properly"
Add operation on the element of the list is concatenating things instead of adding up element's value
I expect `[2, 1]` to be returned by the following code
[code]
however, it yelds,
[code]
FYI, PhySL version code looks like this:
[code]
Thus, the following test failed
[code]

[2018-07-10 21:44] weilewei commented on #523
Similarly, if I put `np.array` type element inside the list, the add operation failed.
The following code, which is failing at this point, could be added as another testing code
[code]

[2018-07-10 23:08] hkaiser commented on #522
@weilewei The code above is translated to this PhySL:
[code]
which doesn't look right to me. This the probable reason for the error message you're seeing. @rtohid do you think this could be changed in the frontend? I think this should use `hstack` instead of the `make_list`, which would produce the correct array type.

[2018-07-11 01:48] hkaiser commented on #522
I'm going to add support to `hstack` and `vstack` to accept lists as inner arguments. However the snippet above should be translated to:
[code]
as the inner arrays have to be interpreted as rows of the produced column, not columns.

[2018-07-11 14:26] weilewei opened #524 "list's looping problem"
I am not quite sure how to exactly describe this problem, but I think it could be sorted to list's indexing problem.

Here is what I did. I first tried to reverse a list and then excluded the last item in the list. The following code works well in pure Python but does not work in Phylanx. The python code printed `[7, 8] [5, 6] [3, 4]`, which is what I expected, but if I put `@Phylanx(debug=True)`

[2018-07-11 14:52] hkaiser commented on #523
@weilewei Both tests pass (for me) on the fixing_compiler branch, have you tried that?

[2018-07-11 17:52] hkaiser commented on #441
The physl interpreter has been extended to print some docs in #481.

[2018-07-11 18:03] hkaiser commented on #441
@parsa has added some documentation for the primitives here: https://github.com/STEllAR-GROUP/phylanx/wiki/Primitives-Documentation

[2018-07-11 19:44] hkaiser commented on #523
@weilewei you were right today, this test is still failing. But this is unrelated to the compiler changes in #515. @rtohid this is more of an issue for the frontend.

[2018-07-11 19:46] #493 closed

[2018-07-12 01:07] #491 closed

[2018-07-12 01:07] #492 closed

[2018-07-12 01:07] #494 closed

[2018-07-12 01:07] #509 closed

[2018-07-12 01:07] #510 closed

[2018-07-12 01:07] #512 closed

[2018-07-12 01:07] #516 closed

[2018-07-12 01:15] hkaiser commented on #505
@kawilliams now that the new compiler has been merged to master I would like to ask you to try again and see if the strange line number issue is fixed or not. Also, the structure of the generated tree has changed, so please report any issues here as well.

[2018-07-12 17:14] hkaiser commented on #489
This was fixed by merging #526

[2018-07-12 17:14] #489 closed

[2018-07-12 17:22] #524 closed

[2018-07-12 17:58] weilewei opened #527 "Unexpected slicing issue"
I did not expect the following code works, but it prints `3`. However, in pure Python (without `@Phylanx(debug=True)`), it returns `TypeError: 'int' object is not subscriptable`.

[code]
FYI, I attached PhySL code as follows
[code]

[2018-07-12 22:08] weilewei opened #528 "Can't write into list"
If I defined a list inside a fucntion and then write into the list's element, it failed.

I expect `[55, 2]` to be returned by the following code,
[code]
 while it complains that
[code]
FYI, I attached the PhySL code
[code]

Therefore, the following test code fails
[code]

[2018-07-12 22:18] weilewei opened #529 "writes to arrays passed as arguments are ignored!"
I expect `[55 1]` to be returned by the following code, however it prints `[2 1]`
[code]
Thus, the following testing code fails

[code]

However, it works fine if the array is defined within a function. Here, I simpily attached the testing code, which is passed.
[code]

[2018-07-12 22:22] weilewei opened #530 "Set primitive is not enabled for augmented assignment"
`Set primitive` is not enabled for augmented assignment, as it is translated to `store` instead.

I expect `[57  1]` to be returned by the following code, however, it prints `[57. 56.]`.
[code]
FYI, I attached the PhySL code
[code]

Therefore, the following testing code fails.
[code]

[2018-07-12 22:33] weilewei commented on #528
Similarly, if I define a list outside the function, it fails for the same error.

The code
[code]
FYI, I attached the PhySL code
[code]
Therefore, the following testing code fails.
[code]

[2018-07-12 22:45] weilewei commented on #523
@hkaiser this issue is pretty similar to #530, at least to me. I discussed with @rtohid this afternoon, we don't have much solutions yet, but he has some ideas how to fix #530. Thanks.

[2018-07-13 19:39] kawilliams commented on #505
@hkaiser Tree structure looks the same to me, no issues on my end. The line numbers also look the same, which is unfortunately an issue (I compared the two sets of performance data from an old commit and this most recent commit after the compiler update and the line numbers haven't changed at all)

[2018-07-13 21:02] hkaiser commented on #505
@kawilliams ok, thanks for verifying. Could you please give me exact instructions on how to reproduce the line number issues you're seeing (what files, what command line options, etc.)?

[2018-07-15 13:06] hkaiser commented on #408
I'm closing this for now. Please reopen if the issue still persists.

[2018-07-15 13:06] #408 closed

[2018-07-16 20:39] kawilliams commented on #505
Use https://github.com/hdc-arizona/traveler-tree to generate the visualization (instructions in the README).

To generate the data, I used:
HPX: commit e46cd4b7568eac8d96e13658ab4395f54f9383d8
Phylanx: commit 60d9099d99c2389dcc3c0f5137f7e8e0ce6aebf1
and
srun -n 1 ./als_csv_instrumented --data_csv=MovieLens.csv -i -t2 >20180713

Using the output, I copy the als tree structure (the Newick-formatted

[2018-07-16 21:19] hkaiser commented on #505
@kawilliams ok, that explains it. The code in als_csv_instrumented (https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/als/als_csv_instrumented.cpp#L39-L115) is slightly different from `als.physl`. For this reason, the line numbers refer to the PhySL code embedded in the cpp file, not the standalone code.

Could you try rerunning
[code]
which should generate similar output, p

[2018-07-16 21:20] hkaiser commented on #505
@kawilliams alternatively, copy the code from the `als_csv_instrumented` into a separate file and use that for the code view (https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/als/als_csv_instrumented.cpp#L39-L115).

[2018-07-18 19:52] kawilliams commented on #505
Things (mostly) work! I copied als_csv_instrumented.cpp and I search for the line that starts the als/Physl algorithm (line 39). Then I offset the code that is displayed. This means that the first 38 lines are (currently) omitted from the code view, but since all of these instances are local to this function, I think this shouldn't be an issue. I'm good with closing the issue.

I've updated my exa

[2018-07-18 20:21] aserio commented on #505
This is so cool

[2018-07-26 14:34] ct-clmsn opened #537 "compressed sparse blocks + SpMV/SpMVT"
[This paper](http://people.cs.georgetown.edu/~jfineman/papers/csb.pdf) is useful for sparse matrix support.

[2018-07-29 21:31] hkaiser opened #539 "Python frontend should pass filename"
The Python frontend should pass along the name of the Python file executed to the backend to improve error messages.

[2018-07-30 19:50] hkaiser opened #540 "Create local variable for function argument that are being written to"
PhySL does not support writing directly to function arguments. Creating a (hidden) local variable which is being used instead of the argument would alleviate that problem.

This would also involve changes to the error reporting as the symbol information has to be properly tracked and updated.

[2018-07-30 22:04] justwagle opened #541 "Phylanx build failes"
The current Phylanx master fails with the following error.

[code]

[2018-07-30 22:39] hkaiser commented on #541
This has been fixed by https://github.com/STEllAR-GROUP/phylanx/commit/62f43e599dd94725b557d11cb429e20c33fe9462

[2018-07-30 22:39] #541 closed

[2018-07-30 23:16] scheherzade opened #542 "als_csv_instrumented fails"
Running
[code]
results in the following error:
[code]

When I add ```cout(ratings)``` to als_explicit as:
[code]
it prints:
```/home/shahrzad/Spyder/MovieLens/ml-20m/MovieLens_20m.csv```
as the ratings matrix which is wrong. The ratings matrix is the output of read_x function:
[code]

[2018-07-31 00:01] hkaiser commented on #542
@scheherzade confirmed - investigating...

[2018-07-31 00:37] hkaiser opened #543 "Calling compile more than once in a row references wrong code"
Calling `compile` more than once in a row using the same snippets object makes all code objects refer to the PhySL code compiled last,

[2018-07-31 00:39] hkaiser commented on #542
This was fixed by https://github.com/STEllAR-GROUP/phylanx/commit/15975d45dde31c4b47ebeda33e4d66e4124f5f66

[2018-07-31 00:39] #542 closed

[2018-08-02 16:46] ct-clmsn opened #546 "primitives request: count_nonzero and nonzero"
request for a new primitive that implements [numpy.count_nonzero](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.count_nonzero.html) and a primitive for [numpy.nonzero](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.nonzero.html)

[2018-08-02 17:00] ct-clmsn opened #547 "primitive request: indexing matrices with arrays"
index a matrix or array using an array according to the advanced indexing criteria in the [numpy documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html); this might help speed up fine-grain matrix/array access operations.

loops like:

[code]

would become:

[code]

[2018-08-02 17:20] ct-clmsn opened #548 "primitive request: numpy.matrix.itemset"
make a primitive or modify the IR analyzer to provide functionality similar to [numpy.matrix.itemset](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.matrix.itemset.html). this should also help users replace the follow types of loops

[code]

with expressions such as:

[code]

#547 more than likely takes care of this situation. this seems unnecessary/excessive.

[2018-08-02 17:31] hkaiser commented on #547
Very nice! I like it.

[2018-08-02 19:01] #548 closed

[2018-08-02 19:14] Bamba83 opened #549 "Missing np.add"
I expect the result `[[2 4] [6 8]]` to be returned by the following code
[code]
However, it complains
[code]
Therefore, `np.add` is not existing.

[2018-08-02 21:00] hkaiser commented on #549
The generated PhySL is bad. @rtohid could you please check if this works with your new frontend?

[2018-08-02 21:30] rtohid opened #550 "Slicing with reverse steps."
Slicing fails with reverse (negative) steps. E.g.:
[code]
generates the  following PhySL:
[code]
 and fails with:
[code]

[2018-08-03 15:13] ct-clmsn opened #551 "primitive request: numpy.where"
[numpy.where](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html#numpy.where) provides a user the ability to perform conditional operations on an input vector or matrix and get back a tuple of indices identifying positions in the matrix/vector that meet the condition. when combined with #547 this becomes a nice tool for performing bulk operations on index sets in a matrix

[2018-08-03 15:15] ct-clmsn commented on #547
@hkaiser the semantics can be a little tricky; implementer beware.

[2018-08-03 16:24] ct-clmsn opened #552 "primitive request: scan / numpy cumulative sum"
provide a scan or numpy [cumulative sum](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.cumsum.html) primitive.

[2018-08-03 16:26] ct-clmsn opened #553 "primitive request: numpy.arange"
provide [numpy.arange](https://docs.scipy.org/doc/numpy-1.12.0/reference/generated/numpy.arange.html#numpy.arange) support.

[2018-08-03 18:21] hkaiser commented on #553
What's the difference to the (existing) `linspace()` primitive (https://github.com/STEllAR-GROUP/phylanx/wiki/linspace-Primitive)?

[2018-08-03 19:14] stevenrbrandt commented on #553
@hkaiser, both functions exist in numpy and are similar
arange(start,end,step_size)
linspace(start,end,num_steps)
Also, arange() defaults to integer type while linspace to real. Thus, arange(0,4,1,dtype=float) gives the same answer as linspace(0,3,4).

[2018-08-03 19:47] stevenrbrandt commented on #441
@parsa What is lacking here is a way to know if the wiki is up to date. The script below can be used to check, but if you run it too frequently the wiki may fail to serve up a 200. Missing primitives (according to my script) currently include:
[code]
One thing the script does not currently have the ability to check is whether something is documented in the wiki, but not present in physl.
[code]

[2018-08-03 20:11] stevenrbrandt commented on #441
The following script does a better job of checking the wiki. It makes a single http request, and can find things that are present in the wiki but not physl:
[code]

[2018-08-03 21:11] stevenrbrandt commented on #445
Apparently, this got fixed and the ticket didn't get closed.

[2018-08-03 21:11] #445 closed

[2018-08-03 21:17] stevenrbrandt commented on #249
I've just checked off the boxes because, unless I misunderstand the last two items, all this is done. @hkaiser do you agree?

[2018-08-03 21:24] stevenrbrandt commented on #106
@justwagle is this still an issue for you?

[2018-08-03 21:56] hkaiser commented on #549
@rtohid nice, thanks! Do you have support for the other arithmetic (and possibly other) operations as well?

[2018-08-03 21:57] hkaiser commented on #249
yes, thanks!

[2018-08-03 21:57] #249 closed

[2018-08-03 21:59] hkaiser commented on #441
@stevenrbrandt very nice! now, let's generate skeleton pages for the primitives that miss a wiki page...

[2018-08-03 22:01] hkaiser commented on #553
Can we do the mapping in the frontend without having to create YAP (yet another primitive)? @rtohid?

[2018-08-04 12:30] ct-clmsn commented on #553
@hkaiser @stevenrbrandt forgot we had linspace! (I should RTM) The difference between them is subtle. you can replicate an arange over floats using linspace and a floor operation. speaking of which...do we have a floor/ceil primitive?

[2018-08-04 14:26] hkaiser commented on #553
@ct-clmsn we do have `floor` and `ceil`, see: https://github.com/STEllAR-GROUP/phylanx/wiki/Unary-Math-Operations

[2018-08-04 14:30] hkaiser commented on #553
@ct-clmsn also, you might be able to get away without `floor` or `ceil':
[code]

[2018-08-04 15:54] ct-clmsn commented on #553
@hkaiser excellent! revisiting the documentation! (I've become the bofh) 8|

For the situation you described, would the backend re-interpret the double precision values as ints if the linspace values are used for indexing?

[2018-08-04 18:02] hkaiser commented on #553
@ct-clmsn it was merely a question. I'm not sure if it's feasible. The numpy guys implemented both for a reason, after all.

[2018-08-06 02:03] hkaiser commented on #546
Note: `numpy.nonzero` is equivalent to `numpy.where` with just one argument (see #551).

[2018-08-06 03:50] justwagle commented on #106
@stevenrbrandt Looks like this has been fixed with the new compiler update.
My testcase:
Physl code from issue #288
[code]
Running with the interpreter produces the following correct output:
[code]

[2018-08-06 15:02] stevenrbrandt commented on #106
My test passes too.

[2018-08-06 15:02] #106 closed

[2018-08-06 17:42] stevenrbrandt commented on #553
One issue here is the "dtype=32". Currently, AFAIK, PhySL has no way of supporting that syntax.

[2018-08-06 21:31] hkaiser commented on #553
PhySL should derive the type used for the generated list of values from the arguments. We have only recently started to consistently apply this to the primitives. `linspace` might still be blindly generating arrays of doubles at this point. I'll investigate.

[2018-08-07 01:17] hkaiser opened #557 "hstack and vstack are slightly interchanged"
Currently, `hstack(a, b)` returns a 1d array that represents a _row_ of a matrix (it's _horizontal_ stack after all). Internally however `hstack` produces a `blaze::DynamicVector` which represents a _column_ of a matrix.

Likewise, currently `vstack(a, b)` produces a 2d array that represents a _column_ in a matrix (it's _vertical_ stack after all). Internally the result is represented as a `blaze:

[2018-08-07 01:17] ct-clmsn commented on #553
@hkaiser should this ticket be closed?

[2018-08-07 01:19] hkaiser commented on #553
@ct-clmsn let's leave it open, I plan to expose `arange` from the `linspace` primitive, shouldn't be too hard.

[2018-08-07 01:28] hkaiser commented on #553
@ct-clmsn the arguments of `arange` and `linspace` have slightly a different meaning. I'm not sure yet how much these two can be unified using the same implementation basis. In any case, even a completely separate `arange` shouldn't incur too much work.

Also, for the integer version of `arange` we might be able to borrow or reuse the existing code we have for `range`.

[2018-08-07 01:54] justwagle commented on #557
@hkaiser, Yes Sir, You are absolutely right. I will fix this.

[2018-08-07 07:25] hkaiser commented on #557
I'm no so sure about this part anymore... Any opinions?

[2018-08-07 15:28] stevenrbrandt commented on #553
@hkaiser while using the type of the arguments to arange() to deduce whether to generate integer or real matches the behavior of Python, doing so for linspace() is diffferent from Python.

[2018-08-08 02:43] stevenrbrandt commented on #553
@hkaiser if functions could return their list of argument names, and arguments could have default values, this could work.

[2018-08-08 02:50] justwagle opened #561 "Store Operation Test Fails"
The Store operation test fails on latest master.

[code]

[2018-08-08 15:53] stevenrbrandt opened #563 "square_root() should probably be removed"
The square_root primitive, with prototype square_root(_1, _2), unconditionally dies with the message "the square_root operation requires exactly one operand. It should probably be removed rather than fixed, as it's now redundant.

[2018-08-08 16:52] hkaiser commented on #563
That's already happened here: https://github.com/STEllAR-GROUP/phylanx/pull/556

[2018-08-09 13:56] justwagle commented on #557
Upon closer inspection, it looks like we are doing what numpy does.

[code]

[2018-08-14 15:05] weilewei opened #567 "adding dictionary case for base_primitive.cpp"
I am adding `case 8` the `phylanx::ir::dictionary` in various functions in `base_primitive.cpp`, so other `dictionary` functions can work properly in the near future. I marked `// TODO` for some places in the file where I am not sure how to process. Can you review my branch `dict_base_primitive`? @parsa

[2018-08-16 14:51] weilewei opened #568 "Shape is not working properly"
I expect the following code works, while it complains that the function is not completed due to a missing parenthesis.

The code
[code]
generates the error message
[code]
Therefore, the following test fails.
[code]
However, `np.shape(X)[1]` can generate correct PhySL code in Python code with Pylanx decorator, which is shown in the comment.

[2018-08-16 15:07] weilewei commented on #568
FYI, the generated PhySL code as follows

[code]

[2018-08-16 15:08] weilewei commented on #568
FYI, the generated PhySL code is as follows
[code]

[2018-08-17 20:13] #442 closed

[2018-08-17 20:13] #522 closed

[2018-08-17 20:13] #530 closed

[2018-08-17 20:13] #549 closed

[2018-08-22 15:05] parsa opened #570 "Phylanx variant doesn't compile with MSVC 19.15.26726"
Output
[code]

[2018-08-22 16:32] parsa commented on #570
Update: Replacing [`variant.hpp`](https://github.com/STEllAR-GROUP/phylanx/blob/master/phylanx/util/variant.hpp) to [Michael Park's latest version](https://github.com/mpark/variant/releases/download/v1.3.0/variant.hpp) does not help.
[code]

[2018-08-22 17:01] hkaiser commented on #570
@parsa: Please report this to Michael Park.

[2018-08-22 20:48] parsa commented on #570
@hkaiser I don't know what is broken. What does a test case that reproduces the issue look like?

[2018-08-22 22:30] #550 closed

[2018-08-22 22:32] hkaiser commented on #469
@rtohid Wasn't this fixed by #566? Can we close this now?

[2018-08-22 22:33] hkaiser commented on #539
@rtohid what is the status of this?

[2018-08-22 22:34] hkaiser commented on #508
@rtohid Has this been fixed now?

[2018-08-23 22:05] #570 closed

[2018-08-24 19:17] rtohid commented on #539
@hkaiser The easy part of extracting the file's name is done. I still need to look into the C++ side and figure out what needs to be exposed to Python. I assume it should be an extra argument to `execution_tree.eval`, is that correct? Thanks.

[2018-08-24 20:58] hkaiser commented on #539
The source name needs to end up as an (additional) first argument to `compile` here: https://github.com/STEllAR-GROUP/phylanx/blob/master/python/src/bindings/binding_helpers.hpp#L163.

[2018-08-28 17:13] stevenrbrandt opened #575 "Phylanx does not allow assignment to a slice"
This code throws an error, it should instead set matrix element 0,0.
[code]

[2018-08-28 17:14] stevenrbrandt opened #576 "set_operation does not work for 0,0"
This code assigns 0 to matrix element 0,0 instead of 900
[code]

[2018-08-29 14:11] stevenrbrandt commented on #575
The generated PhySL is this
[code]
It does not call the appropriate set operation.

[2018-08-29 14:11] stevenrbrandt commented on #575
In case you like tracebacks....
[code]

[2018-08-29 14:45] justwagle commented on #576
@rtohid Yes, the set primitive's functionalities have been moved to the store primitive and it will be removed soon.

[2018-08-29 15:03] rtohid commented on #575
The `set` primitive is not used anymore as its functionality has been moved to `store`.
The error is caused by the assignment to the function argument which is not supported, please see the link in my last comment.

[2018-08-30 02:09] hkaiser commented on #575
The simplest workaround is to assign the argument to a local variable and use that instead:
[code]

[2018-08-30 02:12] #508 closed

[2018-08-31 00:45] #539 closed

[2018-09-02 20:06] #546 closed

[2018-09-02 20:06] #403 closed

[2018-09-02 20:06] #528 closed

[2018-09-02 20:06] #529 closed

[2018-09-02 20:06] #551 closed

[2018-09-02 20:06] #561 closed

[2018-09-02 20:06] #563 closed

[2018-09-04 17:28] khuck opened #581 "tests.regressions.execution_tree.slicing_nil_358 test failure"
On the buildbot systems, tests.regressions.execution_tree.slicing_nil_358 is failing (in strange and wonderful ways).

For one user, the only failures are:

[code]

For the other, all tests fail (although they shouldn't):
[code]

this is on the x86_64 buildbot server, using gcc 7.1: http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/172/steps/12/logs/stdio

[2018-09-04 17:33] khuck opened #582 "tests.unit.algorithm.simple_als test is failing on buildbot server"
Interestingly, for some users the exact same result happens but does **not** result in a failed ctest.

For buildbot user:
[code]

For khuck:
[code]

[2018-09-04 17:37] khuck opened #583 "tests.unit.plugins.matrixops.random_distributions buildbot test failing"
...again, another test that only fails for the buildbot user.

[code]

built on x86_64 linux with gcc 7.1

[2018-09-05 01:45] khuck opened #584 "tests.unit.python.execution_tree.eval test fails on POWER8/Clang"
The Release build call stack is massive (318 functions deep) and the test fails this way:

[code]

The Debug build fails in a different location, but with an equally massive call stack (in the ~436 range).  In the Debug build, it appears a boost "unused" type is passed as an attribute/context somewhere deep in boost:

[code]

[2018-09-05 13:15] hkaiser commented on #584
The Release and Debug errors seem to be unrelated. While the release error comes out of an actual action invocation, the Debug error happens in Spirit during parsing (presumably a PhySL expression). Both actually could be stack overflows :/

[2018-09-05 18:42] hkaiser commented on #584
@khuck I don't think `ulimit -s` has any bearings on the stack size used by HPX for its threads. I wouldn't rule out a stack overflow for this problem.

[2018-09-05 19:03] khuck commented on #584
OK, trying with HPX_WITH_STACKOVERFLOW_DETECTION_DEFAULT=on

[2018-09-05 19:56] khuck commented on #584
Running with HPX_WITH_STACKOVERFLOW_DETECTION_DEFAULT=on didn't change anything - it still crashed in roughly the same location, but slightly different:

[code]

Could it be that there is an operation that is just missing an annotation, or is getting mis-annotated in some way?

[2018-09-05 21:28] khuck opened #585 "Phylanx won't build with Clang 6.0 on OSX"
Clang 6.0 is complaining that the difference_type is ambiguous.

[code]

[2018-09-06 02:30] khuck commented on #585
Yes it does.  Making a pull request now...

[2018-09-06 02:30] #585 closed

[2018-09-06 19:26] hkaiser commented on #575
This is a duplicate of #540

[2018-09-06 19:26] #575 closed

[2018-09-06 19:26] hkaiser commented on #527
Is this still a problem?

[2018-09-06 19:27] hkaiser commented on #482
This looks like a duplicate to #540, closing...

[2018-09-06 19:27] #482 closed

[2018-09-07 17:09] khuck commented on #584
After compiling with Clang 6.0 on an x86_64 machine, I think I confirmed it's a POWER8-specific problem.  Is there something specific about this particular primitive that does something unusual?

[2018-09-07 18:03] khuck opened #589 "HPX Worker thread is doing I/O"
I noticed in the TAU profiles of als_csv_instrumented that the IO thread is doing the open/close functions, but the worker thread in Phylanx is reading the ALS dataset.  This should be changed to use HPX methods that route the I/O through the I/O thread(s).

Profile of just POSIX calls:
[io_profile.pdf](https://github.com/STEllAR-GROUP/phylanx/files/2362020/io_profile.pdf)
I/O Thread Profile of PO

[2018-09-07 18:44] khuck commented on #584
@hkaiser - another clue... as you pointed out, the crash is in:

[code]
...but the expression it is parsing is not that crazy:
[code]
except for the fact that it is a recursive definition.

Also, this *didn't* crash when I built it on an x86_64 machine (HPX and Phylanx were built with Clang 5.0) that used the ubuntu boost package (built by GCC, I assume).  Whereas the machine that is crashing was

[2018-09-08 01:39] hkaiser commented on #589
From looking at the code - the same is true for the other IO primitives as well.

[2018-09-10 17:14] khuck opened #590 "Several tests failing from latest changes"
Pull Request 49935c392fe9a20900add589b05efddfc0fa4b8c broke several tests (it's the only change in the build):

http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/182 for details

[code]

[2018-09-10 17:43] hkaiser commented on #590
Grrrr - you got me there.

[2018-09-11 00:06] khuck commented on #590
Ah, after some investigation, it would appear that the tests failed because a previous build launched minutes before it was still running.  The old "two HPX programs can't run at the same time" issue.

I've re-launched the build, after it's successful I'll close this issue.

[2018-09-11 00:07] hkaiser commented on #590
We should create an HPX ticket for this...

[2018-09-11 00:17] khuck commented on #590
HPX Issue created.

[2018-09-11 00:31] hkaiser commented on #590
@khuck thanks (FWIW, this is the issue: https://github.com/STEllAR-GROUP/hpx/issues/3453)

[2018-09-17 17:53] khuck opened #593 "ALS nightly regression test is crashing"
Since September 14, 2018, the nightly regression ALS test is crashing with this error:

[code]

The run parameters are:
[code]

[2018-09-18 15:11] rtohid opened #595 "Invalid code (PhySL) generation for multi-value return statements."
If a function returns a tuple or, equivalently, multiple values, only the last value is returned in PhySL.
[code]
corresponding PhySL which returns `2`:
[code]

[2018-09-18 18:28] rtohid opened #596 "Corrupted return of list of NumPy arrays."
If the return value is a list of NumPy arrays, function returns with no errors, but the content of the returned list is random and corrupted.
[code]
Generated PhySL:
[code]
run 1:
[code]

run 2:
[code]

[2018-09-21 22:41] khuck commented on #584
@hkaiser The stack stuff might be a red herring.  I have another clue.  I tried running a RelWithDebInfo build.  It crashes, but in a different way.  2 steps up the stack, the program is in the "eval" method of the primitive_component base class.  When I dereference the "this" pointer, I get this back:

[code]

...which seems OK, except for the RTTI warning.  Then, stepping down the stack things g

[2018-09-24 18:35] khuck commented on #593
@scheherzade any chance this will get fixed soon?

[2018-09-24 18:55] scheherzade commented on #593
@khuck pull request [#599](https://github.com/STEllAR-GROUP/phylanx/pull/599) should have fixed the problem. Does it still fail?

[2018-09-25 23:43] hkaiser commented on #584
@khuck: I don't think this causes the issue we're seeing. All primitives are kept alive by a `shared_ptr` in any case, most of them however additionally need to stay alive for 'delayed' operation (requiring the `enable_shared_from_this`), `access_variable` is not one of those, iirc.

[2018-09-26 00:44] khuck commented on #584
@hkaiser ok.  I started playing with the code in eval.py, and it's crashing on the definition of fib10 (compressed here):

```fib10 = et.eval(" block( define(fib,n, if(n<2,n, fib(n-1)+fib(n-2))), fib) ", cs, 10)```

BUT if I change it to fib9, it works:

```fib9 = et.eval(" block( define(fib,n, if(n<2,n, fib(n-1)+fib(n-2))), fib) ", cs, 9)```

...and the same is true of the fib() function defined

[2018-09-26 02:03] khuck commented on #584
Yup, stack related.  This issue will stay open, but a work-around for that platform has been committed.  See pull request #601

[2018-09-27 14:43] hkaiser commented on #584
This PR enables stack overflow prevention in HPX on Power platforms: https://github.com/STEllAR-GROUP/hpx/pull/3469. Please verify.

[2018-09-27 22:11] hkaiser commented on #584
@khuck I believe the calculation of the remaining amount of stack space in my original patch was wrong. Could you try again, please?

[2018-09-27 22:54] khuck commented on #584
@hkaiser nope, same error.  I have asked for someone to send me the instructions for getting an account on our system if you want to test it yourself...

[2018-09-28 18:23] kawilliams opened #602 "Flags for PhySL interpreter do not output data to file arguments"
I've been working on figuring out which flags to call with the physl interpreter but I'm having trouble for the options that require arguments (I want --dump-newick-tree and --dump-counters) . I've tried (I think) every combination of ```--dump-newick-tree "treefile.txt" ``` but I can't get my file to be created (with or without any of the correct output).

First I copied als.physl (from phylanx/e

[2018-10-01 18:27] hkaiser commented on #595
Should'nt this be:

[2018-10-01 18:28] hkaiser commented on #595
@rtohid any news on this?

[2018-10-01 20:49] sithhell commented on #584
@khuck can you try a build with address sanitizer? This is usually very accurate in pinpointing to issues

[2018-10-01 20:51] khuck commented on #584
@sithhell I did.  I ran into so many linker issues I couldn't figure out how to fix them.  I tried with valgrind,  but after 3-4 hours building a suppression file, I was no closer to the cause of the problem.

[2018-10-01 21:11] sithhell commented on #584
@khuck for the linker errors, configure your HPX build with `-DHPX_WITH_SANITIZERS=On`. This should solve most of them.

[2018-10-01 21:14] khuck commented on #584
@sithhell IIRC, building HPX wasn't the problem, but building Phylanx was.  The address sanitizer library was supposed to be first in the link order, but it wasn't.  Besides, I built Clang 5.0 myself for this machine, and it's possible I didn't configure/build the sanitizer libraries correctly.

[2018-10-01 23:18] hkaiser commented on #602
@kawilliams the `als.physl` script expects additional arguments to be passed to it, i.e.
[code]
where:
- `filepath`: the path to the input file to use (usually MovieLens.csv)
- `row`, `col`: the number of rows/columns to use from the input file; `rows == 10`, `cols == 100` is fine, but any other - possibly smaller - values should work
- `regularization`: `0.1` should be fine
- `numfactors`: `10` i

[2018-10-02 16:09] hkaiser commented on #602
@kawilliams that is an unrelated error. Not sure what's wrong, but somehow your command line gets scrambled. Can you try running the same without srun? Do you see the same problem? Also, is the file MovieLens.csv in the current directory?

[2018-10-02 16:21] kawilliams commented on #602
Unfortunately, I get the same error when I run without srun (yes, als.physl, physl, and MovieLens.csv are all in the current directory)
[code]

[2018-10-02 16:59] scheherzade commented on #602
@kawilliams sorry I just saw this issue, I think your problem is related to how to pass a string to physl in command line, adding scape characters should solve your problem, just change MovieLens.csv to \"MovieLens.csv\"  as:
./physl als.physl \"MovieLens.csv\" 10 100 0.1 10 1 40 0 --dump-dot=2018-10-02-tree.dot

There is another issue with a missing parenthesis and also removed set_row primitive

[2018-10-02 17:16] kawilliams commented on #602
I still get the same error:
[code]

On a whim, I added quotes to als.physl but got the same error:
[code]

I also tried adding to the MovieLens.csv path:
[code]

[2018-10-02 17:22] justwagle commented on #602
Try this:
./physlals.physl  \"/phylanx-data/CSV/MovieLens_20m.csv\"  10 100 0.1 10 1 40 0 --dump-dot=2018-10-02-tree.dot

[2018-10-02 17:31] kawilliams commented on #602
Adding \" worked (thank you @justwagle and @scheherzade), the code ran, but I don't see the dot file (2018-10-02-tree.dot isn't in the directory). Any idea where it would be?

[2018-10-02 23:43] khuck commented on #589
@hkaiser almost!  There are only a few remaining posix calls from worker threads, but they are from HPX code.  If you still want to go down that rabbit hole, I've got:

[code]
and
[code]

Otherwise we can call this one closed, as the Phylanx code doesn't call POSIX functions any more.

[2018-10-03 00:19] khuck commented on #589
closing, as the few remaining IO calls are not from Phylanx code

[2018-10-03 00:19] #589 closed

[2018-10-03 11:58] hkaiser commented on #602
@kawilliams it should end up in the current working directory. But you can always specify a full file path as the target.

[2018-10-03 12:54] hkaiser commented on #582
@khuck It looks like this was fixed recently. Can we close this now?

[2018-10-03 12:59] hkaiser commented on #568
@weilewei on current master I see:
[code]
I think this addresses your issue.

[2018-10-03 12:59] #568 closed

[2018-10-03 13:02] hkaiser commented on #527
@weilewei on current master I see:
[code]
I think this addresses your issue. Closing...

[2018-10-03 13:02] #527 closed

[2018-10-03 13:07] hkaiser commented on #523
@weilewei on current master I see:
[code]
which is what we should expect to see. I'm going to close this issue, please reopen, if needed.

[2018-10-03 13:07] #523 closed

[2018-10-03 15:15] khuck commented on #582
Yes. Closing...

[2018-10-03 15:15] #582 closed

[2018-10-03 16:57] kawilliams commented on #602
I tried specifying the full path (with and without quotes):
[code]
No file is created. I can save the --performance data into a file, but then we're back to the human needing to cut-and-paste the tree data and performance data out from the file
[code]
(perf.txt is created and contains the normal performance output)

[2018-10-03 20:53] scheherzade opened #609 "Dictionary test fails on clang"
`tests.unit.plugins.dictionary` fails for me when I build with Clang, with the following error. I use Clang 6.0.1 and the test only fails in Release mode, it passes in Debug mode.

[code]

[2018-10-03 20:57] khuck commented on #609
POWER8 Clang 5.0 build is still working - is this a difference in Clang 6.0?  Looks like it's an ordered/unordered dictionary/map issue, if I had to guess.

[2018-10-03 21:36] hkaiser commented on #602
@kawilliams please also specify the option `--performance`. Otherwise no output will be generated. I will add a corresponding message to the interpreter.

[2018-10-03 21:39] hkaiser commented on #602
@kawilliams please see #611 for a fix.

[2018-10-03 21:40] hkaiser commented on #609
@khuck yes, the test itself is broken as it relies on a certain ordering.

[2018-10-04 16:07] #553 closed

[2018-10-04 16:08] #581 closed

[2018-10-04 16:08] #583 closed

[2018-10-04 16:08] #552 closed

[2018-10-04 16:10] hkaiser commented on #602
This should have been addressed by merging #611

[2018-10-04 16:10] #602 closed

[2018-10-05 13:12] #596 closed

[2018-10-09 16:07] stevenrbrandt opened #614 "Support dictionaries in Python"
One should be able to create and slice the dictionary type in Python, e.g.
[code]

[2018-10-10 14:33] stevenrbrandt commented on #584
@sithhell @khuck it would be great to have a docker image with the address sanitizer enabled and working correctly.

[2018-10-10 14:38] stevenrbrandt commented on #547
Another inherent problem is that we use currently use arrays as a method of conveying range data.

[2018-10-10 14:47] #441 closed

[2018-10-10 15:14] hkaiser commented on #547
Really? I thought we were using lists. :/

[2018-10-10 18:40] stevenrbrandt commented on #547
You're right. I thought it worked with both lists and hstack/vstack.

[2018-10-11 18:42] rtohid opened #620 "Branch 'advanced_indexing': Boolean mask in Python is broken."
Running:
[code]
causes the following error:
[code]

Expected output is `[2 0]`

[2018-10-11 19:02] rtohid opened #622 "Branch 'advanced_indexing': Missing file name in the error message."
The error message for the following code misses the file name.
[code]
The error message:
[code]

NOTE: The source of the error is another issue reported in #620.

[2018-10-11 23:37] khuck commented on #584
@sithhell yes it would - are you volunteering? :)

[2018-10-12 17:30] hkaiser commented on #620
@rtohid I'm not able to reproduce this problem. For me your test produces `[2 0]` as expected. I have tested with https://github.com/STEllAR-GROUP/phylanx/commit/ee6ec293a96257b2d92f5f7e3ddeedf906a3c4e0.

[2018-10-12 20:02] rtohid commented on #620
@hkaiser My mistake, it works for me too- I was working with an older commit.

[2018-10-12 20:02] #620 closed

[2018-10-12 20:02] rtohid commented on #622
My mistake, it works for me too- I was working with an older commit.

[2018-10-12 20:02] #622 closed

[2018-10-15 06:03] rtohid opened #624 "Branch 'advanced_indexing': Unexpected behavior of slicing operation."
Slicing with an implicit upper bound, applied to the second dimension, does not operate correctly on 2D arrays. It fails if the size of the first dimension is greater than the second's:
[code]
with the following error:
[code]
and produces incorrect results if the second dimension is larger:
[code]
output:
[code]
(It performs as expected in the case of square matrices.)

[2018-10-15 12:29] hkaiser commented on #624
@rtohid Thanks! However, 2D advanced slicing has not fully been implemented yet.

[2018-10-22 19:18] parsa opened #632 "PhySL sys_argv has an extra element"
The PhySL code
[code]
prints
[code]
It demonstrates that `sys_argv` has an extra element.

[2018-10-23 17:52] hkaiser commented on #435
FWIW, #616 implements this for 1d arrays. full support for 2d arrays will be added by a separate PR.

[2018-10-23 17:53] hkaiser commented on #547
FWIW, #616 implements this for 1d arrays. Full support for 2d arrays will be added by a separate PR.

[2018-10-23 17:54] hkaiser commented on #595
This was fixed by merging #595

[2018-10-23 17:54] #595 closed

[2018-10-23 17:54] hkaiser commented on #614
This was fixed by merging #615

[2018-10-23 17:54] #614 closed

[2018-10-23 17:56] hkaiser commented on #340
This can be closed as it was fixed quite a while ago.

[2018-10-23 17:56] #340 closed

[2018-10-24 15:38] hkaiser opened #633 "Calling inner functions with arguments broken"
Calling an inner function with arguments from the same nesting level as it was defined complains about the argument count being out of bounds:

[code]
This code exposes the problem:
[code]

[2018-10-24 15:42] hkaiser commented on #337
This issue is exposing two issues, one related to external functions (which has been fixed already) and one related to inner functions, see: #663.

[2018-10-24 15:51] #624 closed

[2018-10-25 02:18] rtohid opened #635 "'arange' with one or two arguments."
If the number of arguments to 'arange' is less than 3, e.g.:
[code]

Phylanx fails with:
[code]

[2018-10-25 03:27] rtohid opened #636 "Boolean NumPy arrays."
NumPy arrays with boolean elements work as expected in Phylanx kernels. However, if returned from a function, their boolean values are replaced with 0s, and 1s, e.g.:

[code]
[code]

[2018-10-25 16:36] #337 closed

[2018-10-26 01:59] hkaiser opened #638 "Add ability to create uninitialized array."
This would correspond to `numpy.empy` and `numpy.empty_like`. This could be implemented as an extension to the existing `constant()` primitive.

[2018-10-27 19:13] #635 closed

[2018-10-27 19:13] #636 closed

[2018-10-27 19:15] hkaiser opened #639 "Add full, zeros_like, ones_like, and full_like"
These functions should be added to the Python frontend mapping things to various invocations of the `constant` primitive.

[2018-10-27 20:56] hkaiser opened #640 "Function argument should not be redefined when accessed"
This code:
[code]
produces:
[code]

The generated PhySL code should use the `store` primitive instead.

[2018-10-27 21:21] hkaiser opened #641 "Change node_data to support custom_storage0d_type"
Currently, `node_data<T>` supports storing reference types for 1D and 2D arrays. 0D values are always stored as copies. This should be aligned by adding a new variant-case that stores a reference (`T*`) to a 0d value.

[2018-10-27 21:31] hkaiser commented on #640
@rtohid Please see #642 for a possible fix. Could you please review those changes over there?

[2018-10-30 10:08] #466 closed

[2018-10-30 10:08] #640 closed

[2018-10-30 14:43] #641 closed

[2018-10-30 19:37] stevenrbrandt commented on #584
OK, I attempted to make a phylanx docker image that uses sanitize. I fail at the phylanx link step.
Here's the dockerfile I attempted to use

https://gist.github.com/stevenrbrandt/56cc36a9c9cb0375ae264c398d0e3431

Setting -lasan in CMAKE_EXE_LINKER for Phylanx seems to do nothing.

However, setting "-lasan" in CMAKE_CXX_FLAGS allows phylanx to link works--though it gives a bunch of spurious warnin

[2018-10-30 20:26] stevenrbrandt opened #647 "parallel_block in physl does not make fibonacci possible"
The following Fibonacci code essentially prints random numbers. It appears that there is no wait at the end of the parallel block.
[code]

[2018-10-30 22:01] stevenrbrandt commented on #647
On further investigation, this problem may not have anything to do with parallel blocks. The following fib function also produces wrong answers:
[code]
Apparently, the variables used in the body of the program are not behaving as expected. I thought this issue was fixed a while back.

[2018-10-30 22:08] khuck commented on #584
address sanitizer is really temperamental sometimes… instead of adding -lasan, can you add the specific library?  i.e. “/path/to/compiler/lib/libasan.so” instead of “-lasan” to make sure you get the right one.

Kevin

--
Kevin Huck, PhD
Research Associate / Computer Scientist
OACISS - Oregon Advanced Computing Institute for Science and Society
University of Oregon
khuck@cs.uoregon.edu
http://tau.u

[2018-10-30 22:20] hkaiser commented on #647
Yes, this might be the same problem as reported here: #364. I think I understand what's causing this, but I have no immediate solution nor workaround for now.

[2018-10-30 22:49] stevenrbrandt commented on #584
@khuck I've discovered the "-shared-libasan" flag. I'm experimenting with that.

[2018-10-31 15:24] hkaiser commented on #364
@stevenrbrandt yes, local variables in functions are currently 'static'. If a function is invoked concurrently the values get messed up.

[2018-10-31 15:59] stevenrbrandt commented on #364
Here's an even better proof of what's going on:
[code]

[2018-10-31 21:39] stevenrbrandt commented on #584
@khuck @sithhell
Current Dockerfile: https://gist.github.com/stevenrbrandt/27e1d4eb5fd86a4b57697567c3964697

Ok, this uses "-shared-libasan" and everything compiles, but when I try to run phylanx hello world, I get this:
[code]
Not sure what to do at this point.

[2018-10-31 21:42] khuck commented on #584
@stevenrbrandt just curious - are you using the system allocator or tcmalloc/jemalloc?

[2018-10-31 21:43] khuck commented on #584
@stevenrbrandt also, what happens if you run an example without python involved?  like lra_csv or something like that?

[2018-11-01 18:18] #639 closed

[2018-11-01 18:19] hkaiser opened #651 "Add dtype support for vstack"
`vstack` currently misses `dtype` support in the frontend.

[2018-11-02 14:10] stevenrbrandt commented on #584
@khuck I'm using the system allocator, see the docker file I linked.

You can't even run "physl --doc" without problems:
[code]

[2018-11-02 14:52] stevenrbrandt commented on #584
So, a small success (I think). The problem seems to have partly been the 80 core cluster I built it on...

Running on a smaller machine, I get this. You can try out stevenrbrandt/phylanx.sanitized from Docker yourself.

[code]

[2018-11-02 16:08] #638 closed

[2018-11-02 16:55] khuck commented on #584
Did you try `export ASAN_OPTIONS=detect_odr_violation=0` before running?

[2018-11-02 17:59] stevenrbrandt commented on #584
@khuck using that setting, the "physl --doc" does run. I get this at the end:
[code]

[2018-11-02 18:06] stevenrbrandt commented on #584
OK, so Python doesn't work, but we can generate PhySL code from Python on another machine and run the PhySL code inside the phylanx.sanitized image.

Trying LRA with the physl interpreter (./examples/interpreter/lra.physl), I get this:

[code]

[2018-11-02 18:15] stevenrbrandt commented on #584
OK, using the address sanitizer
[code]
runs without difficulty. This was the code that originally prompted the ticket (correct me if I'm wrong).

[2018-11-02 18:43] stevenrbrandt commented on #584
Of course, this was clang 7 not 8

[2018-11-02 19:48] stevenrbrandt commented on #584
@khuck I've updated stevenrbrandt/phylanx.sanitized so that it's only 6.6GB. Still not tiny.

[2018-11-04 05:15] ct-clmsn opened #655 "randomforest"
provide an implementation of randomforest

- [x] numpy
- [ ] phylanx implementation
- [ ] cpp primitive

[2018-11-04 05:16] ct-clmsn commented on #655
track branch 'randomforest' in pr #654 for numpy implementation

[2018-11-04 05:20] ct-clmsn commented on #655
code includes the following function from numpy: floor, argsort, sum, sqrt, float64, int64, zeros, argmax, inf, genfromtxt, vstack, iinfo, finfo, unique
also include from numpy.random : randint, rand

[2018-11-09 18:48] hkaiser opened #659 "Adapt primitives to support different array types (besides `double`)"
Not all primitives properly handle array types of type `std::int64_t` or `bool` (`std::uint8_t`). Here is the list of the primitives that require related changes:

- [x] `expand_dims` (see #667)
- [x] `argmax` (see #667)
- [x] `argmin` (see #667)
- [x] `cross` (see #704)
- [x] `determinant` (see #704)
- [x] `diag` (see #704)
- [x] `dot`  (see #704)
- [x] `shape` (see #704)
- [x] all functions impl

[2018-11-09 20:43] parsa opened #660 "Strange failures on CircleCI"
From [Phylanx mailing list](http://mail.cct.lsu.edu/pipermail/phylanx/2018-November/000690.html)
Wed Nov 7 08:33:16 CST 2018
Author: @hkaiser

We recently see strange failures of the help-format checker on CircleCI (see
for instance: https://circleci.com/gh/STEllAR-GROUP/phylanx/10613). Any idea
what could cause this?

@stevenrbrandt?

[2018-11-09 20:45] parsa commented on #660
From: [Phylanx mailing list](http://mail.cct.lsu.edu/pipermail/phylanx/2018-November/000691.html)
Wed Nov 7 09:00:54 CST 2018
Author: @stevenrbrandt

The error message says:
[code]

What I suspect this means is that the location of the phylanx library
has moved. As I recall, the `LD_LIBRARY_PATH` had to be manually
configured for this test. The code for this used to be in the phylanx
repository, b

[2018-11-09 21:48] #660 closed

[2018-11-20 02:56] #651 closed

[2018-11-21 21:49] parsa opened #668 "Tensor support TODO for K-Means"
The original [K-Means implementation](http://flothesof.github.io/k-means-numpy.html) used a 3D tensor in part of its code. Addition of 3D tensor support enables the original code to work on top of Phylanx with fewer changes.

* [ ] `sqrt`
* [ ] subtraction
* [ ] `expand_dim`
* [ ] `sum`

Code that will be affected:
<https://github.com/STEllAR-GROUP/phylanx/blob/3a3267d57763d3248cd9753f3f2056bdae40

[2018-11-22 00:31] taless474 opened #669 "Tensor operations needed by CNNs"
### Padding
Pads a Tensor according to the specified dimensions. By default, padding with zero is used.
#### Padding a Matrix
![01](https://user-images.githubusercontent.com/20496946/48872751-21174400-edb0-11e8-8dbe-4411f6f4cbb3.PNG)
[code]

 [0 0 1 2 3 0 0 0]
 [0 0 4 5 6 0 0 0]
 [0 0 0 0 0 0 0 0]]
[code]

       [0, 0, 1, 2, 3, 0, 0, 0],
       [0, 0, 4, 5, 6, 0, 0, 0],
       [0, 0, 0, 0, 0, 0,

[2018-11-26 03:18] taless474 commented on #669
### Convolution 1D
Considers the filter as a sliding window over an input image.
[code]

### Convolution 3D
Computes a 3-D convolution given an array of 3-D inputs and 3-D filters.
#### conv3D having 1 input channel
Note that the output dimensions are not the same as having a 2D convolution on multi filters.
![07](https://user-images.githubusercontent.com/20496946/48986863-5b9a1d00-f0df-11e8-9c66-

[2018-11-26 20:24] #647 closed, assigned to nobody

[2018-11-28 21:16] parsa opened #674 "HPX master breaks Phylanx master"
CircleCI shows the current master as passing but the new HPX master breaks it.

Build output:
[code]

[2018-11-28 23:07] khuck commented on #674
Yes, the buildbot has been failing for about 11 days now…

http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/289 <http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/289>

Kevin

--
Kevin Huck, PhD
Research Associate / Computer Scientist
OACISS - Oregon Advanced Computing Institute for Science and Society
University of Oregon
khuck@cs.uoregon.edu <mailto:khuck@cs.uoregon.edu>
http://tau.uorego

[2018-11-29 16:53] #674 closed

[2018-12-04 21:13] ct-clmsn commented on #655
@hkaiser a version of argsort is implemented in the cpp code.

[2018-12-04 21:14] ct-clmsn commented on #655
see #677

[2018-12-05 23:38] hkaiser commented on #633
@stevenrbrandt yes, things are ok if the outer function does not take any function arguments.

[2018-12-06 18:17] stevenrbrandt commented on #633
This also works
[code]

[2018-12-06 18:21] stevenrbrandt commented on #633
Also, this physl code works... which is different from the above (the one above doesn't work because it contains an undefined variable named "var"):
[code]

[2018-12-06 18:33] hkaiser commented on #633
@stevenrbrandt as said, things work as long as the outer function has no arguments. Also, your last example does not use the inner function's argument, which prevents the error from showing up.

[2018-12-06 20:20] stevenrbrandt commented on #633
OK, so the relevant physl code is this:
[code]
And that fails.

[2018-12-07 15:21] taless474 opened #684 "Primitives needed for Keras backend"
We can start with:
- [x] A max constant similar to `numpy.inf` (see #699)
- [x] NumPy equivalents of:
    - [x] `tanh`
    - [x] `var` (see #706)
    - [x] `std` (see #706)
    - [x] `prod` (see #692)
    - [x] `cumprod` (#758)
    - [x] `clip` (see #731)
    - [x] `reshape` (see #691)
    - [x] `flatten` (see #685)
    - [x] `repeat` (see #726)
    - [x] `tile` (see #694)
    - [x] `dtype.name` (

[2018-12-07 23:40] ct-clmsn commented on #684
@taless474 great idea!

[2018-12-10 22:57] stevenrbrandt commented on #609
Here's my suggested fix. Don't know that it warrants a pull request.
[code]

[2018-12-10 22:59] stevenrbrandt commented on #609
OK, I made the pull request since there's probably no other way to apply the fix. :)

[2018-12-12 16:53] stevenrbrandt opened #689 "check return does not work with a nested function"
The following should not cause an error:
[code]

[2018-12-13 20:15] ct-clmsn commented on #684
@taless474 not sure if Keras does auto-differentiation but, if it does, would integrating [tangent](https://github.com/google/tangent) be useful?

[2018-12-14 16:58] taless474 commented on #684
@ct-clmsn Thank you for introducing the tangent. I will study it. For implementing gradients I was looking into [JAX](https://github.com/google/jax).

[2018-12-17 17:17] #609 closed

[2018-12-21 17:12] ct-clmsn opened #702 "skeleton cmake project for plugins"
create a directory or separate project for plugins; a 'skeleton' (including cmake scripts) to provide users the ability to implement plugins using boost or non-boost licensed software.

[2018-12-26 00:14] #659 closed

[2018-12-26 13:32] hkaiser commented on #2
We have started to add 3D data structure support to some of the primitives (see #665).

[2018-12-26 13:36] hkaiser commented on #19
This is a duplicate of #225. Closing...

[2018-12-26 13:36] #19 closed

[2018-12-26 13:38] hkaiser commented on #256
I believe we can close this as the frontend properly detects all numpy functions and maps those onto the existing primitives.

[2018-12-26 13:38] #256 closed

[2018-12-26 16:39] hkaiser commented on #320
This should have been fixed by merging #642. So I'm going to close this, please re-open, if necessary.

[2018-12-26 16:39] #320 closed

[2018-12-27 18:54] ct-clmsn opened #709 "should function return ir::node_data<T>?"
https://github.com/STEllAR-GROUP/phylanx/blob/2ce63efb322a5b01ed8b32dc837f060cd76e8374/phylanx/execution_tree/primitives/node_data_helpers.hpp#L1059

found a small compilation issue with gcc on this line.

[2018-12-27 18:56] ct-clmsn opened #710 "does slice_pages_ need ifndef guard?"
https://github.com/STEllAR-GROUP/phylanx/blob/2ce63efb322a5b01ed8b32dc837f060cd76e8374/src/plugins/matrixops/slicing_operation.cpp#L93

had a compilation with gcc on this line. slice_pages_ needs an ifndef (PHYLANX_HAVE_BLAZE_TENSOR) guard.

[2018-12-27 19:31] hkaiser commented on #709
@ct-clmsn yes, thanks. this is a bug. Will fix.

[2018-12-27 19:40] hkaiser commented on #709
@ct-clmsn please see #711 for a fix.

[2018-12-27 19:41] hkaiser commented on #702
First steps have been implemented here: https://github.com/STEllAR-GROUP/phylanx_plugin

[2018-12-27 20:41] #319 closed

[2018-12-27 22:51] #709 closed

[2018-12-27 22:51] #710 closed

[2018-12-28 14:01] hkaiser commented on #689
This should have been fixed by merging #690

[2018-12-28 14:01] #689 closed

[2018-12-28 14:03] hkaiser commented on #469
This has been fixed by merging #675

[2018-12-28 14:03] #469 closed

[2018-12-28 20:42] khuck opened #712 "Random test failures for Phylanx programs due to command line processing"
On the buildbot server, the tests occasionally fail.  Not always the same test.  The failures look something like this (when using ctest to re-run the test over and over again until it fails):

[code]

[2018-12-29 11:16] hkaiser commented on #712
@khuck could this be a strange follow-up error happening after a stack-overflow or similarly catastrophic event? The same is happening for the RelWithDebInfo build on KNL, btw (see http://ktau.nic.uoregon.edu:8020/#/builders/3/builds/109/steps/12/logs/stdio).

[2018-12-29 11:51] hkaiser commented on #712
After staring at the relevant code for a while - we retrieve (or at least we attempt to) the command line options from `/proc/self/cmdline`. Let's add some logging to the code that initializes `__argv`/`__argc` here: https://github.com/STEllAR-GROUP/phylanx/blob/master/python/src/init_hpx.cpp#L25-L84. That might give us some further clues.

[2018-12-29 19:14] khuck commented on #712
@hkaiser I haven't really investigated it yet, but I assume it's something transient, it doesn't reproduce all the time.  But over the ~180 tests, at least one fails each time.  It might be worthwhile checking for memory errors with the address sanitizer (like referencing a variable that has gone out of scope).

[2019-01-01 20:56] #543 closed

[2019-01-02 20:25] parsa opened #716 "Phylanx installer always creates /cmake/Phylanx"
This issue can be reproduced by installing Phylanx into any directory (i.e. An attempt to create `/cmake/Phylanx` will be made regardless of the destination directory).

To reproduce on [`stellargroup/phylanx_base:prerequisites`](https://hub.docker.com/r/stellargroup/phylanx_base/) Docker image (e.g. `docker run -it stellargroup/phylanx_base:prerequisites`) run the following commands:

[code]

[2019-01-02 21:30] ct-clmsn commented on #716
@parsa nice catch! I've been having the same issue working on the randomforest code.

[2019-01-02 22:52] stevenrbrandt commented on #716
Adding this one line seems to fix the problem
[code]

[2019-01-03 12:07] hkaiser commented on #716
We should use `${CMAKE_INSTALL_LIBDIR}` instead of `LIB`. There are other places that could benefit from using the various existing CMAKE directory variables.

[2019-01-03 23:29] taless474 opened #720 "PhySL parser silently converts the type to node_data<double>"
Using square brackets to indicate a vector of integers in PhySL produces a `node_data<double>` instead of `node_data<std::int64_t>`.
[code]
[code]
[code]
[code]

[2019-01-04 01:31] hkaiser commented on #720
@taless474 yes, `[...]` always creates a double array. However these both (should) create integer arrays:
[code]

[2019-01-04 16:31] khuck commented on #584
@stevenrbrandt yes, if you could send me the cmake configuration steps, I would appreciate it.

[2019-01-06 18:18] ct-clmsn opened #722 "physl plugin support features"
Please add the following to the physl interpreter:

1) Add flag: ``--ls-plugins`` which shows:
* the directories(y) checked for plugins
* plugins discovered at runtime/startup; in the absence of code to run, the flag causes a print out of the plugins discovered

2) Add flag: ``--help-primitive=`` which accepts a PhySL function/primitive string name (example: 'eye') as an argument. the command retu

[2019-01-06 20:52] hkaiser commented on #722
@stevenrbrandt Is that something you could work on? I can implement the `$PHYSL_PLUGINS_DIRS` custom load directory option as it requires changes to HPX).

[2019-01-06 21:48] ct-clmsn commented on #378
@tianyi93 @hkaiser  will #722 help with debugging this issue?

[2019-01-06 23:26] #716 closed, assigned to nobody

[2019-01-07 17:48] #722 closed

[2019-01-08 14:34] #720 closed

[2019-01-08 19:16] Yeahhhh opened #725 "git master "bfb1cc4" build failure on Rostam: "src/plugins/matrixops/vsplit_operation.cpp""
error message:
[ 47%] Built target booleans_primitive
[ 54%] Built target controls_primitive
[ 57%] Built target fileio_primitive
[ 59%] Built target listops_primitive
[ 59%] Building CXX object src/plugins/matrixops/CMakeFiles/matrixops_primitive.dir/vsplit_operation.cpp.o
/home/yfang11/src/repos/phylanx/src/plugins/matrixops/vsplit_operation.cpp: In instantiation of ‘phylanx::execution_tree::pri

[2019-01-08 22:50] hkaiser commented on #725
Thanks for reporting. The fix is simple. I'll create a PR asap.

[2019-01-09 05:10] ct-clmsn commented on #702
@hkaiser does this need to be closed? Or should it wait until I debug the [opencv plugin](https://github.com/ct-clmsn/phylanx_plugin_opencv2)?

[2019-01-09 13:18] hkaiser commented on #702
@ct-clmsn I was planning to do add some changes to the example project, still. Does the existing stuff work for you?

[2019-01-09 20:51] taless474 opened #727 "Expand_dims arguments are different from NumPy expand_dims"
Expand_dims primitive is slightly different from [numpy.expand_dims](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.expand_dims.html). In NumPy version axis a necessary argument.
The current version of expand_dims always assumes that the given axis is 0.

[2019-01-10 15:03] taless474 commented on #684
We can also add NumPy equivalents of:
- [ ] `concatenate`
- [ ] `maximum`
- [ ] `minimum`

[2019-01-11 18:02] justwagle opened #735 "Can not build latest Phylanx"
Current master of Phylanx fails with the following error:
[code]
GCC: 7.3.0
HPX version:  1.3.0 (3aabc89708)
Phylanx Commit : 5ff2b812408e78288cf2d7c977bb81d9e92e2763

[2019-01-11 18:06] justwagle commented on #735
My HPX version was too old. Updating to latest HPX fixed it.

[2019-01-11 18:06] #735 closed

[2019-01-11 21:48] taless474 commented on #684
- We need to update:
     - [ ] `all` where it gets `axis` and `keepdims` as arguments.
     - [ ] `transpose` to accept `axes`

- To support CNNs we can add NumPy equivalents of:
    - [ ] `tensordot`
    - [ ] `pad` in its `constant` mode
    - [ ] `flipud` and `fliplr`

- It's good to have Numpy equivalents of:
    - [ ] `insert`
    - [ ] `sign`
    - [ ] `asarray` (I mean a function to conver