[2019-01-13 21:00] #727 closed

[2019-01-15 00:03] ct-clmsn commented on #684
@taless474 would baking in support for the [ONNX](https://onnx.ai/) model format be a reasonable follow up or additional feature? If keras is supported ya'll might be able to load ONNX models built with other toolkits into Phylanx and run them...

[2019-01-15 19:21] scheherzade opened #738 "Matrix created from vectors with different number of columns is not correct"
The following code in PhySL
[code]
 returns:
[code]
In python
[code]
while
[code]
returns:
[code]

[2019-01-16 19:39] taless474 opened #741 "3D support for existing primitives"
Here is a list of primitives that do not support 3D operations yet:
- [x] argmax and argmin (#751)
- [x] constant (#750)
- [x] flatten (#761)
- [x] dot (#760)
- [x] flip (#757)
- [x] repeat (#747)
- [x] random (#749)
- [x] tile (#742)
- [x] transpose (#787)
- [x] reshape (it should support up to 5 dimensions) (#823)

[2019-01-17 19:03] alex-r-bigelow opened #743 "Syntax error importing phylanx in python"
In attempting to `from phylanx import Phylanx` on rostam, @kawilliams and I are running into an error flagging this line:

https://github.com/STEllAR-GROUP/phylanx/blob/a654d38d423b289f2d8dee1a27d71ee4da6a1428/python/phylanx/ast/physl.py#L535

[code]

[2019-01-18 16:38] hkaiser commented on #743
@rtohid would you be able to have a look, please?

[2019-01-18 16:41] kawilliams opened #746 "lra_csv_instrumented doesn't output performance data"
In phylanx/build/bin, lra_csv_instrumented doesn't output any of the performance information (Newick tree, performance csv, etc), it only outputs the numeric solution.

In contrast, phylanx/build/bin/als_csv_instrumented has the proper behavior and outputs performance data. I would like to use both als and lra to collect performance data for comparative trees. Thank you!

[2019-01-18 20:05] scheherzade commented on #746
Hey Katy,  I just tried it and it works for me. Could you please paste the exact command line that you used?
The gist of me trying it is located here:
https://gist.github.com/scheherzade/5f5c59ae765ce31f925f93b6448d29f2

[2019-01-18 21:37] kawilliams commented on #746
I have not been using the --instrument flag. I had been running like this:
srun -n 1 ./als_csv_instrumented --data_csv=../../examples/algorithms/datasets/MovieLens.csv -t2 > output

And somehow I had been getting the correct output for all builds until now (I have the saved output files). I tried to replicate it now and no longer get the performance data with the output.

I tested the command you

[2019-01-18 22:18] rtohid commented on #743
@alex-r-bigelow @kawilliams The unpacking syntax in this code is only supported in python3.5+. https://www.python.org/dev/peps/pep-0448/

[2019-01-19 21:00] hkaiser commented on #746
@kawilliams can we close this now? Or is there anything else related you would like to se being implemented?

[2019-01-19 21:56] kawilliams commented on #746
We're good, thanks.

[2019-01-20 14:36] hkaiser commented on #743
@rtohid please add checks/diagnostics to cmake if you're using language features that enforce certain version requirements.

[2019-01-23 14:23] hkaiser commented on #684
@rtohid would you see a way to implement functionality equivalent to `dtype.name` in the frontend?

[2019-01-23 15:35] stevenrbrandt commented on #743
If anyone is interested, I have a new way of using Phylanx on Rostam.
[code]
HPX, pybind11, etc. are all pre-installed. Once in there, you can type the command `build.sh` and it will install and build phylanx in `~/phylanx`, using `~/phylanx/build` as a build directory. You can edit, switch branches, etc. and whenever you want an update, type `build.sh` again. Typing `build.sh install` will instal

[2019-01-23 16:34] khuck commented on #743
Steve -

Pretty cool, thanks!

Kevin

--
Kevin Huck, PhD
Research Associate / Computer Scientist
OACISS - Oregon Advanced Computing Institute for Science and Society
University of Oregon
khuck@cs.uoregon.edu <mailto:khuck@cs.uoregon.edu>
http://tau.uoregon.edu <http://tau.uoregon.edu/>

[2019-01-23 23:11] stevenrbrandt opened #759 "physl running with the address sanitizer"
[code]

[2019-01-23 23:17] stevenrbrandt commented on #759
If I disable odr violation detection, I get this from `physl --help`
[code]

[2019-01-23 23:19] hkaiser commented on #759
I think the reported ODR violation is benign in our context, I will have a look, though. No idea why it crashes however. What does it report if you set the recommended options (`LSAN_OPTIONS=verbosity=1:log_threads=1`)?

[2019-01-23 23:20] stevenrbrandt commented on #759
I had to set those options to see the signal 11.  It just prints that message regardless.

[2019-01-23 23:47] rtohid commented on #684
@hkaiser It is relatively straightforward if the type of the object is set in the Phylanx scope, for instance:

[code]
Not very much so if (1) the type of the object is defined outside of the Phylanx scope or (2) it is set at run-time. I don't think there is any solution for case (2).

[2019-01-24 17:47] hkaiser commented on #759
@stevenrbrandt thanks! The output however is not too useful :/ Is there anything reported otherwise that might shed some light on what's going on?

[2019-01-27 19:02] hkaiser commented on #684
For `dtype.name`: I think we should expose the native `dtype` object for our arrays. Pybind11 supports that directly (see: https://github.com/pybind/pybind11/blob/master/include/pybind11/numpy.h#L415).

[2019-01-28 19:34] alex-r-bigelow commented on #743
I'm not sure if this is related, but I'm getting an odd error every time I try to run `als_csv_instrumented` (I've tried several different build configurations on rostam):

[code]

I _think_ I started seeing this as soon as I added `module load python/3.6.3s` to the build pipeline, but now I can't get HPX to build without it. Any clues? Is there a different version of python I should be pointing t

[2019-01-29 01:16] hkaiser commented on #743
@alex-r-bigelow no idea what's causing this problem :/ Can you post your build scripts on rostam, please?

[2019-01-29 03:14] alex-r-bigelow commented on #743
Sure, my scripts are here: https://github.com/alex-r-bigelow/phylanx-apex-retroactive-build

[2019-01-29 16:08] stevenrbrandt commented on #759
@hkaiser I made a new version of the sanitizer image with the llvm-symbolizer. Alas, it told me nothing more. `addr2line` for the address reported `??:0`.

[2019-01-29 16:11] stevenrbrandt commented on #759
A slightly larger physl program,
[code]
Produced a more coherent error message
[code]
However, the "false positives" warning has me concerned that maybe ASAN can't help us because of stack switching.

[2019-01-29 17:22] stevenrbrandt commented on #738
Not sure why this is a problem since that's not how np.array() is translated to Python:
[code]
Yields
[code]

[2019-01-29 22:34] hkaiser commented on #759
@sithhell is that error message above something you have seen with your asan runs?

[2019-01-30 05:44] alex-r-bigelow commented on #743
I think I've narrowed it down to setting either of these:
[code]
and I get the error when running HPX examples, so this is definitely an unrelated bug.

I'm still pretty unfamiliar with the architecture; is this something I should file as an HPX issue, an APEX issue, or neither (I get this even when pulling older versions of HPX that worked for me last week; maybe some default library has changed

[2019-01-30 14:22] khuck commented on #743
Alex -

You don’t need either of those options for the traveler tree output, so don’t use them for now. Neither of them should cause a crash, so they are APEX bugs. Feel free to report it as an issue at github.com/khuck/xpress-apex.

APEX is built as part of HPX, but pulled in as a git submodule.

Thanks -
Kevin
- -
Kevin Huck, PhD
Research Associate / Computer Scientist
OACISS - Oregon Advanced C

[2019-01-30 17:35] alex-r-bigelow commented on #746
I think I've run into the same problem (continuing the discussion from https://github.com/khuck/xpress-apex/issues/98). I'm running this script:

[code]

Trying `--instrumented`, `--dump-newick-tree=tree.txt`, `--dump-counters=performance.txt` all give me an `unrecognised option` error

[2019-01-30 17:39] justwagle commented on #746
I think you need to pass --instrument.

[2019-01-30 17:40] alex-r-bigelow commented on #746
That was it. 😳 Thanks!

[2019-01-30 17:40] #746 closed

[2019-01-30 22:10] stevenrbrandt commented on #759
@sithhell , Hartmut tells  me you don't see the problems I've seen. Here's how I set up the sanitizer: https://gist.github.com/stevenrbrandt/131d89d1a6bf99810bc56394818bf3c1

I'd be interested in knowing what I've done wrong. :)

[2019-01-30 22:50] stevenrbrandt commented on #759
@hkaiser @sithhell I ran the fib(3) code on a machine with 40 cores (80 threads). I decided to try on Rostam, and found that the stack-buffer-overflow errors go away.  The segfault on shutdown is still there, though.

[2019-01-31 21:08] sithhell commented on #759
@stevenrbrandt the stack switching is perfectly fine with asan, there are no false positives there.
The errors you are seeing are genuine bugs on our side. If they are severe or not is a different issue.
Spirit causing stack overflows makes perfect sense given its recursive decent parsing nature.
With that being said, the stack overflow probably depends on how many recursive function calls there a

[2019-02-01 18:51] stevenrbrandt commented on #759
@sithhell The issue appears related to something in my environment, not the number of threads on the machine, as running that same image with Singularity did not produce an issue. Regardless, though, I always see the segfault at shutdown with ASAN.

[2019-02-01 19:02] stevenrbrandt commented on #547
@ct-clmsn as near as I can tell, all the things in this ticket work in the current master. Shall we close the ticket?

[2019-02-01 20:16] sithhell commented on #759
@stevenrbrandt right, the only way to get rid of the segfault right now is to disable the leaksanitizer by setting the environment `ASAN_OPTIONS=detect_leaks=0`. The address sanitizer features like heap use after free or stack overflows are still enabled with that.

[2019-02-01 20:32] stevenrbrandt commented on #633
@hkaiser I've done a little more experimenting. Essentially, when the code checks the number of arguments for inner, it's actually looking at the number for main_func (including the block). My guess is the fix for this is very simple if one knows the source code well. Thus
[code]
Wants 3 arguments to inner and
[code]
Wants 4 arguments to inner. Conversely, this code works:
[code]
as does this (eve

[2019-02-01 20:58] stevenrbrandt commented on #738
Sorry, @scheherzade I misread your ticket.

[2019-02-01 22:50] stevenrbrandt commented on #547
@hkaiser I tested the 2D functionality, but not 3D.

[2019-02-04 18:00] khuck opened #767 "Buildbot crash on simple test"
Reproduced the transient argument processing error (see http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/383/steps/12/logs/stdio) with the test program:

```/var/lib/buildbot/slaves/phylanx/x86_64-gcc7-release/build/tools/buildbot/build-delphi-x86_64-Linux-gcc/phylanx-Release/bin/generic_operation_test --hpx:threads=1 --hpx:localities=1 --hpx:node=0```

Will crash regardless of whether any arg

[2019-02-05 14:25] khuck opened #770 "Buildbot builds all failing"
Commits merged on Feb 4 have broken the build:
http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/385

[code]

[2019-02-06 16:11] stevenrbrandt commented on #333
I believe this is a duplicate of #633

[2019-02-06 16:49] sithhell commented on #759
@stevenrbrandt if you configure HPX with `-DHPX_WITH_STACKOVERFLOW_DETECTION=Off`, the leak sanitizer segfault goes away.

[2019-02-06 22:58] scheherzade opened #771 "generic_operation test fails randomly when dtype is specified"
The following PhySL code returns one of these two outputs randomly each time you run it:
[code]
either returns ``` 10 ```, or
[code]
Same thing happens for other functions in generic_operation when dtype is specified.
[code]
either returns ``` 10.2 ```, or
[code]

[2019-02-07 01:55] hkaiser commented on #770
@khuck strange, CircleCI passes just fine :/

[2019-02-07 15:19] khuck commented on #770
@hkaiser of course it does.  :)   "it works for me"...

It seems to be a side effect of an HPX change - if I go back to HPX 09f08b88d513ead41646704215b64661cffd3ccd , phylanx compiles fine... ?  I'll start bisecting and see what the offending commit was.

[2019-02-07 17:01] khuck commented on #770
@hkaiser And the guilty party is HPX merge request #3661 https://github.com/STEllAR-GROUP/hpx/pull/3661.  Not sure why.  Phylanx builds fine with HPX with merge request #3660, but fails after #3661.

[2019-02-08 00:03] khuck commented on #771
This is related to issue #767

[2019-02-08 00:16] khuck commented on #767
Really odd.  The generic_operation::generic_operation constructor is initializing func_name_ with the value of (detail::extract_function_name(name)).  But extract_function_name() function doesn't seem to actually execute in some cases!  Or if it does, it only does this much:  ```/phylanx/floor__int$0/0$1$1 -> floor__int```.  I added some std::out() statements in the detail::extract_function_name()

[2019-02-08 00:37] khuck commented on #767
@hkaiser @scheherzade WOW.  I think we are pushing the limits of the linkers.  If I change the name of detail::extract_function_name to something unique (i.e. detail::extract_function_name_kevin), the error goes away...

[2019-02-08 07:34] sithhell commented on #770
Ha, my bad. I guess you're using clang3? There's a bug with the thread_local implementation leading to that error...

[2019-02-08 13:30] hkaiser commented on #770
@sithhell the missing functions have nothing in common with the thread_local stuff. Could you elaborate on where this connection is, please?

[2019-02-08 16:44] sithhell commented on #770
@hkaiser you are right ... I was referring to the rostam buildbot failures on clang3... totally different....

[2019-02-08 21:41] khuck opened #775 "tests.regressions.python.python.exception_swallowed_369 throwing different exception than the one expected"
The expected exception is:

[code]

but the actual output is:  ```RuntimeError: %1%%2%: %3%:: %4%: HPX(bad_parameter)```

[code]

[2019-02-08 21:45] khuck commented on #775
Same is true for out_of_scope_variable_232:

[code]

[2019-02-08 23:41] hkaiser commented on #775
@khuck is this happening on master or on some other branch?

[2019-02-08 23:44] khuck commented on #775
@hkaiser master (the third failure here is because master doesn't have the extract_function_name() fix yet), commit e8e6cbbdaedbfd5a7860098d1648e8b4e24da574.
[code]

[2019-02-09 00:06] hkaiser commented on #775
@khuck this turns out to be a problem in HPX, should be fixed once https://github.com/STEllAR-GROUP/hpx/pull/3677 will be merged.

[2019-02-09 00:07] khuck commented on #775
@hkaiser awesome, thanks!

[2019-02-09 22:53] #775 closed

[2019-02-09 22:54] hkaiser commented on #767
This was fixed by merging #774

[2019-02-09 22:54] #767 closed

[2019-02-09 22:54] hkaiser commented on #771
this was fixed by merging #774

[2019-02-09 22:54] #771 closed

[2019-02-09 22:55] hkaiser commented on #770
This was fixed by merging #772

[2019-02-09 22:55] #770 closed

[2019-02-10 00:17] khuck opened #776 "RelWithDebInfo transient errors from tests.regressions.python.python.list_iteration_524"
This test *sometimes* fails with gcc 7.1, RelWithDebInfo build on x86_64.  The tests.unit.python.execution_tree.eval test has shown a similar behavior.

The first run example gives a ```48: hpx::init: command line warning: command line options file not found (?)``` warning, but runs without an error:

[code]

The second run, the warning goes away:

[code]

The third test fails:

[code]

[2019-02-10 01:06] khuck opened #777 "tests.unit.plugins.booleans.where_operation times out with Debug build"
one buildbot failure with the Debug configuration - tests.unit.plugins.booleans.where_operation will time out after 100 seconds.  This is with hpx, boost and phylanx all built with Debug.  Every other test finishes in time.  tests.unit.execution_tree.generate_tree also takes at least 96 seconds.  Most other tests are less than 10 seconds, some are between 10 and 40 seconds.  Should we increase the

[2019-02-10 13:21] hkaiser commented on #777
@khuck could you increase the timeout? Alternatively I could split the where_operation tests into smaller pieces.

[2019-02-13 16:50] #777 closed

[2019-02-14 21:44] alex-r-bigelow commented on #743
@hkaiser I assume we're keeping this issue open for the cmake version checks? Otherwise my issue is resolved

[2019-02-21 17:08] stevenrbrandt commented on #684
@taless474 hstack() currently converts both range and list to node data. It does not, however, work for 3d. Does this already cover what you're looking for? If not, what is missing?
[code]

[2019-02-21 17:19] hkaiser commented on #684
@stevenrbrandt I think this is a problem in the frontend that does not properly handle 3D arrays (lists).

[2019-02-21 17:44] taless474 commented on #684
@stevenrbrandt thank you for doing this. By `range` I meant the Phylanx ir::range which we usually use as the equivalent of a tuple in python. In:
https://github.com/STEllAR-GROUP/phylanx/blob/master/src/plugins/matrixops/transpose_operation.cpp#L414
I liked the `axes` argument accepts both python list and tuple. I think there should be better ways than what I did in the above code to cover both c

[2019-02-21 18:56] zao opened #791 "Apple Clang warns about dangling else"
Apple LLVM version 10.0.0 (clang-1000.11.45.5)
[code]
https://github.com/STEllAR-GROUP/phylanx/blob/master/src/plugins/matrixops/insert.cpp#L139-L143

[2019-02-21 19:25] stevenrbrandt commented on #684
@taless474 I've noticed that in PhySL code,
[code]
fails. However,
[code]
Succeeds. Not quite sure what is going on there, but it looks like you can use a variable to convince hstack() to convert an ir:range to an array.

[2019-02-21 19:35] hkaiser commented on #684
@stevenrbrandt this is a bug, please create a ticket about this.

[2019-02-21 20:00] stevenrbrandt opened #792 "Conversion of range to array by hstack requires a variable name"
I've noticed that in PhySL code,

[code]
fails. However,

[code]
Succeeds Not sure why a named variable helps.

[2019-02-21 20:02] stevenrbrandt commented on #792
When I say "fails" I mean I see this exception:
[code]
It comes from this block of code
[code]

[2019-02-21 21:17] stevenrbrandt opened #794 "hstack() does not accept 3d arrays"
The following code
[code]
Triggers an error from the Python front end. `Phylanx only supports 1 and 2 dimensional arrays.`
[code]

[2019-02-21 21:28] khuck opened #795 "Buildbot tests failing"
The Release and RelWithDebInfo builds have the following failed tests:

[code]

See http://ktau.nic.uoregon.edu:8020/#/builders/6/builds/169 and http://ktau.nic.uoregon.edu:8020/#/builders/8/builds/427

[2019-02-21 21:31] khuck opened #796 "Many buildbot tests failing on POWER8"
Many tests failing on POWER8.  For example:

[code]

See:
http://ktau.nic.uoregon.edu:8020/#/builders/2/builds/399
http://ktau.nic.uoregon.edu:8020/#/builders/4/builds/161
http://ktau.nic.uoregon.edu:8020/#/builders/9/builds/139

[2019-02-21 21:37] khuck commented on #776
This issue apparently has been fixed.

[2019-02-21 21:37] #776 closed

[2019-02-21 22:04] hkaiser commented on #796
From what I see, those are mostly `std::bad_alloc` exception being thrown. This should be easy enough to find.

[2019-02-21 22:08] hkaiser commented on #795
Three of these tests fail for the same reason. I would assume (since it's in release only) that this is caused by some variable going out of scope prematurely. @khuck would it be possible to post the stack backtrace of the point where this exception is being thrown?

The segfault in `clip` looks like a genuine bug (most likely also a variable gone out of scope too early). @scheherzade: `clip` was

[2019-02-22 14:13] #364 closed

[2019-02-22 16:31] khuck commented on #795
Here's the RelWithDebInfo backtrace from the arithmetics.minimum test:

[code]

[2019-02-22 16:34] khuck commented on #796
Would it make sense to build them with the system allocator instead of TCMalloc?

[2019-02-22 16:48] hkaiser commented on #795
I think that this trace is generated while HPX rethrows the exception on the user's side. The original exception was thrown earlier. Could you please run it with gdb and let it stop when the exception is thrown initially (gdb command `catch throw`)?

[2019-02-22 16:50] hkaiser commented on #796
@khuck that would be worth a try. God knows, tcmalloc might be broken on Power.

[2019-02-22 19:08] khuck commented on #795
@hkaiser Here's the output:

[code]

[2019-02-22 19:34] khuck commented on #796
@hkaiser nope, same errors with system allocator.

[2019-02-22 20:15] hkaiser commented on #796
@khuck Same game: could you get gdb stack backtraces for the `std::bad_alloc` that is thrown?

[2019-02-22 22:46] khuck commented on #796
@hkaiser sorry it took so long...here's the backtrace:

[code]

[2019-02-22 22:53] khuck commented on #796
Also... the man page for posix_memalign has two possible errors, the first is more likely:
[code]
Obviously, 4 is not a multiple of ```sizeof(void*)``` on POWER9, which is 8.  Even though ```sizeof(int)``` is 4.

[2019-02-22 23:02] hkaiser commented on #796
@khuck, so it's a blaze bug as it seems to wrongly detect the alignment size. Blaze might not even support Power ;-) I'll ask

[2019-02-22 23:04] khuck commented on #796
@hkaiser I threw in a check to make sure alignment wasn't less than sizeof(void*).  It's rebuilding...

[2019-02-22 23:09] khuck commented on #796
@hkaiser Wouldn't this error happen on *any* 64bit system?  At least those where ```sizeof(int) == 4``` and ```sizeof(void*) == 64```?

[2019-02-22 23:11] hkaiser commented on #796
@khuck Blaze determines the alignment for a given type `T` from `std::alignment_of<T>::value` (https://bitbucket.org/blaze-lib/blaze/src/b742cdd522a0bf0c4c578bdf2ec3a7d5f40ec910/blaze/util/typetraits/AlignmentOf.h?at=master&fileviewer=file-view-default#AlignmentOf.h-67), which looks like the right thing to do.

The failing allocation tries to allocate `std::uint8_t`s (see: https://github.com/STEll

[2019-02-22 23:16] hkaiser commented on #796
@khuck could you set a breakpoint at the line in the test (see above) and see what arguments the `posix_memalign` (https://bitbucket.org/blaze-lib/blaze/src/b742cdd522a0bf0c4c578bdf2ec3a7d5f40ec910/blaze/util/Memory.h?at=master&fileviewer=file-view-default#Memory.h-90) is invoked with?

[2019-02-22 23:19] khuck commented on #796
@hkaiser I already did - they are called with alignment = 4, and size = 4028 - same as what is passed to allocate_backend().

That's why I was saying that the call to posix_memalign() will fail, because 4 < 8.  The alignment can't be less than ```sizeof(void*)```.  From the man page:

[code]

[2019-02-22 23:24] hkaiser commented on #796
@khuck so the minimal alignment on Power is `8`, no matter what? Why does `std::alignment_of<T>::value` return 4, then? This doesn't make sense. Or the left hand (Posix) doesn't know what the right hand does (C++ library). If that's the case, then this is a bug in the C++ library implementation on Power.

[2019-02-22 23:32] khuck commented on #796
With this test program:

[code]

I compile with Clang++ 7 on POWER, and I get:
[code]

And compiled with g++ 7 on x86_64, I get the same output:
[code]

[2019-02-22 23:48] khuck commented on #796
@hkaiser submitted to Blaze: https://bitbucket.org/blaze-lib/blaze/issues/232/runtime-error-on-ibm-power

[2019-02-23 01:39] hkaiser commented on #796
FWIW, here is @khuck's patch (blaze/util/Memory.h at line 91):
[code]

[2019-02-23 14:57] #792 closed

[2019-02-25 17:17] khuck opened #801 "Distributed buildbot tests failing"
mpi and tcp tests are failing with the following message:

[code]

See http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/140/steps/14/logs/stdio for details.

[2019-02-25 22:18] khuck opened #803 "tests.unit.primatives.broadcast test fails on release, relwithdebinfo builds"
Here's the backtrace from gdb:

[code]

[2019-02-25 22:22] khuck opened #804 "tests.unit.plugins.arithmetics.maximum and minimum fail on release, relwithdebinfo builds"
Here's the backtrace from gdb:

[code]

Seems similar to #803

[2019-02-25 22:25] khuck commented on #795
Clip is fixed, opening new bugs for broadcast, maximum and minimum.

[2019-02-25 22:25] #795 closed

[2019-02-25 22:54] hkaiser commented on #804
@khuck: Do you know which of the test cases is actually failing?

[2019-02-25 22:55] khuck commented on #804
@hkaiser walking through the backtrace, it seems related to 3D slicing.  It doesn't fail on debug builds.

[code]

[2019-02-25 22:56] khuck commented on #804
@hkaiser the broadcast failure stack is different, but fails in the same location, throwing the same exception.

[2019-02-25 23:06] hkaiser commented on #804
@khuck if you run it with `--hpx:ini=phylanx.sync_execution!=1` you should see the full stack-backtrace (up until main), giving away which of the test cases actually fails.

[2019-02-25 23:13] khuck commented on #804
@hkaiser here you go:

[code]

[2019-02-25 23:18] khuck commented on #804
@hkaiser line 62 is this test:

[code]

[2019-02-26 14:43] #794 closed

[2019-02-26 22:28] stevenrbrandt opened #808 "Hello prints twice"
The following program prints "Hello" twice:
[code]
But this one prints it only once
[code]

[2019-02-26 23:34] hkaiser commented on #808
@stevenrbrandt ...interesting - to say the least :/

[2019-02-27 13:17] hkaiser commented on #791
This was fixed by merging #793.

[2019-02-27 13:17] #791 closed

[2019-02-27 15:55] stevenrbrandt commented on #808
@rtohid Do you want to add the results of your experiments with lazy evaluation?

[2019-02-27 15:56] stevenrbrandt opened #810 "Run tests in parallel"
It takes a long time to run the tests. The machine I typically run on has 40 cores (80 hyperthreads). It would be nice if I could use this parallelism to get through the testsuite faster.

[2019-02-27 16:07] khuck commented on #810
I would definitely endorse this

[2019-02-27 16:55] ct-clmsn opened #811 "blaze::ravel dne?"
i'm getting a build error on the following function call: blaze::ravel; not sure if blaze has a ravel function. a quick fgrep over the blaze source tree didn't identify one.

[2019-02-27 17:20] khuck commented on #811
@ct-clmsn Are you including the blaze tensor library?  That's a recent addition that I just learned about.  It's supposed to be optional, but not all code locations are fenced off with ```#ifdef``` checks.

You'll need to:

[code]

Then include blaze tensor in the phylanx build (it may help to export BlazeTensor_DIR in your environment, too):

[code]

[2019-02-27 18:23] ct-clmsn commented on #811
@hkuck doah!

[2019-02-27 19:11] baumanfx opened #812 "Compilation Fails"
Compiling phylanx on a Raspberry Pi/Fedora fails with the following error:
[code]
Configuring the compilation with: -DHPX_DIR=/opt/hpx -DCMAKE_INSTALL_PREFIX=/opt/phylanx -DHPX_IGNORE_COMPILER_COMPATIBILITY=On
and calling make with -j 1.

The output of uname -a is:
[code]
CMakeFiles/CMakeError.log contains the following information:
[code]
Source file was:
int main() { return 0; }

[2019-02-27 19:27] rtohid commented on #808
@stevenrbrandt Sure!

This is based on the work-in-progress [lazy-eval](https://github.com/STEllAR-GROUP/phylanx/tree/lazy-eval) branch.

[code]

[code]

---

[code]

[code]

[2019-02-28 12:39] hkaiser commented on #810
@stevenrbrandt Wouldn't using the `-j` flag in the `make tests` do the trick?

[2019-02-28 15:29] khuck commented on #810
@hkaiser it builds the tests in parallel, but then cmake runs them serial.

[2019-02-28 15:32] khuck commented on #810
@hkaiser @stevenrbrandt you can set the CTEST_PARALLEL_LEVEL environment variable before running the test:
https://cmake.org/cmake/help/v3.12/manual/ctest.1.html

[2019-02-28 17:11] hkaiser opened #815 "Plain return statement fails"
This code throws a font-end error:
[code]
Here is the actual error message:
[code]

[2019-02-28 22:17] rtohid opened #817 "PhySL: lambda returning nil"
[code]

throws:
[code]

[2019-02-28 23:26] rtohid commented on #817
Actually, `nil` is the issue! Here are some other examples:

[code]
throws:
[code]
and:
[code]
prints nothing instead of `nil`

[2019-03-01 01:30] khuck opened #819 "tests.unit.plugins.controls.for_operation test failing on POWER"
The test fails with this error:

[code]

[2019-03-01 02:46] stevenrbrandt commented on #810
@khuck interesting

[2019-03-01 03:00] khuck commented on #810
@stevenrbrandt @hkaiser I tried it out on the Phylanx build - the tests were run concurrently, but it made all the tests run 10-60x slower.  Why?

[2019-03-01 13:43] hkaiser commented on #810
@khuck HPX binds threads to cores. As the concurrently running tests don't know anything about each other all of them bind their threads to the same cores. That puts all the burden of multiplexing things on those cores on the OS....

[2019-03-01 16:08] khuck commented on #810
@hkaiser ah, of course.

[2019-03-01 18:13] hkaiser commented on #817
@rtohid what would you expect for it to print otherwise?

[2019-03-01 18:21] rtohid commented on #817
@hkaiser To follow Python's convention, I think we should print 'nil'.

[2019-03-01 18:47] stevenrbrandt commented on #810
@khuck @hkaiser so what we need is some way to figure this out. Maybe if
CTEST_PARALLEL_LEVEL is set we could disable the core bindings or do some other intelligent thing?

[2019-03-01 18:53] khuck commented on #810
Is there an HPX argument that tells it not to pin threads?  If so, we could use that.  The other problem is that we can detect that CTEST_PARALLEL_LEVEL has been set, but we can't detect if someone calls "ctest -j ..."

[2019-03-01 19:01] hkaiser commented on #817
Let's print 'None' if it's called from Python and 'nil' otherwise.

[2019-03-01 19:15] hkaiser commented on #810
@khuck: good point. `--hpx:bind=none` should do what you're asking for (no thread binding).

[2019-03-01 19:24] #801 closed

[2019-03-01 19:28] khuck opened #821 "New build failure on all buildbots - ambiguous call to overloaded function"
[code]

[2019-03-01 19:58] hkaiser commented on #812
@baumanfx please check #814 and report back if that patch fixes your issue.

[2019-03-01 21:14] stevenrbrandt commented on #810
@hkaiser @khuck so that's an argument that has to be passed to the tests when they are invoked. That's going to be tricky to add to make files, integrate with the python libraries, etc. Can that be set with an environment variable?

[2019-03-01 23:02] hkaiser commented on #810
@stevenrbrandt I have created an HPX ticket asking for this functionality as it is not available at this point (see https://github.com/STEllAR-GROUP/hpx/issues/3724).

[2019-03-02 10:16] baumanfx commented on #812
After applying the 814.patch the compilation fails at a different place with this output
/opt/hpx/include/hpx/util/spinlock_pool.hpp:87:59: note: in instantiation
      of member function
      'hpx::util::spinlock_pool<hpx::naming::gid_type::tag,
      128>::spinlock_for' requested here
  ...explicit scoped_lock( void const * pv ): sp_( spinlock_for( pv ) )

[2019-03-02 14:48] hkaiser commented on #812
@sithhell Can we do something about the warning reported above? On 64bit systems all is well, but on 32bit systems the shift-count is larger than the size of the used hash value.

[2019-03-04 14:08] hkaiser commented on #810
@khuck, @stevenrbrandt: https://github.com/STEllAR-GROUP/hpx/pull/3726 has been merged. You should now be able to set the environment variable `HPX_COMMANDLINE_OPTIONS=--hpx:bind=none` to achieve what you need.

[2019-03-04 15:32] hkaiser opened #825 "Distributed define_variable test broken"
The distributed define_variable test is currently disabled (https://github.com/STEllAR-GROUP/phylanx/blob/master/tests/unit/distributed/CMakeLists.txt#L8) as the corresponding functionality is broken. This is to remind ourselves to fix the underlying issue.

[2019-03-04 17:35] #741 closed

[2019-03-04 21:51] taless474 opened #826 "Optional arguments don't work in Python front-end"
Executing the following:
[code]
The output is:
[code]

[2019-03-04 22:00] taless474 opened #827 "Random primitive shape for 0-D arrays is always 1"
Having
[code]
one would expect 10 random generated numbers in [0, 1.) while only 1 number is generated.

[2019-03-05 12:26] #812 closed

[2019-03-05 16:55] khuck commented on #712
This seems to be fixed?  I am not seeing it any more.

[2019-03-05 16:55] #712 closed

[2019-03-06 16:46] #826 closed

[2019-03-06 22:45] stevenrbrandt opened #832 "Phylanx Performance Data Broken"
The following code no longer works:
[code]
Error message is:
[code]

[2019-03-07 02:58] #817 closed

[2019-03-07 17:06] taless474 opened #835 "Statistics primitives to accept a tuple of integers as axis"
I like to ask for `amax`, `amin`, `min`, `var`, `std`, `logsumexp`, `prod`, `any` and `all` to accept a tuple of integers for their `axis` argument. Fo example, having:
[code]
should result in `[8]`. The same code works in NumPy calling it with named arguments, i.e. `return np.amax(x, axis=axis, keepdims=keepdims)`
If it is possible, I want
[code]
to result the same. In my understanding having `ax

[2019-03-07 17:21] #808 closed

[2019-03-07 17:28] hkaiser commented on #835
I distinctly remember implementing this (see: https://github.com/STEllAR-GROUP/phylanx/blob/master/phylanx/plugins/statistics/statistics_base_impl.hpp#L597-L646). Looks like it's not doing what it should, though :/

[2019-03-07 17:40] stevenrbrandt commented on #832
[code]

[2019-03-07 17:49] hkaiser opened #837 "Using 'None' as default argument fails"
This code fails
[code]
with this error:
[code]
_Originally posted by @taless474 in https://github.com/STEllAR-GROUP/phylanx/pull/828#issuecomment-469955063_

[2019-03-07 19:06] taless474 opened #839 "Cannot call statistics primitives with `initial`"
The 4th argument in the statistics is the `initial` value. In physl calling
[code]
would result in
[code]
and calling
[code]
would raise
[code]

[2019-03-07 21:09] taless474 opened #842 "Request for `isnan`"
As in python `np.nan == np.nan` results in `False`, we need to have `isnan` to indicate if something is `nan`. I couldn't find it [here](https://github.com/STEllAR-GROUP/phylanx/blob/90971a23f4cc06f5f9531be1eb325705778d6935/tests/unit/python/execution_tree/map_numpy_constants.py)
I want to run this:
[code]

[2019-03-07 21:34] ct-clmsn opened #843 "physl compile issue"
@rtohid @stevenrbrandt @hkaiser was able to start debugging the physl conversion of [phylanx_randomforest.py](https://github.com/STEllAR-GROUP/phylanx/pull/677/commits/3f99de00c04e347d4b6c5e46abfdba416ab34dcf#diff-f9e21640aced8534b421735deff4395c). There is a transformation issue in the following location phylanx_randomforest.py:182. `print(cls.shape)`

[2019-03-07 21:38] ct-clmsn commented on #843
the cls variable is returned from a call from numpy.unique. printing the type of cls `print(type(cls))` shows that it is a numpy.ndarray.

[2019-03-07 21:40] ct-clmsn opened #844 "numpy.squeeze"
provide primitive support for [numpy.squeeze](https://docs.scipy.org/doc/numpy/reference/generated/numpy.squeeze.html).

[2019-03-07 22:17] parsa commented on #844
This is already covered by @taless474 in #781, #700, #673. Take a look at its test [`squeeze_operation.cpp`](https://github.com/STEllAR-GROUP/phylanx/blob/master/tests/unit/plugins/matrixops/squeeze_operation.cpp) and its [documentation entry](https://stellar-group.github.io/phylanx/docs/sphinx/branches/master/html/reference/phyhelp.html#squeeze) and let us know if it's missing some functionality.

[2019-03-07 22:28] #837 closed

[2019-03-07 22:32] ct-clmsn commented on #843
Is this related to #784 ?

[2019-03-07 22:43] rtohid commented on #843
@ct-clmsn Short term solution would be to change your code to `np.shape(cls)`.

Phylanx relies on Python's AST to generate the PhySL code. This means that it is not possible to immediately extract the type of objects. To avoid naming conflicts, for now, Phylanx does not support member functions unless they are explicitly invoked as NumPy attributes (e.g., numpy.array, np.shape, ...).

And, yes. on

[2019-03-07 23:11] ct-clmsn commented on #844
@parsa thanks, i'll do a better job in the future double checking commits and documentation.

[2019-03-07 23:11] #844 closed

[2019-03-08 17:47] hkaiser opened #846 "Unrecognized Python construct"
This code
[code]
throws the following exception
[code]

[2019-03-08 17:52] scheherzade commented on #835
Pull request #847 should fix this issue.

[2019-03-08 18:48] #832 closed

[2019-03-08 19:01] scheherzade commented on #827
@hkaiser The same problem exists for 1d, 2d, and 3d cases, if the input is passed as an array the current implementation generates a random array with the same shape as the input.
[code]
returns an array like this:
[code]
instead of something like this:
[code]

[2019-03-08 19:30] rtohid commented on #846
Please note that the above test still fails as the `sign` primitive returns float instead of int.

[2019-03-08 19:54] rtohid opened #849 "The `sign` primitive returns float instead of int."
[code]

output:
[code]

[2019-03-08 20:27] taless474 commented on #827
I should add that `random` sometimes has `nil` somewhere in its output. In physl:
[code]
produces:
[code]

[2019-03-08 21:54] taless474 commented on #827
Actuallu, `nil` problem has occured in other cases, too. Therefore, it should not be caused by random.

[2019-03-08 23:04] hkaiser commented on #827
@taless474 do you have a reproducing test case for the `nil` problem?

[2019-03-08 23:05] hkaiser commented on #846
This was fixed by merging #848

[2019-03-08 23:05] #846 closed

[2019-03-09 01:28] #835 closed

[2019-03-09 02:30] taless474 commented on #827
Sure. In physl
[code]
results
[code]

[2019-03-09 17:44] hkaiser opened #852 "Stack and concatenate need to accept lists"
This code currently fails even if it should succeed:
[code]

[2019-03-10 14:03] hkaiser commented on #852
Adressing this problem requires to fix

- [ ] the `stack` primitive
- [ ] the `concatenate` primitive

[2019-03-10 14:48] hkaiser commented on #827
@taless474 I'm not able to reproduce this. Any other hints you may give to see this?

[2019-03-10 14:51] hkaiser commented on #827
@taless474 I think I know what's happening. Do you use the `physl` interpreter with the `-p/--print` command line option? If yes, then the interpreter will print the overall result of the evaluation of the given expression (`nil` in this case), which will get interspersed with the output generated from the evaluation itself. We probably should use `hpx::cout` instead of `std::cout` in the interpre

[2019-03-10 15:00] hkaiser opened #854 "PhySL interpreter inserts 'random' nil into output"
I should add that `random` sometimes has `nil` somewhere in its output. In physl:
[code]
produces:
[code]

_Originally posted by @taless474 in https://github.com/STEllAR-GROUP/phylanx/issues/827#issuecomment-471065529_

[2019-03-10 15:01] hkaiser commented on #854
As stated in #827:

[2019-03-10 18:24] taless474 commented on #827
@hkaiser, good catch. I am using physl interpreter with `--print`.

[2019-03-10 19:07] hkaiser commented on #684
@taless474 I think we can close this once #856 is merged, would you agree?

[2019-03-10 19:08] hkaiser commented on #827
@taless474 this should be fixed by #854

[2019-03-10 21:17] taless474 commented on #827
It is. Thanks

[2019-03-10 21:19] taless474 commented on #684
@hkaiser thank you, I agree.

[2019-03-10 21:22] taless474 commented on #854
It works, thanks.
[code]
[code]

[2019-03-11 13:51] #827 closed

[2019-03-11 13:51] #842 closed

[2019-03-11 13:52] #854 closed

[2019-03-11 15:43] taless474 opened #857 "Request for implementing Keras activation functions"
Keras has a few activation functions in its backend that we might want to implement in Phylanx. Phylanx supports `softmax` and `tanh` and we can add:
- [ ] relu
- [ ] elu
- [ ] softplus
- [ ] hard_sigmoid

[2019-03-11 16:23] hkaiser commented on #857
@taless474 would you mind adding links describing the actual math to implement for the primitives you listed?

[2019-03-11 16:52] taless474 opened #859 "Statistic operations generate output with the same type as their argument"
In `var`, `std`, `mean` and `logsumexp` we always expect a double output.
In physl having
[code]
results in
[code]
while the correct response is `1.55`. Ths problem does not occur if the input type is float, i.e. `var([1.,2,4])`

[2019-03-11 17:01] taless474 commented on #857
@hkaiser, I added the link to their description in the Keras documentation which contains their numpy implementation. Do you need the actual math behind them from scholar articles, too?

[2019-03-11 17:55] hkaiser commented on #857
@taless474 those links are fine, thank you!

[2019-03-11 20:32] taless474 opened #862 "`var` and `std` responses are incorrect specifying 2 axes"
Calculating `var` and `std` when specifying 2 axes for a 3D input produces incorrect answers. For example:
[code]
produces
[code]
while the correct response is
[code]

[2019-03-11 22:17] taless474 opened #864 "Request for truncated normal distribution"
A [truncated normal](https://keras.io/backend/#truncated_normal) has values generated follow a normal distribution with specified mean and standard deviation, except that values whose magnitude is more than two standard deviations from the mean are dropped and re-picked.
It should be able to accept `shape`, `mean`, `stddev`, `dtype` and `seed`

[2019-03-12 15:48] taless474 commented on #857
To support Keras, we can also add:
- [ ] [one_hot](https://keras.io/backend/#one_hot)
- [ ] [categorical_crossentropy](https://keras.io/backend/#categorical_crossentropy)
- [ ] [binary_crossentropy](https://keras.io/backend/#binary_crossentropy)
- [ ] [resize_images](https://keras.io/backend/#resize_images) where the interpolation is `bilinear`

[2019-03-12 19:06] taless474 opened #866 "The problem with the `dtype` as an argument"
[code]
results in
[code]

[2019-03-12 21:43] #839 closed

[2019-03-12 21:44] #849 closed

[2019-03-12 21:44] #859 closed

[2019-03-12 21:45] #864 closed

[2019-03-12 21:51] hkaiser commented on #866
This exposes the more general problem that PhySL does not support named arguments at this point. Alternatively we will have to touch on all primitives that require dtype support and add it as a optional argument to them.

[2019-03-12 22:04] hkaiser commented on #862
This is a general problem with the statistics primitives. Currently the way of evaluation is wrong if more than one axis is specified. The correct behavior was described on IRC:
[code]

[2019-03-13 18:00] taless474 commented on #866
Here is a list of primitives that need to support `dtype`:
- [ ] eye
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2019-03-13 22:44] taless474 commented on #857
Keras slice has the same functionality as [TensorFlow slice](https://www.tensorflow.org/api_docs/python/tf/slice). Having an nD input array, `start` and `size` are vectors of size n. To slice a matrix, first we find the element with indices in the start (in the following example the `[0,2]` (the element in 0th row and 2nd column) element is `3`) as the most top left element of the out put submatri

[2019-03-14 00:33] hkaiser commented on #857
@taless474 thank you for you clarifications. IIUC, this is equivalent to the 'normal' python/numpy slicing:
[code]
Would you see a way to map that (as this is supported by PhySL - at least partially)?

[2019-03-14 00:40] hkaiser commented on #857
@taless474 I take back what I said, sorry for the noise.

[2019-03-14 00:44] hkaiser commented on #857
@taless474 the same is true for:
[code]
which is equivalent to
[code]

[2019-03-14 01:04] hkaiser commented on #857
To dynamically build this up we could do:
[code]

[2019-03-14 01:09] #862 closed

[2019-03-14 01:09] #743 closed

[2019-03-14 01:28] hkaiser commented on #866
@taless474 here are some more:

- [ ] `cumprod`
- [ ] `cumsum`
- [ ] `dstack`, `vstack`, `hstack`, `stack`
- [ ] `vsplit`, `hsplit`
- [ ] all numeric operations (`__add`, `__sub`, `__mul`, `__div`, `__neg`)
- [ ] `identiy`
- [ ] `insert`
- [ ] `linearmatrix`
- [ ] `linspace`
- [ ] `power`
- [ ] some statistics operations (`min`, `max`, `mean`, `prod`, `sum`)

[2019-03-14 01:36] hkaiser opened #873 "Add support for named arguments to frontend"
@rtohid As discussed, the frontend should be changed to read all patterns as defined by the backend to figure out the placement of named arguments. We will start with adding the `dtype` named argument to the primitives listed in #866.

A simple way of encoding this information in the patterns would be to use the convention `_N_dtype` (instead of the currently used `_N` placeholder -- where `N` is

[2019-03-14 01:54] hkaiser commented on #873
Also, for an example on how to read and analyze the patterns defined by the backend, please see @stevenrbrandt's check_help script: https://github.com/STEllAR-GROUP/phylanx/blob/master/tools/check_help/check_help.py.

(Note to self: we really should change the used names, i.e. `phyhelpex` and `phylist`, but that's something for another ticket...)

[2019-03-14 18:36] taless474 opened #874 "Shape for 0D arrays"
In the following example, the second test fails:
[code]
[code]
When `z1` is 0d, we cannot ask for its shape. `z2.shape` is  `()`.

[2019-03-14 19:24] taless474 commented on #857
Keras backend has two functions for shape. The `shape` returns the symbolic shape of a tensor or variable. TensorFlow returns something like `<tf.Tensor 'Shape_8:0' shape=(2,) dtype=int32>` which includes the name ('Shape_8:0`), the shape (which is the ndim before eval (shape=(2,)) and the actual shape after applying eval) and the dtype.
We should decide how we want to have this in the keras backe

[2019-03-18 15:39] khuck commented on #804
@hkaiser BTW, these failures don't happen if configured with -DPHYLANX_WITH_BLAZE_TENSOR=OFF.

[2019-03-18 20:16] JPenuchot commented on #857
I'm working on elu on my side, you can check the progress I've made so far [on my fork](https://github.com/jpenuchot/phylanx). Most of the implementation has been done, I need to test it now.

[2019-03-18 20:42] hkaiser commented on #804
@khuck interesting, Thanks!

[2019-03-18 21:57] hkaiser commented on #873
After some discussions we came up with the need to also annotate the arguments in the patterns with their respective default values, for instance
[code]

[2019-03-20 01:38] ct-clmsn opened #883 "PHYLANX_PLUGINS_PATH error"
PHYLANX_PLUGINS_PATH has been set to `/opt/lib/phylanx`. Running the lra physl code found in [examples/algorithms/lra/lra.cpp](https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/lra/lra.cpp#L16) through the physl interpreter results in the following runtime error:

`physl lra.physl`

[code]

Running the [examples/algorithms/lra/phylanx_lra.py](https://github.com/STEllAR-GROUP

[2019-03-20 15:38] taless474 opened #886 "Using `not None` in the Python side"
In the following code
[code]
the `None` case raises an error.
[code]

[2019-03-20 15:45] taless474 opened #887 "Functions with `print` and no return in the Python side"
The output of the following code
[code]
is
[code]

[2019-03-20 15:58] taless474 opened #888 "Cannot use `return`s with different indention"
[code]
[code]

[2019-03-20 17:27] hkaiser commented on #887
@taless474 there is no (known) way for us to synchronize the output generated by Phylanx with the native Python output. We can leave this ticket open, but I don't think we'll be able to do anything about this issue.

[2019-03-20 19:10] ct-clmsn opened #889 "python transducer throws NotImplementedError on return"
In [physl_ldahyper.py](https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/lda/physl_ldahyper.py) on line 90 (`return EULER_MASCHERONI - invZ`), Phylanx's python transducer throws a `NotImplementedError: Illegal return: line=90, col=8`. The exception occurs in phylanx/ast/physl.py:258, in check_noreturn.

note: physl_ldahyper.py needs to have some modifications checked into th

[2019-03-20 20:56] #883 closed

[2019-03-20 22:00] hkaiser commented on #888
@stevenrbrandt do you think this is fixable?

[2019-03-20 22:36] hkaiser commented on #889
@stevenrbrandt any comments?

[2019-03-20 23:12] ct-clmsn commented on #888
@hkaiser - this looks related to my issue. #889

[2019-03-21 13:29] #886 closed

[2019-03-21 16:00] taless474 opened #891 "Random to raise ValueError for negative probabilities"
The following is an implementation of [Keras dropout](https://keras.io/backend/#dropout) which NumPy implementation is [here](https://github.com/STEllAR-GROUP/keras/blob/master/keras/backend/numpy_backend.py#L607):
[code]
We need to raise a ValueError for a negative `level`. In the PhySL code of:
[code]
I get

![1](https://user-images.githubusercontent.com/20496946/54765874-46825600-4bc8-11e9-8619

[2019-03-21 17:34] taless474 commented on #857
To enlarge images, Keras uses [resize_images](https://keras.io/backend/#resize_images). Enlargement can be along the height, width or both and is to determine with `height_factor` and `width_factor`. `data_format` tells us which convention is used to store images (if the channels are put at first or in the end).
There are two methods of filling between points, `nearest` and `bilinear`. `nearest` c

[2019-03-21 19:55] khuck opened #892 "buildbot builds locking up / timing out in MPI initialization"
When running python tests on the buildbot server, MPI initialization is hanging in OpenMPI when launching non-distributed executions.  See: http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/198. The tests that fail:

[code]

An example backtrace (from test 60):

[code]

[2019-03-24 22:39] rtohid opened #894 "`dstack` combines arrays along the wrong axis."
Tested with https://github.com/STEllAR-GROUP/phylanx/commit/dd5670093316c83748127ed56d739c47998e293b

[code]
Output:
[code]

[2019-03-25 01:14] hkaiser commented on #894
The generated PhySL is not quite correct, it should be changed to actually invoke the `dstack` primitive:
[code]

[2019-03-25 02:08] #873 closed

[2019-03-25 12:26] hkaiser commented on #815
@rtohid What's the status of this? Any news?

[2019-03-25 15:58] rtohid opened #896 "Returned `nil`"
When returned, `nil` must be converted back to `None`. This is not currently supported:

[code]
returns:
[code]

[2019-03-25 16:05] rtohid commented on #815
Sorry, I had missed this. I have a fix for the front-end issue (#897).
Meanwhile, if the return value is None, Phylanx functions return `nil` instead of `None` (please see #896):

[code]
returns:
[code]

[2019-03-26 00:52] hkaiser opened #900 "2d/3d advanced slicing not fully implemented"
We miss a lot of functionality in this domain:

- [x] advanced integer slicing (extraction) for 2d and 3d arrays (#876)
- [ ] advanced integer slicing (assignment) for 2d and 3d arrays
- [ ] advanced Boolean slicing (extraction) for 2d and 3d arrays
- [ ] advanced Boolean slicing (assignment) for 2d and 3d arrays

[2019-03-26 00:58] hkaiser commented on #894
I think we can close this as invalid. Please feel free to reopen, if necessary.

[2019-03-26 00:58] #894 closed

[2019-03-26 14:33] #874 closed

[2019-03-26 16:00] ct-clmsn opened #901 "phylanx module loading in python"
in the process of debugging my python phylanx-module loading issue, i added a print statement into the module loading code `src/plugins/load_plugins.cpp:140`

`
std::shared_ptr<phylanx::plugin::plugin_factory_base> factory (
    pf.create(instance, ec, glob_ini, plugin_ini, true));
std::cout << lib_path.string() << std::endl;
if (!ec)
{
    ...
`
another print statement has been added into the com

[2019-03-26 17:10] ct-clmsn commented on #901
Also would like to note, when python runs with phylanx, the lib_path string used to load the shared object (module) correctly points to the right system path.

[2019-03-26 17:28] hkaiser commented on #901
@ct-clmsn could you try creating an execution log (using `--hpx:debug-hpx-log=<filename>`)? There you should see any error generated while loading. In Python you can add this option to `phylanx.PhylanxSession` by adding this to you script somewhere before any @phylanx decorators are encountered:
[code]

[2019-03-26 17:34] hkaiser commented on #821
@khuck the problem reported here should have been fixed. Can we close this ticket?

[2019-03-26 17:35] hkaiser commented on #852
This should be fine now, please reopen if necessary.

[2019-03-26 17:35] #852 closed

[2019-03-26 17:36] hkaiser commented on #810
@khuck, @stevenrbrandt can we close this?

[2019-03-26 18:01] ct-clmsn commented on #901
@hkaiser should I post the log in here?

[2019-03-26 21:41] hkaiser commented on #901
@ct-clmsn that or post it somewhere and leave the link here. Alternatively, just send it directly to me.

[2019-03-26 21:42] #896 closed

[2019-03-27 01:49] khuck commented on #810
@hkaiser yep

[2019-03-27 01:50] khuck commented on #821
Yes

[2019-03-27 01:50] #821 closed

[2019-03-27 13:16] #810 closed

[2019-03-27 19:23] taless474 opened #903 "The dtype of a variable is `object`"
In the following code:
[code]
we get assertion error. If we use another name for the `dtype(x)` as in the below example:
[code]
we get this result:
[code]

[2019-03-27 19:41] stevenrbrandt commented on #810
I believe so. My tests ran in just over 22 sec.

[2019-03-27 21:18] ct-clmsn commented on #901
The python log is here:
[lra.log](https://github.com/STEllAR-GROUP/phylanx/files/3015300/lra.log)

[2019-03-27 21:59] taless474 opened #904 "Cannot pass function as an argument"
[code]
## Expected
[code]
## Actual
[code]

[2019-03-27 22:43] hkaiser commented on #904
This is an interesting one! @rtohid Would you see a way to identify decorated functions and to handle things properly when one of those is being passed to another decorator?

[2019-03-27 22:57] taless474 commented on #857
[map_fn](https://keras.io/backend/#map_fn), [foldl](https://keras.io/backend/#foldl) and [foldr](https://keras.io/backend/#foldr) have two common arguments, `fn` (callable) and `elems`.
Here is an example of how `foldl` is used:
[code]

[2019-03-27 23:00] hkaiser commented on #901
@ct-clmsn the logs say  for instance `/opt/lib/phylanx/libphylanx_arithmetics.so: HPX(dynamic_link_failure)`. This is the standard error message generated by the system if a) the system was not able the module (file not found) or b) the system was not able to find some file the module depends on. I'd assume that its the latter, i.e. that in the context of Python (which has its own rules of searchi

[2019-03-27 23:02] #815 closed

[2019-03-27 23:04] hkaiser commented on #903
@taless474 Looks like that wrapping a Phylanx variable in a Phylanx variable needs to be handled explicitly (i.e. `execution_tree.variable(execution_tree.variable(x))` should be equivalent to `execution_tree.variable(x)`. That should solve the second issue you're describing. I will need to see the assertion to understand what's going wrong in the first case.

[2019-03-27 23:12] hkaiser commented on #857
@taless474 The problem with this code is that it passes a pure Python function to the Phylanx decorator. We will have think on how to support this kind of construct. I don't think we will be able to transform this into a PhySL expression at runtime (@rtohid ?).

What we perhaps could do is to allow for pure Python code to be executed from inside Phylanx, i.e. create a primitive that invokes some p

[2019-03-27 23:12] hkaiser opened #905 "Enable calling Python snippet from inside the Phylanx execution tree"
[map_fn](https://keras.io/backend/#map_fn), [foldl](https://keras.io/backend/#foldl) and [foldr](https://keras.io/backend/#foldr) have two common arguments, `fn` (callable) and `elems`.
Here is an example of how `foldl` is used:
[code]

_Originally posted by @taless474 in https://github.com/STEllAR-GROUP/phylanx/issues/857#issuecomment-477378572_

[2019-03-27 23:13] hkaiser commented on #905
The problem with this code is that it passes a pure Python function to the Phylanx decorator. We will have think on how to support this kind of construct. I don't think we will be able to transform this into a PhySL expression at runtime (@rtohid ?).

What we perhaps could do is to allow for pure Python code to be executed from inside Phylanx, i.e. create a primitive that invokes some pre-compiled

[2019-03-28 02:01] taless474 commented on #903
Thank you for your response. Having only `test_dtype_1()`
[code]
 results in:
[code]
And having only `test_dtype_2()`
[code]
results in:
[code]

[2019-03-28 02:20] taless474 commented on #905
Here is an example of testing `map_fn` which contains both issues of passing a function as an argument and setting the dtype while using map.
[code]
Note that `fmap` is called with the `dtype` as an argument which is not supported by the backend yet.

[2019-03-28 02:23] hkaiser commented on #903
Well, the second case is just invalid Python code, as `dtype` in the assert refers to the local variable instead of the global function of the same name.

[2019-03-28 02:37] taless474 commented on #903
You are right. I shouldn't have simplified it into one file.
[code]
results in:
[code]

[2019-03-29 03:01] ct-clmsn commented on #901
@hkaiser my LD_LIBRARY_PATH is working correctly. Resolves 'ldd' correctly on all shared objects.

Noticed something in the logs. The lracpp.log and lra.log files show that the HPX(dynamic_link_failure) breaks on 'load_component_factory' but then states 'load_plugin_factory' succeeds.

However, lracpp.log works correctly, all the primitives are loaded and lra.log (the python version) fails. It als

[2019-03-29 16:06] #684 closed

[2019-03-29 19:47] baumanfx opened #910 "Compilation Error on Raspberry Pi 3 - 64 Bit"
Compilation (make) fails with the following error:
[code]
uname -a
Linux localhost.localdomain 5.0.3-200.fc29.aarch64 #1 SMP Tue Mar 19 14:56:09 UTC 2019 aarch64 aarch64 aarch64 GNU/Linux

clang++ --version
clang version 7.0.1 (Fedora 7.0.1-6.fc29)

commit e5ab9dc95fd2c2aa4c6b131d80e4edd92f7eab50

cmake -DHPX_DIR=/opt/hpx -DCMAKE_INSTALL_PREFIX=/opt/phylanx ..

Name         : blaze-devel
Version

[2019-03-29 20:02] taless474 opened #911 "Add support for Python list comprehensions"
List comprehensions are really useful for Python users. I like to suggest `@Phylanx` to support it. An example can be:
[code]
### Expected result
[code]

[2019-03-29 21:47] taless474 opened #912 "Add support for python `zip`"
`zip` produces an iterable from two iterables, so we can loop over two things at the same time.
[code]
### Expected
[code]

[2019-03-29 22:57] hkaiser commented on #911
@rtohid do you think this would be doable?

[2019-03-30 00:18] hkaiser commented on #910
@baumanfx thanks for reporting. This should be fixed by #913.

[2019-03-30 00:21] hkaiser commented on #901
@ct-clmsn there is a difference between component and plugins and those are loaded through separate mechanism. This explains why for some modules one of those load functions fails. This shouldn't be a problem as it is expected.

As said, Python has its own way of looking for binary modules. I think it uses the `PYTHON_PATH` variable as a lookup-guide. Could you please try adding the two directorie

[2019-03-30 01:35] #910 closed

[2019-03-30 14:34] rtohid opened #914 "Append is broken."
[code]
expecting `[1]`, getting `[]`:
[code]

[2019-03-30 14:35] rtohid commented on #911
@hkaiser PhySL, as far as I know, does not support generators but we can provide similar functionalities using loops and the append operation. Meanwhile, it seems that `append` primitive is broken (#914).

[2019-03-30 17:44] baumanfx opened #915 "Compilation Error on Rasberry Pi 3 - 64 Bit - hard_sigmoid_operation.cpp"
/opt/repos/phylanx/src/plugins/keras_support/hard_sigmoid_operation.cpp:73:33: note: candidate template ignored: substitution failure
      [with T = double, AF = true, PF = true, SO = false, RT = blaze::DynamicMatrix<double, false>]
        blaze::UniformMatrix<T> make_uniform(
                                ^
/opt/repos/phylanx/src/plugins/keras_support/hard_sigmoid_operation.cpp:142:22: error:

[2019-03-30 18:50] hkaiser commented on #915
@baumanfx could you update your version of Blaze, please? I think we depend on V3.5, if not top of master.

[2019-03-30 22:37] hkaiser opened #916 "Lambda expression generates invalid PhySL"
The following Python code:
[code]
generates invalid PhySL code:
[code]
Is it possible to avoid the nested `lambda()` construct?

[2019-03-30 22:39] hkaiser commented on #911
@rtohid Do we need generators for list comprehension? The result is just a list and not a pair of iterators anyways, so I think we can generated some equivalent code without losing generality.

Also, I will look into the issue you reported for `append`.

[2019-03-30 23:03] hkaiser commented on #916
@rtohid let's discuss this in more detail. I'm not so sure anymore that the generated PhySL is actually invalid :/

[2019-03-30 23:37] hkaiser commented on #904
@taless474 this should be fixed now, please see #917

[2019-03-30 23:41] hkaiser commented on #914
@rtohid I think the problem is that PhySL objects are never changed in-place. The following should work as expected:
[code]
I'm not sure whether we should do the corresponding transformations in the frontend (i.e. transforming `append(a, 1)` into `a = append(a, 1)`). What do you say?

[2019-03-31 15:48] #903 closed

[2019-03-31 15:58] #892 closed

[2019-03-31 15:58] hkaiser commented on #892
@khuck this should be fine now as the HPX PR was merged.

[2019-03-31 19:17] khuck commented on #892
@hkaiser no - the build after that PR was merged (three hours ago?) failed the same way....

[2019-03-31 21:56] hkaiser opened #918 "Keyword argument handling problem"
The following snippet:
[code]
generates this PhySL code:
[code]
Please note the 'wrong' default argument value for the invocation of `constant_like`. I believe this should be the following instead:
[code]

[2019-03-31 22:08] hkaiser commented on #916
I'll close this as invalid. The generated PhySL is valid after all.

[2019-03-31 22:08] #916 closed

[2019-03-31 23:12] taless474 opened #920 "Add support for slice accepting a list of indices"
The following code works properly:
[code]
and results in `[[[3 3 3]]]`.

It would be useful to have also this working:
[code]
In this way, we can always pass one argument to `slice` regardless of x's number of dimensions.

[2019-04-01 00:18] hkaiser commented on #920
@taless474 would it work if we exposed a special primitive (e.g. `tuple_slice`) that implements this functionality? Without using a special name or any other means of conveying the intention of using the list passed as first (and only) argument as a list of indices we will not be able to disambiguate all possible indexing methods.

[2019-04-01 01:36] #904 closed

[2019-04-01 13:59] taless474 commented on #920
Having `tuple_slice` would work for me.

[2019-04-01 16:51] #918 closed

[2019-04-01 18:18] taless474 commented on #903
The following code:
[code]
results in:
[code]
I pass `dtype` to `arange`, but it seems not to work (there is no call to variable here).

[2019-04-02 00:16] hkaiser commented on #903
@taless474 after thinking about this some more I believe it would be easiest to change the implementation of the `dtype()` function to:
[code]
The same would be necessary wherever a `execution_tree.variable()` is constructed.

[2019-04-02 01:00] #920 closed

[2019-04-02 16:10] taless474 commented on #857
Keras [switch](https://keras.io/backend/#switch) is basically an element-wise `if_conditional`. If the condition has lower dimensions in comparison to `then` and `else`, the condition will be broadcasted (it will be reshaped to (oldshape, 1) or (oldshape, 1, 1) ,... before broadcasting). Check NumPy implementation [here](https://github.com/STEllAR-GROUP/keras/blob/master/keras/backend/numpy_backen

[2019-04-02 18:11] taless474 opened #924 "Incompatibility of `where` with NumPy `where`"
Having the this numpy code:
[code]
we get a ValueError:
[code]
But this:
[code]
results in:
[code]
`np.where` broadcasts the condition when its shape is compatible with the last dimensions of then/else expression.

[2019-04-02 21:35] #911 closed

[2019-04-02 21:41] hkaiser commented on #857
We have discussed this and came to the conclusion that `switch` is very similar to the already existing `where` primitive, except for the broadcasting rules to be applied to the conditional. Also, `switch` assumes that the two result arrays have the same shape.

[2019-04-03 13:28] baumanfx commented on #915
After updating Blaze to V3.5 the error changes to the following:

/opt/hpx/include/hpx/runtime/serialization/access.hpp:133:29: warning: constexpr if is a C++17 extension [-Wc++17-extensions]
                    else if constexpr (has_struct_serialization<T>::value)
                            ^
Stack dump:
0.      Program arguments: /usr/bin/clang-7 -cc1 -triple aarch64-unknown-linux-gnu -emit-ob

[2019-04-03 13:48] hkaiser commented on #915
@baumanfx Hmmm, this looks like a compiler problem. The use of `if constexpr()` in HPX is guarded by:
[code]
which means that the feature test for `if constexpr` has successfully passed for this compiler (see https://github.com/STEllAR-GROUP/hpx/blob/master/hpx/runtime/serialization/access.hpp#L123-L153).

Could you post the output generated from cmake when configuring HPX, please?

We could try r

[2019-04-03 14:35] taless474 opened #925 "Cannot pass a None dtype"
Following:
[code]
results in:
[code]

[2019-04-03 15:13] ct-clmsn commented on #901
@hkaiser an old friend suggested that since python is compiled in C, there could be some C/C++ name mangling taking place when Python loads the shared objects into memory (the shared objects are C++ names not C names). This could explain why the C++ version of the algorithms (lir, lra, als) run perfectly well but then fail to run when they are pulled into the Python interpreter. To fix this we wou

[2019-04-03 15:42] baumanfx commented on #915
This is the complete output when configuring HPX:

cmake -DCMAKE_INSTALL_PREFIX=/opt/hpx -DHPX_WITH_GENERIC_CONTEXT_COROUTINES=ON ..
-- The CXX compiler identification is GNU 8.3.1
-- The C compiler identification is GNU 8.3.1
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI inf

[2019-04-03 18:19] hkaiser commented on #915
Thanks @baumanfx. I have created a PR for HPX (see #3770) that removes the `if constexpr()` alltogether. I'd appreciate it if you had time to verify whether this fixes your issue.

[2019-04-03 18:25] hkaiser commented on #901
@ct-clmsn Hmm, I don't think this would explain things. We have Phylanx running on other machines and on various platforms (Linux, Windows, and soon Mac)...

[2019-04-04 00:56] ct-clmsn commented on #901
@hkaiser in hindsight, LD_PRELOAD would also be broken and it's not, back to debugging.

[2019-04-04 01:05] #924 closed

[2019-04-04 19:45] #925 closed

[2019-04-05 21:18] rtohid opened #929 "`fold` primitive does not support NumPy arrays."
[code]

returns `[1, 2, 3]` instead of `6`- The same is true for `fold_right`.

[2019-04-05 21:21] rtohid opened #930 "`fold` does not accept `None` as initial value"
[code]
returns:
[code]

[2019-04-06 09:09] baumanfx commented on #915
rebuilding HPX from the latest version in git yielded a kernel panic during build and resulted in an unbootable system.

[2019-04-06 11:04] hkaiser commented on #915
@baumanfx ok, thanks. Unfortunately this is not really helping in debugging things. Could you get in contact with @diehlpk please? He has successfully compiled HPX on PIs, so he might suggest a setup that is known to work.

[2019-04-06 20:46] hkaiser opened #933 "Can't pass eval_wrapper directly to a variable()"
The following code:
[code]
results in:
[code]
I pass `dtype` to `arange`, but it seems not to work (there is no call to variable here).

_Originally posted by @taless474 in https://github.com/STEllAR-GROUP/phylanx/issues/903#issuecomment-478688142_

[2019-04-06 20:49] hkaiser commented on #933
@taless474 after thinking about this some more I believe it would be easiest to change the implementation of the `dtype()` function to:
[code]
The same would be necessary wherever a `execution_tree.variable()` is constructed.

_Originally posted by @hkaiser in https://github.com/STEllAR-GROUP/phylanx/issues/903#issuecomment-478793756_

This will require to expose the `.code()` functionality from `

[2019-04-08 14:46] #891 closed

[2019-04-08 19:35] taless474 opened #936 "Add support for aggregation function to execution_tree.variable"
The following test expects the variable to be compatible with `*`:
[code]
[code]

[2019-04-09 02:14] #905 closed

[2019-04-10 09:24] #929 closed

[2019-04-10 09:24] #930 closed

[2019-04-10 09:24] #933 closed

[2019-04-10 14:40] #912 closed

[2019-04-10 15:11] taless474 opened #940 "`fold` raises a type error passing a NumPy random array as `elems`"
[code]
[code]

[2019-04-10 20:02] taless474 opened #941 "`fmap` does not accept NumPy arrays"
Having:
[code]
results in:
[code]

[2019-04-10 20:09] taless474 opened #942 "`fold_left`, `fold_right` and `fmap` do not work with a lazy function"
Having the following code:
[code]
results in:
[code]

[2019-04-11 19:27] taless474 commented on #936
Another attribute a variable should have is `callable`:
[code]

[2019-04-11 20:44] Yeahhhh opened #947 "OpenSCoP backend produces wrong parameters"
Wrong data was collected as OpenSCoP's parameters.

example input:
[code]
OpenSCoP's parameters shall contain these data.
[code]
OpenSCoP's parameters shall not contain these data. This codes has a bug, and placed these data in "parameters".
[code]

This bug is fixed in "github.com:Yeahhhh/phylanx bd71f6c 2019-04-11", and shall be merged.

[2019-04-14 14:58] hkaiser commented on #947
This has been fixed by merging #946. Closing.

[2019-04-14 14:58] #947 closed

[2019-04-14 15:20] hkaiser opened #949 "Postincrement/preincrement range iterator problem"
@hkaiser If I write the code this way it doesn't work properly:
[code]
but if I do this instead:
[code]
it works properly.

_Originally posted by @scheherzade in https://github.com/STEllAR-GROUP/phylanx/pull/938_

[2019-04-15 16:17] hkaiser commented on #941
@taless474 The code snippet above does work for me on master. Could you please check again?

[2019-04-15 16:19] hkaiser commented on #940
@taless474 The code snippet above works for me on  master. Could you please try again?

[2019-04-15 19:21] taless474 commented on #940
This works now, thanks.

[2019-04-15 19:21] #940 closed

[2019-04-15 19:32] taless474 commented on #941
I don't get the error anymore. Having
[code]
there is a silent conversion to double:
[code]
If I write it as:
[code]
I still get:
[code]

[2019-04-15 22:58] hkaiser commented on #941
@taless474 Yes, there was a problem with fmap always converting things to double. This however should have been fixed on master earlier today.

[2019-04-16 00:56] taless474 commented on #941
@hkaiser it works now, thanks.

[2019-04-16 00:56] #941 closed

[2019-04-16 02:51] taless474 opened #951 "The direction of fold in `fold_left` and `fold_right` having a specified dtype"
The following test aims to make sure that we walk the array from right to left and checks it in the following way: multiplying left to right 1e-40 cannot be held into a float32 so it causes an underflow while from right to left we have no such problem and the result is larger.
[code]
It raises an assertion error. Here, we get the same value for `p1` and `p2`.

[2019-04-16 12:51] hkaiser commented on #951
@taless474 we see this as our computations are always done in `float64`. I have no solution to this except to really support `float32` in the backend.

[2019-04-17 19:41] taless474 opened #953 "Add 3D support to logical operations"
Currently, boolean primitives do not support 3D arrays. Adding 3D support would be helpful. For example, we can have:
[code]

[2019-04-19 01:00] taless474 commented on #669
`pad` was added in #768. `pool` was added #902. `flatten` was added in #685, #761 and #823.
`conv1d` is covered in #955 and `conv2d` and `conv3d` will be added soon.
@hkaiser, can we close this?

[2019-04-19 01:22] hkaiser commented on #669
@taless474 my please.

[2019-04-19 01:22] #669 closed

[2019-04-19 01:23] taless474 commented on #936
#950 fixed this.
As everything is callable in Phylanx, I wrote `in_train_phase` as this:
[code]

[2019-04-19 01:23] #936 closed

[2019-04-19 19:34] #953 closed

[2019-04-21 16:20] hkaiser commented on #889
This is a duplicate of #888. Closing.

[2019-04-21 16:20] #889 closed

[2019-04-21 22:12] taless474 opened #956 "Cannot pass a two-part named argument"
Having a named argument that contains `_`, we get an error.
[code]
[code]

[2019-04-23 22:43] rtohid opened #962 "`__eq` operation: comparing n-by-m and n-by-1 arrays."
[code]

The NumPy version returns:
[code]
while Phylanx throws:
[code]

[2019-04-24 21:53] #956 closed

[2019-04-25 18:45] taless474 opened #966 "Named arguments don't work"
[code]
[code]

[2019-04-26 13:46] #962 closed

[2019-04-26 14:16] taless474 opened #968 "Type error using `in_top_k`"
@rtohid, can you please take a look at this?
[code]
results in:
[code]
We like to be able to use `in_top_k` in something like this:
[code]

[2019-04-26 15:06] rtohid commented on #968
@taless474 for the first case, could you please try the same code with NumPy arrays as inputs?

What is the issue with the second example?

[2019-04-26 15:32] taless474 commented on #968
This is what happens when I tried it with np.arrays
![1](https://user-images.githubusercontent.com/20496946/56818923-5405ae00-680e-11e9-8e18-6e6a17846997.png)
It produces the same issue with the second example.

[2019-04-26 15:59] rtohid commented on #968
Are you sure your input is valid? The following also doesn't work (the reference implementation provided [here](https://github.com/STEllAR-GROUP/phylanx/issues/857#issuecomment-472057320)):

[code]
output:
[code]

[2019-04-26 16:27] taless474 commented on #968
That's a good point. I didn't account for the floor division.

[2019-04-26 16:27] #968 closed

[2019-04-26 23:36] hkaiser commented on #968
@rtohid Could we change that assertion above into an exception?

[2019-04-27 23:59] rtohid commented on #968
Are you asserting that the object is actually 1 dimensional?

[2019-04-29 14:30] hkaiser commented on #966
@taless474 this works for me on current master, could you try again, please?

[2019-05-05 19:47] ct-clmsn opened #974 "physl command line argument to print returned results"
Users can ask the physl interpreter to return a result that is lost. physl can perform a computations and return a results that are invisible or inaccessible to a user. This situation complicates remote code deployments. Adding a flag to physl that prints a return result would make fetching remotely deployed code possible.

Python-to-PhySL Example:

[code]
translates to
[code]

If the phys interpr

[2019-05-05 21:10] hkaiser commented on #974
@ct-clmsn we already have the `--print` command line option that prints the overall result. Is that what you need? see:
https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/interpreter/physl.cpp#L239-L240

[2019-05-06 00:39] ct-clmsn commented on #974
Will close this issue; I really need to query the database before cluttering up the issue tracker!

[2019-05-06 00:40] #974 closed

[2019-05-06 02:29] hkaiser commented on #974
@ct-clmsn no worries, electrons are cheap ;-)

[2019-05-07 14:51] justwagle opened #975 "K-Means PhySL example is broken"
Running the C++-wrapped PhySL K-Means results in the following error:
` {what}: <unknown>(30, 31): couldn't find function 'add_dim' in symbol table: HPX(bad_parameter)`

I found out that add_dim was replaced with expand_dims, so I changed add_dim to expand_dims with the axis -1 which resulted in the following error:
`what():  <unknown>(37, 23): access-function$initialize_centroids:: the variable '

[2019-05-08 22:02] hkaiser opened #977 "Make Blaze Tensor mandatory"

[2019-05-09 17:50] #975 closed

[2019-05-09 18:24] parsa opened #979 "@Phylanx functions can't call other @Phylanx functions anymore"
Demonstration:

[code]
[code]
Commit: ff576e03b1e7d90d4847deee10c03bf4fdd62fa1
Related to #975

[2019-05-10 14:21] scheherzade opened #980 "Can not change elements of a list (range)"
Following code is supposed to change the first element of a list but it fails.

[code]
results in:
[code]
while it should have printed:
[code]

[2019-05-21 15:41] taless474 opened #983 "Physl error message for out of bound number of arguments is not precise"
For `conv1d` we have this match data pattern:
[code]
At least 2 arguments should be supplied. The second argument is named, but does not have a default value.
Having the following in physl:
[code]
would result in:
[code]
The `expected` number of arguments is 2 not 1 .It would have been more informative if the message was
[code]

[2019-05-21 22:41] #979 closed

[2019-05-21 22:42] hkaiser commented on #983
Good catch!

[2019-05-30 17:17] ct-clmsn opened #987 "phylanx and lra infinite loop on plugin load"
the lra code (examples/algorithms/lra/lra.cpp) in phylanx has been compiled in debug mode with gcc 7.3.0, with hpx (system malloc also in debug mode).

when lra runs, it hangs on hpx_init. gdb running lra operates sliently. when i've CTL-C'd gdb breaks on hpx/util/plugin/detail/dll_dlopen.hpp line 400 (hpx::util::plugin::dll::LoadLibrary).

i've added a print statement into line 408, recompiled hp

[2019-05-30 17:45] ct-clmsn commented on #987
wrong line of code; the correct line is hpx/util/plugin/detail/dll_dlopen.hpp:297

[2019-06-06 19:21] alex-r-bigelow opened #988 "HPX / Phylanx library dependency problem during build"
I'm getting the following error with fresh builds of HPX / Phylanx:
[code]

It's been a while since I tried this, so I'm probably doing something silly (e.g. I'm just building from master for both HPX and Phylanx—it's possible that I'm not pointing at the right tagged versions?)

Here are the versions of libraries / settings that I'm building with (I updated these blindly based on what seems to be

[2019-06-06 20:20] hkaiser commented on #988
@alex-r-bigelow could you post the full build log, please?

[2019-06-06 20:24] alex-r-bigelow commented on #988
Thanks for the fast response! He're's the full log:

[code]

[2019-06-06 20:25] alex-r-bigelow commented on #988
🤦‍♂ Just realized I was reading the wrong log file when I filed this issue—HPX didn't build properly. Sorry about this!

[2019-06-06 20:25] #988 closed

[2019-07-02 21:31] kisaacs commented on #811
I'm running into this problem now, both with blaze::ravel and with blaze::mean in the keras_support plugin. I tried adding `-DBlazeTensor_DIR` to my cmake line and got a cmake warning that it's not used anymore:
[code]

I'm using the rostam modules blaze/3.5 and blaze-tensor/master but maybe I need to be building blaze myself. Any ideas? Thanks!

[2019-07-02 21:56] taless474 commented on #811
@kisaacs blaze::mean is added recently (2019‑06‑09) and blaze 3.5 is released a few months ago (2019-02-26). Would you please update blaze (use master) and inform me if it still happens?

[2019-07-02 22:03] scheherzade commented on #811
@kisaacs Did you also set ```-DPHYLANX_WITH_BLAZE_TENSOR=ON```?

[2019-07-02 22:26] kisaacs commented on #811
@scheherzade Ah, I added that and got a:
[code]

@taless474 I also tried it without blaze tensor but with blaze/master, but then I got the `blaze::mean` and `blaze::ravel` errors. Looking at the dates, it seems blaze/master is April 2, so it looks like I need to compile my own blaze and perhaps my own blaze_tensor.

[2019-07-02 22:34] khuck commented on #811
Kate -

Here is the relevant section from the buildbot scripts, although don't understand the magic that makes Phylanx build (or not build, as the current case may be) any more, especially when it comes to blaze and blaze tensor:

 29     export CC=${mycc}
 30     export CXX=${mycxx}
 31     export FC=${myfc}
 32     export CFLAGS=${mycflags}
 33     export CXXFLAGS=${mycxxflags}
 34     #export L

[2019-07-03 22:30] kisaacs commented on #811
Thanks folks. I downloaded the latest blaze and blaze_tensor with the extra option by @taless474 and that seems to have worked.

[2019-07-03 22:30] #811 closed

[2019-07-06 00:00] khuck opened #997 "Buildbot test failures for conv1d_operation tests"
The following tests FAILED:
	162 - tests.unit.plugins.keras_support.conv1d_operation (Failed)
	172 - tests.unit.plugins.keras_support.separable_conv1d_operation (Failed)

See: http://ktau.nic.uoregon.edu:8020/#/builders/7/builds/310/steps/14/logs/stdio

[2019-07-06 01:07] hkaiser commented on #997
@taless474 would you be able to look into this?

[2019-07-06 01:15] taless474 commented on #997
Sure. I made the mistake to choose the same name for conv_indices_helper and pool_indices_helper. So I think after merging pool operations, convolutions were using pool_indices_helper indices and failed. I put them in the namespaces in #998. Please let me know if it is not a proper fix.

[2019-07-06 13:10] #997 closed

[2019-07-19 13:48] stevenrbrandt opened #1003 "Phylanx failing build on Fedora"
My docker build is failing since yesterday when I try to run "make tests." I'm using the latest hpx, blaze, blaze-tensor, and pybind11, gcc 9.1.1, boost 1.69.0.

[code]

--Steve

[code]

[2019-07-23 14:37] stevenrbrandt commented on #1003
The issue seems to be that a number of files required by blaze_tensor were removed in Blaze. Latest working version of blaze seems to be 48460a03c7ef989ea4c27b0f39dca91a76104099

[2019-07-23 21:22] stevenrbrandt opened #1004 "check_help.py is broken"
Since the introduction of PhylanxSession(), the check_help.py script has not been seeing the help strings of most primitives. As a result, a number of non-conforming help messages have accumulated in the codebase. Also, the new construct __arg(_1,...) in the PhySL function prototypes has introduced problems for check_help.

[2019-07-25 16:06] #1004 closed

[2019-08-01 13:22] #977 closed

[2019-08-05 22:51] justwagle opened #1015 "Phylanx fails to build with latest blaze"
The current master of Phylanx fails to build with the latest blaze.
The issue looks like SchurAssign was renamed to ModuloAssign in the following commit of blaze (https://bitbucket.org/blaze-lib/blaze/commits/1f8b93baeecb057f52e1e6e056ffee9a8acd87a6) and the change has not been incorporated into blaze tensor causing the build to fail.

The build log is given below:
https://gist.github.com/justwagl

[2019-08-05 22:53] hkaiser commented on #1015
@justwagle This has been fixed by merging https://github.com/STEllAR-GROUP/blaze_tensor/pull/34. Could you please try again?

[2019-08-05 23:30] justwagle commented on #1015
@hkaiser That fixed it, thanks a lot.

[2019-08-05 23:30] #1015 closed

[2019-08-06 04:53] justwagle opened #1016 "Link error while building Phylanx"
Phylanx encounters linking errors while trying a Release build on Rostam. (Debug build works).
The gist for the error is given below:
https://gist.github.com/justwagle/059ca75093766dbade2b770d431be0ad

[2019-08-06 16:43] hkaiser commented on #1016
Note: this is happening for release builds only.

[2019-08-07 18:35] #1016 closed

[2019-08-09 16:37] khuck opened #1020 "Blaze header filename changed"
Getting this error with current blaze:
[code]
Apparently it's changed to Bools.h...

[2019-08-09 17:22] hkaiser commented on #1020
@taless474 do you think you could take care of this?

[2019-08-12 21:07] taless474 commented on #1020
I have fixed the latest changes in Blaze up to [this commit](https://bitbucket.org/blaze-lib/blaze/commits/d7a05ba10b931fd05674808f011e529483c82505), [here](https://github.com/STEllAR-GROUP/blaze_tensor/tree/fixing_integral_constant). There are some new changes in including the headers (typetraits of containers only include the Forward files) and I was not able to compile that.
A few hours ago, Bl

[2019-08-12 21:10] khuck commented on #1020
Sure, I can build against whatever solid blaze release we want, until it stabilizes.  But it sounds like you are in-between versions now?

[2019-08-13 16:21] taless474 commented on #1020
Yes, I think Blaze will be released soon. Right now, we can build Phylanx against Blaze_tensor master and [this commit](https://bitbucket.org/blaze-lib/blaze/commits/b0358851a6f23e29d8635bcb25e0db6981b5ebf9) of Blaze.

[2019-08-13 16:45] khuck commented on #1020
OK, changing to that commit.  I'll let you know if I run into issues.

[2019-08-16 14:13] ct-clmsn commented on #987
stack trace:

hpx::util::plugin::dll::LoadLibrary @ hpx/hpx/util/plugin/detail/dll_dlopen.hpp:291
hpx::util::plugin::dll::get_directory @ hpx/hpx/util/plugin/detail/detail/dll_dlopen.hpp:327
hpx::util::find_prefix @ hpx/src/util/find_prefix.cpp:69
phylanx::detail::user_main_config @ phylanx/src/version.cpp:76
phylanx::detail::user_main_config @ phylanx/src/version.cpp:95
phylanx::detail::user_main

[2019-08-16 14:19] ct-clmsn commented on #987
gdb stack trace
[code]
LoadLibrary is called repeatedly (infinite loop).

[2019-08-16 14:22] ct-clmsn commented on #987
gdb stack trace
[code]
LoadLibrary is called repeatedly (infinite loop). Inserting a debugging print statement into hpx::util::plugin::dll::LoadLibrary:71 for the 'prefix' variable ('prefix.empty()') will cause the 'lra' program to repeatedly print `libhpx_phylanxd.so`.

[2019-08-16 14:27] ct-clmsn commented on #987
Here is the output of a gdb trace of this issue.

[code]

LoadLibrary is called repeatedly (infinite loop). Inserting a debugging print statement into LoadLibrary `hpx/hpx/util/plugin/detail/dll_dlopen.hpp:295` for the 'dll_name' variable (and 'dll_name.empty()') will cause the 'lra' program to repeatedly print `0     libhpx_phylanxd.so`.

[2019-08-20 11:31] hkaiser commented on #1020
@khuck this was fixed by merging https://github.com/STEllAR-GROUP/blaze_tensor/pull/37. Please switch your builds back to using Blaze and BlazeTensor master.

[2019-08-20 11:31] #1020 closed

[2019-08-20 13:11] khuck commented on #1020
Will do

[2019-08-21 20:32] stevenrbrandt opened #1026 "Phylanx install issue"
It should be possible to delete the phylanx source directory after installing phylanx. Unfortunately, Phylanx won't load if you do this. However, if you delete everything but the so files like this:
[code]
Phylanx can run.

[2019-08-21 21:13] hkaiser commented on #1026
Could you please delete all files after installation and run any Phylanx application with `--hpx:debug-hpx-log=<filename>` and post the produced output (could be large) somewhere?

[2019-08-21 21:37] stevenrbrandt opened #1027 "Can't obtain Perfdata with Release build of Phylanx"
The following code hangs with a release build of Phylanx:

[code]

[2019-08-21 22:04] stevenrbrandt commented on #1026
Removal of `/home/jovyan/phylanx/build/lib/libhpx_phylanxd.so.0.0.1` triggers the problem.

Note the error is this:
[code]

[2019-08-21 22:07] stevenrbrandt commented on #1026
I attempted to do what you asked.
[code]
Does not create diag.txt

[2019-08-21 22:40] hkaiser commented on #1026
Could you try this instead, please (command line options can be added verbatim as configuration):
[code]

[2019-08-22 14:29] taless474 opened #1028 "Add 4D support to primitive"
Here is a list of primitives that need to support 4D operations:
- [ ] variable (#1023)
- [ ] ndim
- [ ] constant (#1006)
- [ ] batch_dot (#1011)
- [ ] transpose
- [ ] random (#1024)
- [ ] reshape
- [ ] flatten
- [ ] squeeze
- [ ] expand_dims (#1021)
- [ ] softmax
- [ ] gather (indexing)
- [ ] stack
- [ ] concatenate
- [ ] shape
- [ ] len (#1025)
- [ ] repeat
- [ ] fmap
- [ ] flip
- [ ] boolean op

[2019-08-22 16:17] stevenrbrandt commented on #1026
[diag.txt](https://github.com/STEllAR-GROUP/phylanx/files/3531008/diag.txt)

[2019-08-22 16:18] #1003 closed

[2019-08-22 16:40] stevenrbrandt commented on #1026
This was an improperly set LD_LIBRARY_PATH. Sorry.

[2019-08-22 16:40] #1026 closed

[2019-08-28 17:47] stevenrbrandt opened #1032 "-DPHYLANX_WITH_CXX17 is now required"
When I compile with Phylanx I need to specify the -DPHYLANX_WITH_CXX17 to get things to build correctly. If I don't, I see the error message below:
[code]

[2019-08-29 12:26] hkaiser commented on #1032
Since https://github.com/STEllAR-GROUP/hpx/pull/4041 HPX passes the C++ standard used to compile it onto dependent projects. This should be integrated with our build system to avoid having to explicitly specify `PHYLANX_WITH_CXX17`.

[2019-08-30 20:04] taless474 commented on #966
Can anyone please take a look at this?

[2019-09-03 01:17] hkaiser opened #1036 "PhySL functions are compiled twice"
Any @Phylanx decorated function will be compiled twice. This should not happen.

[2019-09-03 20:44] rtohid opened #1037 "boost::system::error_code vs hpx::filesystem::error_code"
I get the following error trying to build Phylanx:
[code]

After the new changes in the HPX, boost::system::error_code must be replaced with hpx::filesystem::error_code.

[2019-09-04 12:05] tapaswenipathak commented on #655
Hi ct-clmsn: Can I PR or are you implementing the remaining task list?

[2019-09-06 17:29] #1037 closed

[2019-09-10 18:59] stevenrbrandt commented on #1032
@hkaiser @parsa I notice that if I leave off the -DPHYLANX_WITH_CXX17=1, I get
[code]
in the `CMakeCache.txt`. If I put it on explicitly, I get
[code]
Editing the `CMakeCache.txt` to change `INTERNAL` to `UNINITIALIZED` causes the build to succeed.

[2019-09-10 21:02] hkaiser commented on #1032
@stevenrbrandt: I'm not sure if anybody is supposed to edit the CMakeCache.txt...

[2019-09-10 21:09] stevenrbrandt commented on #1032
@hkaiser Of course one isn't supposed to. The point of that test was to verify that changing INTERNAL to UNINITIALIZED was really the key difference between the two configuration methods.

[2019-09-11 02:59] stevenrbrandt commented on #1032
@hkaiser @parsa https://github.com/STEllAR-GROUP/phylanx/pull/1040

[2019-09-13 13:43] ct-clmsn commented on #987
something strange is going on at link time. when a full path is provided to the compiler of the hpx libraries this issue is resolved.

doing something like that will result in either a pcond_wait deadlock or the infinite loop when plugins are loaded by phylanx.

using a build command like that resolves both issues.

[2019-09-13 13:43] #987 closed

[2019-09-13 16:40] hkaiser commented on #987
@ct-clmsn Thanks for figuring this out. However I have to admit that I don't understand why this could cause any issues except that there are several (possibly stale) versions of HPX found on your system and the linker picks the wrong one when you do `-L$(HPX_DIR) -lhpx_init ...`.

[2019-09-14 01:11] ct-clmsn commented on #987
@hkaiser I agree, this is a really strange behavior. The following link from 2016 demonstrates the pcond_wait problem that I had experienced earlier in the summer: [link](http://mail.cct.lsu.edu/pipermail/hpx-users/2016-February/000672.html). The debugging process required looking at the cmake commands for the 1d_stencil_1 program in HPX and comparing them against a small test program.

[2019-10-13 01:44] #966 closed

[2019-10-13 01:45] hkaiser commented on #966
@taless474 Sorry, this took a while, but things should be fixed now. Thanks for your patience!

[2019-10-13 20:15] taless474 commented on #966
Thank you :)

[2019-10-14 12:46] hkaiser commented on #1032
This was fixed by #1040.

[2019-10-14 12:46] #1032 closed

[2019-10-17 19:30] taless474 commented on #942
Would anyone please take a look at this?
`fmap`, `fold_right` and `fold_left` do not work on Numpy function, either.
[code]
results in
[code]

[2019-10-17 19:39] taless474 opened #1052 "Add support assignment to a variable's dtype"
According to Keras documentation on [cast](https://keras.io/backend/#cast), it casts a tensor to a different dtype and returns it.
[code]
I think we should have this on Phylanx backend:
[code]
where `x` is either a placeholder or a variable.

[2019-10-18 15:48] #1036 closed

[2019-10-18 15:51] hkaiser opened #1054 "Add support for variable._keras_shape"

[2019-10-20 23:15] #1054 closed

[2019-10-20 23:16] #1052 closed

[2019-10-21 16:18] taless474 opened #1056 "RuntimeError: this client_base has no valid shared state: HPX(no_state)"
The following code
[code]
produces:
[code]
If we comment out `y_test = reshape(y_test,(4,1))` and `y_test = squeeze(y_test, 1)` it works properly:
[code]

[2019-10-21 22:32] hkaiser commented on #942
@taless474 I think we can't do anything for the second example you provided, but the first one can be fixed by writing:
[code]
(note the use of `sum_eager`) - not sure if this helps, though...

[2019-10-21 23:45] taless474 commented on #942
Thank you.
In the backend_test we need to call `K.sum` and I think we cannot use the eager form of it. Do we need to write a different `map`?

[2019-10-22 02:05] hkaiser commented on #942
Here is an idea. The issue is that we need to pass a python function to one of our `@Phylanx` decorated functions that does nothing more than representing a lazy evaluation of a `@Phylanx` decorated one. There is no way to detect that from plain python code.

We could however create a separate decorator for this:
[code]
which would do the same thing as before except that `sum` now represents a spe

[2019-10-22 09:14] hkaiser commented on #942
@taless474 I think we can do even better by enabling:
[code]
This would avoid the pointless code duplication.

[2019-10-22 10:04] hkaiser commented on #942
I think #1058 resolves this issue, please verify. Also, this simplifies defining lazy functions (a lot!). There is however no need to go back and change all existing lazy functions, only if you need to pass those to other decorated functions like in your `fn_map(sum, ...)` example above.

FWIW, the new functionality:
[code]
is functionally equivalent to what we've had before:
[code]
just now `sum`

[2019-10-22 15:54] taless474 commented on #942
[code]
results in:
[code]
expected result:
[code]

[2019-10-22 18:53] #1056 closed

[2019-10-23 19:14] scheherzade opened #1059 "Error in casting a variable into another type"
The following example, in which we try to cast a boolean variable into another type results in this error:

[code]

[code]

[2019-10-23 20:22] hkaiser commented on #1059
@scheherzade this is definitely fixable. For  now, please use:
[code]
instead.

[2019-10-24 18:23] #942 closed

[2019-10-30 16:07] khuck opened #1064 "build failure on all systems"
Building Phylanx on POWER9 with gcc 7.3 gives this error:

[code]

[2019-10-30 17:16] hkaiser commented on #1064
@khuck this is caused by recent build system changes in HPX that now forward `-Wall -Wextra` and a bund of other `-Wsomething` enabling a lot of warnings. I think https://github.com/STEllAR-GROUP/hpx/pull/4166 will resolve this.

[2019-10-31 16:06] khuck opened #1065 "Phylanx remote run test fails to build"
Two different tests fail to link with gcc 7:

see http://omega.nic.uoregon.edu:8020/#/builders/5/builds/24/steps/16/logs/stdio

[code]

[2019-11-04 00:12] khuck commented on #1064
I'm still getting build failures, different location:

[code]

[2019-11-04 17:46] khuck opened #1067 "Blaze Tensor changes have broken Phylanx build"
Phylanx fails to build, problems with blaze?

see http://omega.nic.uoregon.edu:8020/#/builders/5/builds/27/steps/15/logs/stdio

[code]

[2019-11-04 17:59] khuck commented on #1067
Caused by:
https://bitbucket.org/blaze-lib/blaze/commits/5191c499b68d40fa0b08f7a36b4ae5720a97b7b7

[2019-11-04 20:01] hkaiser commented on #1067
This should be fixed by https://github.com/STEllAR-GROUP/blaze_tensor/pull/54

[2019-11-04 20:04] hkaiser commented on #1064
@khuck, this is a recent change applied to HPX. It should go away if you used a recent HPX commit. Alos, there are some PRs for HPPX and Phylanx in the pipeline that should get everything back to compiling (see #1061, for instance).

[2019-11-04 20:39] taless474 opened #1068 "concatenate on a list of variables"
The following code:
[code]
is expected to output:
[code]
while it generates this error:
[code]

[2019-11-04 21:10] #1068 closed

[2019-11-06 19:50] stevenrbrandt opened #1069 "the binary_crossentropy test is failing"
Running the binary cross entropy test triggers an assertion failure.
[code]
Possibly, this is actually an HPX issue instead of a Phylanx issue.
[code]
Note that this is a debug build.

Stack trace:
[code]

[2019-11-06 19:54] stevenrbrandt commented on #1069
Actually, it seems this is being triggered by much simpler Phylanx code...
[code]

[2019-11-06 20:50] stevenrbrandt commented on #1069
Nevermind. Configuration issue.

[2019-11-06 20:50] #1069 closed

[2019-11-06 22:11] stevenrbrandt opened #1071 "The binary_crossentropy() test fails when Keras is installed"
Fixed by pull request https://github.com/STEllAR-GROUP/phylanx/pull/1070

[2019-11-08 15:12] stevenrbrandt opened #1072 "stdout and stderr cannot be captured by Jupyter"
stdout and stderr cannot be captured by Jupyter

We are unable to capture the output from print statements in Phylanx, even if we redirect and capture file descriptor 1.

[2019-11-14 18:31] #1067 closed

[2019-11-14 18:31] hkaiser commented on #1064
Is this still a problem?

[2019-11-14 18:32] hkaiser commented on #1059
@scheherzade I think this was fixed, could you check to confirm this, please?

[2019-11-14 18:34] khuck commented on #1064
It doesn't even get that far.  It fails now at cmake.  See http://omega.nic.uoregon.edu:8020/#/builders/5/builds/35

The cmake issue won't be a problem after the APEX refactoring is integrated.  I'm addressing the code review items now

[2019-11-14 20:03] scheherzade commented on #1059
@hkaiser Yes, it's fixed, thanks!

[2019-11-14 20:03] #1059 closed

[2019-11-14 22:10] stevenrbrandt opened #1077 "Asking for performance on two functions triggers assert"
The following code triggers an assertion failure:
[code]
Output is
[code]

[2019-11-14 22:16] hkaiser commented on #1077
@stevenrbrandt does this happen even if you use different names for the functions?

[2019-11-15 03:51] stevenrbrandt commented on #1077
@hkaiser yes, it does.

[2019-11-15 22:18] #1064 closed

[2019-11-15 22:20] khuck opened #1078 "Phylanx no longer builds with HPX+APEX enabled"
Because of the refactoring changes, something in the HPX installation needs to include the APEX build, so that Phylanx can build against it.  for example:

[code]

All of the failures are here: http://omega.nic.uoregon.edu:8020/#/builders/5/builds/41/steps/14/logs/stdio

[2019-11-16 15:39] hkaiser commented on #1078
@khuck what do we need to do in Phylanx to fix things?

[2019-11-16 18:02] khuck commented on #1078
@hkaiser I think it's an HPX fix.  libhpx_apex.so will have to be installed, along with the appropriate link/include flags for the dependencies.  We can talk about it in Denver this week...

[2019-12-10 21:50] stevenrbrandt opened #1079 "Bad rpath"
Step 1: Build and install Phylanx

Set LD_LIBRARY_PATH to point to the relevant places inside the install directory

Step 2: Run this code:
[code]
See the answer: 55

Step 3: rm -fr ~/phylanx/build

Step 4: run the Fibonacci code again

Step 5: See this:
[code]

[2019-12-12 17:14] khuck commented on #1078
Fixed in HPX

[2019-12-12 17:14] #1078 closed

[2019-12-12 17:19] khuck opened #1080 "Buildbot test failure: tests.unit.plugins.solvers.linear_solver"
tests.unit.plugins.solvers.linear_solver test is failing with this error:

[code]

[2019-12-19 21:58] khuck opened #1083 "Error compiling Phylanx with Clang"
Building phylanx on OSX with macports installed Clang 9.0 gives this build error:

[code]

[2019-12-19 22:19] hkaiser commented on #1083
This looks like a missing header file (`<string>` or `<memory>`).

[2019-12-20 00:35] khuck commented on #1083
@hkaiser I don't think so - `phylanx/execution_tree/compiler/actors.hpp` has both `<string>` and `<memory>` already...

[2019-12-20 12:31] hkaiser commented on #1080
This was fixed by merging #1084

[2019-12-20 12:31] #1080 closed

[2019-12-27 21:06] khuck opened #1085 "Phylanx Release build fails to link"
When building Phylanx with gcc 7.3 (Release build), pybind11 is adding additional flags that break linking.  This is the error:  (see http://omega.nic.uoregon.edu:8020/#/builders/2/builds/57 for example)

[code]

A workaround is to use the `NO_EXTRAS` setting for the `pybind11_add_module()` call in the `python/src/CMakeLists.txt` file.  Not sure if this is a "fix" though.

[2019-12-27 22:04] hkaiser commented on #1085
Note: this is a Apple only problem.

[2019-12-27 22:05] khuck commented on #1085
No!  This one is linux related.

[2019-12-28 00:08] hkaiser commented on #1085
Sorry, my fault. I misread the `if(APPLE)` condition. Wouldn't it be sufficient to mark the module as `SHARED` then (same as for `APPLE`... I don't remember why this is different anyways...)?

[2019-12-29 23:55] #1085 closed

[2020-01-13 16:15] stevenrbrandt opened #1088 "Phylanx Test failures"
Failure to build tests in Phylanx:
[code]
Fedora 26, gcc 7.3.1

[2020-01-13 16:45] khuck commented on #1088
Buildbot has had errors building against the latest blaze for over a week now.  They are doing some radical refactoring again.

Should we continue to build against the head of master?  Or should we decide on a stable version for now?

Thanks -
Kevin

--
Kevin Huck, PhD
Research Associate / Computer Scientist
OACISS - Oregon Advanced Computing Institute for Science and Society
University of Oregon

[2020-01-14 16:01] stevenrbrandt commented on #1088
@hkaiser the issue is that Blaze references functions like cblas_zdotc_sub which are not defined.

[2020-01-14 16:19] khuck commented on #1088
Those functions are defined in the associated BLAS library (see lapack 3.7.1, below), so I wonder if this is a bug that should be reported to the Blaze team.  Are they just missing an `#include`?

[code]

[2020-01-14 16:27] khuck commented on #1088
@stevenrbrandt @hkaiser Aha, here's a change:

[code]

So, what sets `BLAZE_BLAS_MODE`?

[2020-01-14 16:31] khuck commented on #1088
@stevenrbrandt `BLAZE_BLAS_MODE` was added as a Blaze CMake option on January 7.  We just have to pass `BLAZE_BLAS_MODE=1` when we configure/install Blaze, apparently.

[2020-01-14 16:42] stevenrbrandt commented on #1088
Installing openblas-devel and adding openblas `#include "openblas/cblas.h"` to the blaze BLAS.h header gets me a little further (I can probably use @khuck 's BLAS_MODE thing above). Here's what I get after fixing that.... any ideas @hkaiser ?
[code]

[2020-01-14 16:43] khuck commented on #1088
@stevenrbrandt @hkaiser someone knowledgable should probably look at https://bitbucket.org/blaze-lib/blaze/wiki/Configuration%20Files and decide which of these options should be enabled for phylanx...

[2020-01-14 17:07] scheherzade commented on #1088
@stevenrbrandt  @khuck An issue has been created on Blaze regarding this ticket.
[cblas_cdotc_sub not declared in this scope](https://bitbucket.org/blaze-lib/blaze/issues/314/cblas_cdotc_sub-not-declared-in-this-scope)

[2020-01-19 20:42] hkaiser commented on #1088
@khuck This was resolved in Blaze. Does this error still show up?

[2020-01-19 22:03] khuck commented on #1088
This error doesn't, but lots of other blaze build errors happen.

[2020-01-19 22:12] khuck commented on #1088
@hkaiser for example:

[code]

[2020-01-19 22:43] hkaiser commented on #1088
@khuck that should be fixed with #1089. At least I can't reproduce the error when compiling on this branch.

[2020-01-19 22:49] khuck commented on #1088
Oh, I'll try with that branch

[2020-01-19 23:13] khuck commented on #1088
@hkaiser What am I missing?  I built with the fixing_pack branch of both HPX and Phylanx, and I am getting tons of build errors...

[2020-01-19 23:17] hkaiser commented on #1088
@khuck could you please post the logs somewhere? Or is it on your buildbot?

[2020-01-19 23:19] hkaiser commented on #1088
@khuck is `VT1` defined as a macro somewhere in the Linux headers?

[2020-01-19 23:22] khuck commented on #1088
@hkaiser It didn't build last night for some reason, so I just launched a build.  Watch this space:
http://omega.nic.uoregon.edu:8020/#/builders/5/builds/74

[2020-01-19 23:28] khuck commented on #1088
Here's the build failure with the fixing_pack branches:
http://www.nic.uoregon.edu/~khuck/buildlog.txt

[2020-01-20 00:10] hkaiser commented on #1088
@khuck could you please manually execute that first compiler command line with an `-E` added and post the generated output file (the one specified with `-o`). This should be the preprocessor output.

[2020-01-20 00:42] khuck commented on #1088
@hkaiser http://www.nic.uoregon.edu/~khuck/is_function_call.cpp.o

[2020-01-20 01:11] hkaiser commented on #1088
@khuck yep, as expected. Somewhere `VT1` is defined as a macro which causes this code to be generated by the preprocessor:
[code]
That obviously fails... We need to talk to Klaus so can change the name of the template parameter.

[2020-01-20 15:29] hkaiser opened #1090 "CircleCI broken"
It looks like that recent changes to the HighFive library have broken our build system (see: https://circleci.com/gh/STEllAR-GROUP/phylanx/33357, for instance).

[2020-01-20 15:29] hkaiser commented on #1090
@parsa Would you have time to have a look by any chance?

[2020-01-20 16:09] khuck commented on #1088
@hkaiser good catch.  To be specific, this is on our POWER9 system, and those are defined in:

[code]

[2020-01-20 16:41] hkaiser commented on #1088
I have created a ticket on the Blaze repository (https://bitbucket.org/blaze-lib/blaze/issues/315/name-conflict-with-preprocessor-macro). Let's see what Klaus has to say.

[2020-01-20 16:44] khuck commented on #1088
Thanks! Boost is pulling in termio.h and I don’t see how we can avoid that...

[2020-01-21 00:26] hkaiser commented on #1088
@khuck could you please try adding a `#undef VT1` here: https://bitbucket.org/blaze-lib/blaze/src/620923485f3211cc30f63782017a8603c53f1ceb/blaze/config/Config.h#lines-52? That should do the trick.

[2020-01-21 00:29] hkaiser commented on #1088
@khuck also please add a `#include <blaze/config/Config.h>`  here: https://bitbucket.org/blaze-lib/blaze/src/620923485f3211cc30f63782017a8603c53f1ceb/blaze/Math.h#lines-42.

[2020-01-21 01:28] khuck commented on #1088
(still building with fixing_pack branches)

 That doesn't work, it gave the same result.  However, I recursively changed the template names of VT1 and VT2 to VBT1 and VBT2 respectively using sed.

Then, I found that blaze_tensor ALSO uses VT1 and VT2 in the following files:
[code]

By using the sed fix, I got past that error, but I have two new errors:
[code]

and
[code]

[2020-01-21 03:25] hkaiser commented on #1088
@khuck, thanks a lot! This new error looks like a missing header file #include. I'll try to find out what's wrong.

Also, I talked to Klaus, he apparently doesn't want to fix this issue :-(

One thing I could think of now is to find the spot in HPX right after the asio headers are included and `#undef VT1` there. Alternatively, we could do the sed trick on Power9 as part of our test system. The la

[2020-01-21 14:53] stevenrbrandt commented on #1088
Using the "fixing_pack" branch of HPX, I see this:
[code]

[2020-01-21 15:12] stevenrbrandt commented on #1088
@hkaiser is my error possibly related to a too-old boost? What is the minimum supported version? I am using 63.

[2020-01-21 16:19] khuck commented on #1088
@stevenrbrandt are you using the fixing_pack branch of both HPX and Phylanx?

@hkaiser any idea which #include is missing for the swap() declarations?  I'll hop on IRC if that's more efficient.

[2020-01-21 16:37] hkaiser commented on #1088
@stevenrbrandt please try again, I have just merged the HPX PR that is needed as a precondition for using the Phylanx fixing_pack branch. Boost V1.63 should be fine but it's not supported anymore.

[2020-01-21 17:12] stevenrbrandt commented on #1088
I'm at the hospital right now. I'll do it when I get back.

On Tue, Jan 21, 2020, 10:37 Hartmut Kaiser <notifications@github.com> wrote:

[2020-01-21 20:14] stevenrbrandt commented on #1088
With that change I get...
[code]

[2020-01-22 18:12] hkaiser commented on #1088
@stevenrbrandt, @khuck things should be fixed on master now, please verify

[2020-01-22 18:19] khuck commented on #1088
@hkaiser master of both Phylanx and HPX?

[2020-01-22 18:27] hkaiser commented on #1088
@khuck both is probably a good start ;-)

[2020-01-22 18:35] khuck commented on #1088
@hkaiser I got this error now:

[code]

[2020-01-22 19:15] hkaiser commented on #1088
@khuck please try again, I have merged the pack-related fixes just now (those were actually necessary to make it compile, sorry).

[2020-01-22 19:48] khuck commented on #1088
@hkaiser It built, running "ctest -R tests.unit" now...

[2020-01-22 21:31] #1090 closed

[2020-01-22 21:48] khuck commented on #1088
x86_64 build results:

[code]

[2020-01-22 22:03] hkaiser commented on #1088
\o/

[2020-01-23 22:27] khuck commented on #1088
I believe we can close this issue now?

[2020-01-23 23:20] hkaiser commented on #1088
Indeed! Finally.

[2020-01-23 23:20] #1088 closed

[2020-02-03 20:36] stevenrbrandt opened #1096 "No counter data for multiple processes"
Using
[code]
and
[code]
One discovers that there is no output if the number of processes is more than one. Thus
[code]
while
[code]
My system is built using
[code]
on Fedora 26 using gcc 7.3.1.

[2020-02-04 14:48] khuck opened #1097 "Phylanx Release build tests fail"
See: http://omega.nic.uoregon.edu:8020/#/builders/2/builds/80/steps/16/logs/stdio

There are a number of tests that fail with the exception:

[code]

The tests that fail:
[code]

These failures only happen with Release builds of the stack.

[2020-02-04 15:48] hkaiser commented on #1097
@khuck do those failures happen in `RelWithDebInfo` builds as well?

[2020-02-04 16:58] khuck commented on #1097
Yes, sorry - I edited the issue to be RelWithDebInfo

[2020-02-04 18:57] stevenrbrandt opened #1098 "Phylanx iteration doesn't work"
The code
[code]
Produces the output
[code]
Which is fine, but running this code through the physl interpreter results in this:
[code]

[2020-02-04 19:28] khuck commented on #1098
I am confused.  The original Phylanx code has a bug, are you saying if the original Phylanx code is changed and then re-executed it crashes, or just changing the generated PhySL makes it crash?  The original code *should* be:
@Phylanx(debug=True)
def foo():
    f = [1, 2, 3]
    for k in f:
        print(k)
Right?  Otherwise, it will just print the full array 3 times.

Thanks -
Kevin
--
Kevin Huck

[2020-02-05 17:48] stevenrbrandt commented on #1098
@khuck your comment was valid before I edited the problem description. :)

[2020-02-05 18:22] #1096 closed

[2020-02-05 20:44] hkaiser opened #1102 "Unify primitive names"
Primitive names for non-distributed runs currently are different from the names generated for distributed executions. This is to remind us to unify those.

[2020-02-05 20:48] #1098 closed

[2020-02-10 19:44] stevenrbrandt opened #1104 "No arg lambda's don't work"
[code]
creates
[code]

[2020-02-10 19:45] stevenrbrandt commented on #1104
Note that if I add an arg, it works...
[code]

[2020-02-10 22:54] stevenrbrandt commented on #1104
Note there is a second error present in the above execution related to finding the __phsylcache__. The workaround for this is to call the python function by absolute path. The primary error above still happens.
[code]

[2020-02-10 23:02] hkaiser commented on #1104
The first error is most probably caused by the exception being thrown and should go away once the second error is fixed.

The second error is caused by a bad PhySL code gen that causes a ',' to be generated even if it should generate one. @rtohid any idea what's causing this?

[2020-02-11 17:53] stevenrbrandt opened #1106 "String parsing in phylanx is broken"
This code, which only sets a string, fails

[code]
Results in the following error
[code]

[2020-02-11 18:21] stevenrbrandt commented on #1106
Note that this works if one uses single quotes rather than double quotes inside the string.

[2020-02-11 19:10] hkaiser commented on #1106
Sure, makes sense. We need to check in physl.py when generating the code if a string holds `\"` or `\'` characters and adapt accordingly. @rtohid any ideas?

[2020-02-11 21:31] rtohid commented on #1106
@hkaiser, Python AST automatically removes the escape chars and replace them with `'` or `"`- whichever applicable, for example the `ast.Str` node in the following code:

[code]

looks like (notice that the outer quotation is now sinlgle):
`value=Str(lineno=2, col_offset=8, s='defined(hello, cout("hello"))')`

@stevenrbrandt. you may want to check the outer quotation and if it is `'`, swap all sin

[2020-02-12 17:49] hkaiser commented on #1106
Should be easy enough to fix there. Any takers?

[2020-02-12 20:32] taless474 opened #1107 "Distributed tests always exit with code 0"
In the following code:
[code]
we are multiplying two mtrices using 4 localities which is equivalent to the numpy code of:
[code]
and the result matrix should be:
[code]
In the above example, the part of result in locality 0 and locality 1 is incorrect.
The MSVC produces two failed comparison messages but exits with code 0.
The clang compiler also shows this test as `passed`.

This problem has noth

[2020-02-12 23:40] stevenrbrandt commented on #1106
@hkaiser @rtohid https://github.com/STEllAR-GROUP/phylanx/pull/1108

[2020-02-12 23:44] stevenrbrandt opened #1109 "Can't use function in argument to "for in""
This code fails with a KeyError.
[code]
However, simply moving the arr() function out of the loop causes it to work
[code]

[2020-02-13 03:20] hkaiser commented on #1107
Changing https://github.com/STEllAR-GROUP/phylanx/blob/master/tests/unit/plugins/dist_matrixops/dist_cannon_product.cpp#L144 to
[code]
will fix this issue (it will report the errors).

[2020-02-13 03:22] hkaiser commented on #1109
@rtohid yet another problem that could use your expertise. Would you be able to have a look?

[2020-02-13 15:32] taless474 commented on #1107
Thank you.

[2020-02-13 15:32] #1107 closed

[2020-02-13 16:39] rtohid commented on #1109
Currently, functions as iteration spaces are not supported, except for `range` and `prange`:
https://github.com/STEllAR-GROUP/phylanx/blob/ee2487275ad5b653ad0e5fae1e882a0f4404c6a5/python/phylanx/ast/physl.py#L1054

I'm working on a cleaner way to generate and analyze code,
https://github.com/rtohid/phyflow/blob/refactor/flow/ir/base.py.

[2020-02-14 19:38] justwagle opened #1111 "Phylanx compilation error with the lastest blaze"
Phylanx fails to compile with the latest (02/14/2020) blaze.
The compilation log is found here: https://gist.github.com/justwagle/f5de5bf24690dec5695abac9429695d4
The following change in blaze may be related : https://bitbucket.org/blaze-lib/blaze/commits/e5334e3d8b643512a4b819d26ae1c7f38de20b75

[2020-02-15 17:01] hkaiser commented on #1111
There have been made even more profound changes to blaze recently. I'm in contact with the blaze author to resolve those. Please try to use an older Blaze commit for now until the issues have been resolved.

[2020-02-15 23:18] hkaiser commented on #1111
This should be fixed once https://github.com/STEllAR-GROUP/blaze_tensor/pull/58 is merged.

[2020-02-20 17:51] #1102 closed

[2020-02-22 18:59] hkaiser opened #1114 "Immediate lambda invocation fails"
The following code fails to compile by throwing an exception:
[code]
The exception thrown is:
[code]

[2020-02-22 18:59] hkaiser commented on #1114
@rtohid Would you be able to have a look?

[2020-02-22 19:00] hkaiser commented on #1114
To reproduce the issue #1104 must have been merged.

[2020-02-24 18:29] stevenrbrandt opened #1118 "Need a way to run remote calculations"
We need a way to run remote calculations. The problem here is several fold.

First, PhylanxSession.init() probably needs to be modified so that it has a way to start HPX on multiple localities. Second, something probably needs to be added to the @Phylanx decorator to specify localities where the function is to be available. Third, there should be some mechanisms for specifying where a calculation

[2020-02-24 18:49] #1104 closed

[2020-02-24 19:58] stevenrbrandt opened #1119 "Can't run phylanx with hpxrun.py"
[code]
where
[code]
Produces the error
[code]

[2020-02-24 20:49] hkaiser commented on #1119
This is most likely caused by the fact that we disable the TCP parcelport for the general case (see: https://github.com/STEllAR-GROUP/phylanx/blob/master/python/phylanx/core/config.py#L22-L23). The rationale for this was to enable to run tests concurrently.

[2020-02-24 20:52] hkaiser commented on #1118
What should this facility return? A list of return values from the different localities?

[2020-02-26 15:59] stevenrbrandt commented on #1119
Rewriting the code as follows:
[code]
And running
[code]
does work. However, things go wrong if you try to run more than one thread per locality.
[code]
Yields
[code]

[2020-02-26 16:01] stevenrbrandt commented on #1118
@hkaiser I was imagining that remote_run() would return a value from the locality which was supplied in the first argument.

[2020-02-26 17:19] hkaiser commented on #1118
Hmmm, that would leave the consolidation of results to happen on the PhySL side of things. I'm not sure this is right :/

[2020-02-26 17:26] hkaiser commented on #1119
Thanks Steve. The error you list is unrelated to Phylanx and will require some investigation on the HPX side to be resolved.

[2020-02-26 18:00] stevenrbrandt commented on #1118
@hkaiser it doesn't have to be the only way of doing things, but I think it should be an option.

[2020-02-26 18:21] stevenrbrandt commented on #1118
@hkaiser an alternative is to enforce a distributed array way of doing things.
[code]
The problem is, we'd need a bunch of primitives to even get "hello world" distributed. If we have the `remote_run()` I described above, we could immediately do something distributed--even if it's not ideal in the long term.

[2020-02-26 23:27] khuck opened #1120 "Phylanx random crash in distributed test"
The `tests.unit.plugins.dist_matrixops.distributed.tcp.dist_cannon_product_9_loc` test "randomly" crashes.  To reproduce, run the test in a script like this (it will eventually crash):

[code]

The full error is:

[code]

[2020-02-27 23:24] rtohid opened #1121 "Phylanx build fails."
Phylanx build fails after  hanging for a very long time (tens of minutes).
Here is the environmnet: https://github.com/rtohid/docker-build/tree/master/phylanx

and the error:
[code]

[2020-03-02 16:35] rtohid commented on #1121
I cannot reproduce this issue anymore. It must've been some issue with Docker caching.

[2020-03-02 16:35] #1121 closed

[2020-03-02 20:10] taless474 opened #1122 "Phylanx build fails"
Phylanx build fails on CircleCI and it seems to complain about HighFive.
This is the error:
[code]

[2020-03-03 19:03] taless474 opened #1125 "`full` does not derive its dtype from its given value"
`full`, `ones` and `zeros` are created by Phylanx `constant` primitive. While NumPy [ones](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ones.html) and [zeros](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html) have a default type of `double`, [full](https://docs.scipy.org/doc/numpy/reference/generated/numpy.full.html) always derived its dtype from the given value.

[2020-03-04 01:47] #1122 closed

[2020-03-04 18:49] hkaiser commented on #1119
For now, please add `"hpx.lock_detection!=0"` to the list of config settings to disable the check that causes the exception to be thrown.

[2020-03-04 20:12] stevenrbrandt commented on #1119
@hkaiser this setting has no effect. :(

[2020-03-07 17:50] hkaiser commented on #1119
@stevenrbrandt Thanks for trying again! This turned out to be a problem in HPX that prevented for this option to take effect. Please try again using https://github.com/STEllAR-GROUP/hpx/issues/4424 with `hpx.lock_detection=0`.

[2020-03-09 15:35] taless474 opened #1129 "Annotation comparison does not compare the names"
The following test
[code]
passes on one locality. Also in [constant_6_loc tests](https://github.com/STEllAR-GROUP/phylanx/blob/master/tests/unit/plugins/dist_matrixops/dist_constant_6_loc.cpp#L48) the name should be `constant_matrix_...` instead of `constant_vector_...`, but those tests also pass.

[2020-03-09 15:40] hkaiser commented on #1119
@stevenrbrandt STEllAR-GROUP/hpx#4424 has been merged. `hpx.lock_detection=0` should take effect for you now.

[2020-03-09 19:03] taless474 opened #1130 "Phylanx build fails"
Phylanx build fails on CircleCI and it seems to complain about HighFive.
This is the error:
[code]

[2020-03-14 14:39] hkaiser commented on #1130
Has this been resolved now?

[2020-03-14 20:40] stevenrbrandt commented on #1119
As of this commit
[code]
it's still not working.

[2020-03-14 21:55] taless474 commented on #1130
Yes, this is resolved, thanks.

[2020-03-14 21:55] #1130 closed

[2020-03-14 21:57] taless474 commented on #1125
Thanks for fixing this is #1128

[2020-03-14 21:57] #1125 closed

[2020-03-16 00:02] folshost opened #1134 "Result matrix sizes in dot_d"
The dot_d::2d2d result matrix is the wrong size. I did some premature optimization, and there's an edge case which is currently not accounted for. That is when the tiles of the LHS do not form tile rows with consistent row boundaries, i.e., one tile may have from row [25, 50), while another tile may have from row [24, 49). In fact, as it stands, the case when the local tile of the LHS does not pos

[2020-03-16 00:14] folshost commented on #1134
Either this needs to be changed to be unsupported, or we should document it as a requirement that all tile rows for the LHS must have homogeneous boundaries, and that the tile columns for the RHS must also have homogeneous boundaries.

[2020-03-16 00:54] hkaiser commented on #1134
@folshost We should at least diagnose this case and throw and exception if detected.

[2020-03-17 01:45] NanmiaoWu opened #1137 "Unexpected result in the test of dist_constant_4_loc"
The results of each test have some problems. For example, in test_constant_4loc_1d_0(),

There are 2 problems:

1. the first locality should have an array like [42, 42, 42, 42], and the later 3 localities have the arrat [42, 42, 42]. But the printed output is : the first locality has an array [42, 42, 42]; the second locality has an array [42, 42, 42, 42]; the later two localities have arrays[42,

[2020-03-17 03:10] NanmiaoWu commented on #1137
After Bita's suggestion about updating Phylanx, some of the errors solved like, list("columns", 140135490575152, 140135490575156))). But some of the errors, like tiling issues and wrong rows and columns, still exist.

For example, in 4loc_1d_0:
- The correct tiling should be [42, 42, 42, 42], [42, 42, 42], [42, 42, 42], [42, 42, 42]. But the output is :[42, 42, 42], [42, 42, 42], [42, 42, 42, 42],

[2020-03-17 12:35] hkaiser commented on #1137
This looks like something is going out of scope too early.

[2020-03-17 18:41] taless474 commented on #1137
@NanmiaoWu, thank you for investigating the issues in tests. Unfortunately, I haven't understood the problem, yet.
If we look at 4loc_1d_0, in my opinion, the results make sense. In the first line of your picture, the result for the third locality is printed:
[code]
I think we cannot control which locality would give us the results first, but considering the locality ids, the result is as expected

[2020-03-17 19:55] NanmiaoWu commented on #1137
OK. I thought the localities are given from idx_0 and then idx_1... Then, the "tiling issue" is not a problem, since they are given randomly.

[2020-03-17 20:13] taless474 commented on #1137
@NanmiaoWu, Thanks for your explanations.
I realized that the second problem still persists. Let's go over test_constant_4loc_2d_0:
In the generated annotations for 2d arrays, the "rows" and "columns" tags should be swapped.
The resulted arrays are correct, but the generated annotations are not :D
I think the tests should not pass.
I made this example on one locality and it still passes:
[code]
@h

[2020-03-18 19:07] stevenrbrandt opened #1138 "Error from unrelated compilation module"
The following code fails to run.

[code]
Produces the output below. Note, the string "Sources compiled" prints, but f4 fails to execute because of a missing function in f3 (which is not executed).
[code]

[2020-03-20 21:15] taless474 opened #1139 "Incorrect results of extract_numeric_value_dimensions for `random` matrices"
I ran the following code on two localities:
(I use `unify_indices` branch, however, I got the same result on the master before)
[code]
test__0 passes while test__1 fails throwing this exception:
[code]
which is located in `localities_annotation.cpp`. Tracking the issue, I think `extract_numeric_value_dimensions(arg, name, codename)` does not produce the expected output when is called by `random_d`

[2020-03-23 00:47] taless474 commented on #1129
Fixed by #1133.

[2020-03-23 00:47] #1129 closed

[2020-03-30 21:41] NanmiaoWu commented on #1137
Problem solved. Thanks!

[2020-03-30 21:41] #1137 closed

[2020-03-31 12:54] #1139 closed

[2020-04-09 18:50] taless474 opened #1145 "Add support for distributed ALS"
To have a distributed version of ALS, we can use the distributed version of the following primitives:
- [x] dot
- [x] transpose
- [x] constant
- [x] random
- [ ] identity
- [ ] inverse
- [ ] diag

[2020-04-22 21:15] NanmiaoWu opened #1150 "ostream does not work properly having more than one locality"

[2020-04-22 21:17] NanmiaoWu commented on #1150
![error_1](https://user-images.githubusercontent.com/29106484/80034955-cefeb480-84b4-11ea-8bc0-62c8d374e037.png)

[2020-04-22 21:34] taless474 commented on #1150
This happens sometimes on docker, too. The ostream of MSVC works properly.

[2020-04-23 04:03] NanmiaoWu commented on #1150
@taless474  created a test, which is shown as follows:

#include <phylanx/phylanx.hpp>

#include <hpx/hpx_init.hpp>
#include <hpx/include/lcos.hpp>
#include <hpx/testing.hpp>

#include <string>
#include <utility>
#include <vector>

///////////////////////////////////////////////////////////////////////////////
phylanx::execution_tree::primitive_argument_type compile_and_run(
    std::string const&

[2020-04-26 20:33] hkaiser commented on #1150
@NanmiaoWu, @taless474: please see https://github.com/STEllAR-GROUP/hpx/pull/4561 for a possible solution to this problem.

[2020-04-29 01:38] taless474 opened #1155 "Results of the distributed arithmetic primitives"
The following test uses one of the numeric primitives, `maximum`, and is run on 2 localities. We want to get the maximum of two arrays, `[13., 42., 33.]` and `[101., 12., 65.]` . They are compared element by element, so the expected result is `[101., 42., 65.]`.
In the last example the first array is compared to `35.` and we expect to get `[35., 42., 35.]` by broadcasting.
[code]
- test_maximum_1d

[2020-04-30 00:59] taless474 opened #1157 "`astype` does not work with `define`"
Although `astype([1, 0, 1], "bool")` works properly, the following code (in physl) fails in an assertion:
[code]
[code]

[2020-04-30 01:04] taless474 commented on #1157
Related to types, statistics primitives produce different dtypes for different result dimensions. E.g. in `all` operation tests, we can have:
[code]
the first test passes while the second one fails:
[code]

[2020-04-30 15:48] hkaiser commented on #1150
@NanmiaoWu STEllAR-GROUP/hpx#4561 has been merged now. You can now rewrite the tests in question to use `hpx::cout` as the first argument to all `HPX_TEST_xxx` macros to solve the issue described here.

[2020-04-30 18:28] taless474 opened #1160 "Tiles with wrong dimensions can be passed to annotate_d"
Having the following code in Physl (1 locality):
[code]
would result in:
[code]
There are two problems with the given tile:
- It represent a vector, not a matrix
- size of the vector is 4 and has nothing to do with the columns of the matrix

[2020-04-30 18:44] taless474 commented on #1160
Here is an annotate_d example (on 2 localities) that should make an assertion failure:
[code]

[2020-05-02 01:26] #1150 closed

[2020-05-03 19:50] taless474 opened #1162 "Add support for distributed kmeans"
To have a distributed version of kmeans algorithm, we can use the distributed version of the following primitives,
- [ ] expand_dims
- [ ] slice (slice_column, slice_row)
- [ ] argmin
- [ ] sqrt, square (generic operations)
- [ ] sum (statistics)
- [ ] shape

according to:
[code]

[2020-05-07 22:58] taless474 commented on #1160
Another check for `anotate_d` is that the union of all tiles should have indices that:
- start from zero,
- are consecutive (no element is missed in between).

`test_0` and `test_1`  (on 2 localities) pass although they shouldn't.

`test_0` shows the `expand_dims` operation on `array_0`. `array_0` is only defined in the range of (4,12) (range does not start from zero)
[code]
`array_1` in `test_1`

[2020-05-11 19:50] stevenrbrandt opened #1170 "Error messages for bad PhySL code not shown"
Errors in generated physl code do not produce error messages.

To see this, use the `raw_physl` branch to generate bad PhySL code inside Python. In this way you can easily create a function with a missing closing parenthesis.
[code]
The above will print "Did not work" while the code below will print "Worked!"
[code]

[2020-05-12 13:13] #1157 closed

[2020-05-12 21:13] #1155 closed

[2020-05-12 22:51] hkaiser commented on #1138
Why shouldn't this not be an error? We currently compile all @Phylanx decorated functions once the first is invoked. Do you think we should delay the compilation until a function is actually invoked?

[2020-05-12 22:52] #1111 closed

[2020-05-13 13:46] khuck opened #1171 "Build errors from Blaze (again)"
Buildbot build failure:
[code]
see also http://omega.nic.uoregon.edu:8020/#/builders/5/builds/164/steps/16/logs/stdio

[2020-05-13 14:25] hkaiser commented on #1171
@khuck: that should be fixed on master now. Thanks!

[2020-05-13 15:23] khuck commented on #1171
correct, this works with latest master of Phylanx and blaze.  Thanks!

[2020-05-13 15:23] #1171 closed

[2020-05-14 17:55] #1170 closed

[2020-05-15 20:49] khuck opened #1172 "MPI executions fail"
On the buildbot server, the distributed tcp runs work fine but the MPI runs don't.  See
http://omega.nic.uoregon.edu:8020/#/builders/5/builds/166/steps/16/logs/stdio
for details.

This is openmpi 3.1.1 and gcc 7.3 on linux x86_64.

Here's the verbose output from one of the failed tests:

[code]

[2020-05-18 03:09] taless474 opened #1173 "How to use define having multiple localities?"
The following test:
[code]
results in:
[code]
Sometime we need a distributed lvalue. How can we define it?

[2020-05-18 12:37] hkaiser commented on #1173
The `define(a, ...)` should actually be compiled and executed in order for the `shape_d(a)` to be available. This can be either done in the same script or in two separate PhySL scripts that share the compilation environment.

[2020-05-18 15:57] taless474 commented on #1173
Oh, oh, my bad. Thanks.

[2020-05-18 15:57] #1173 closed

[2020-05-19 23:01] NanmiaoWu opened #1174 "Cannot run test of als_csv_instrumented"
I tried to test als algorithm ( the link is: https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/als/als_csv_instrumented.cpp)
[code]

After I give the arguments, an error occurs. The error message is shown as:
[code]

[2020-05-27 03:10] stevenrbrandt opened #1180 "Strange behavior from Physl code"
If b0 is printed out before it's passed to the function, it's what you would expect from its definition. Inside the function, however, it's an empty list.

[code]
The output is
[code]

[2020-05-27 11:44] #1160 closed

[2020-05-27 15:53] stevenrbrandt commented on #1180
Note that if you leave out the define
[code]
the print statement correctly prints out the list.

[2020-05-28 13:51] hkaiser commented on #1180
@stevenrbrandt this is even stranger... I'll look into it.

[2020-05-28 15:26] stevenrbrandt opened #1182 "Test tests.unit.plugins.dist_matrixops.distributed.mpi.dist_constant_3_loc randomly fails"
The named test usually passes, sometimes times out, but sometimes fails. Sometimes the result is a simple failure, other times it's this...
[code]

[2020-05-30 19:13] hkaiser commented on #1180
@stevenrbrandt the problem was that the PhySL compiler didn't properly diagnose if a PhySL function/variable was defined using a name that was already used before. Everything works fine if you change the name `lra` above for something else.

Also, please see #1185 for a fix that diagnoses this kind of problem.

[2020-06-01 20:28] stevenrbrandt commented on #1180
@hkaiser I see, I was unaware that lra was now a plugin.

[2020-06-01 22:17] stevenrbrandt opened #1186 "physl sometimes does not write newick tree or graph"
The command
[code]
applied to the physl code generated by this python code
[code]
and using the breast cancer data https://raw.githubusercontent.com/STEllAR-GROUP/phylanx/master/examples/algorithms/datasets/breast_cancer.csv

will sometimes generate the files py-tree.txt py-graph.txt and sometimes not.

[2020-06-01 22:18] stevenrbrandt commented on #1186
Note there are no errors, nothing aborts, and result.py is written.

[2020-06-01 22:40] stevenrbrandt commented on #1186
It seems that there was, in fact a segfault
[code]

[2020-06-01 22:40] stevenrbrandt commented on #1186
I'm wondering if this is the bug Kevin recently fixed?

[2020-06-01 23:27] stevenrbrandt commented on #1186
[code]

[2020-06-01 23:29] stevenrbrandt commented on #1186
[code]

[2020-06-02 00:44] khuck commented on #1186
I have seen something transient lately...only with mpi / distributed runs. I'll see what I can find

[2020-06-02 15:50] khuck opened #1187 "Fixing last failed test for Release build"
The release build has one last failing test:
http://omega.nic.uoregon.edu:8020/#/builders/2/builds/167/steps/16/logs/stdio

I tracked this down to temporaries `output.tensor()` and `target.tensor()` going out of scope in `cat_cross_operation::cat_cross3d()`: https://github.com/STEllAR-GROUP/phylanx/blob/64540c34dcec64530cc5c9239fb36144b1302bee/src/plugins/keras_support/categorical_crossentropy_ope

[2020-06-02 17:23] hkaiser commented on #1187
Which test is failing, concretely? Could you elaborate, please?

[2020-06-02 17:28] khuck commented on #1187
I am trying to hunt that down, which isn't easy because this program requires a mix of gdb and pdb since it's a python script test case.

[2020-06-02 17:30] khuck commented on #1187
it is the tests.unit.python.execution_tree.categorical_crossentropy test, if that's what you mean

[2020-06-02 18:44] khuck commented on #1187
@hkaiser Specifically, the temporaries that appear to go out of scope are those bound by the lambda and sum3d() calls here: https://github.com/STEllAR-GROUP/phylanx/blob/64540c34dcec64530cc5c9239fb36144b1302bee/src/plugins/keras_support/categorical_crossentropy_operation.cpp#L284-L290

So while I've fixed the crash, the assertion fails on line 125 of `tests/unit/python/execution_tree/categorical_c

[2020-06-07 17:48] #1180 closed

[2020-06-11 16:33] stevenrbrandt commented on #1180
@hkaiser since renaming my function from lra to lra_demo, all has been well.

[2020-06-22 21:36] stevenrbrandt opened #1196 "mpi parcelport always gives an error"
For the PhySL code stored in `x.p`
[code]
we run
[code]
we obtain
[code]
Note: I am using Open MPI 2.0.2

[2020-06-23 20:43] stevenrbrandt opened #1198 "inaccessible variable"
The python code
[code]
generates the PhySL code
[code]
and fails with the error message
[code]
which is clearly incorrect as t is bound to 3.

[2020-06-23 21:01] hkaiser commented on #1198
@stevenrbrandt Uhh, that's really strange, I'll have a look.

[2020-06-23 23:56] khuck opened #1200 "lra_csv fails in nightly regression tests"
Running the lra_csv example results in the following error:

[code]

[2020-06-24 00:13] khuck commented on #1200
Update: a similar error is happening with kmeans:

[code]

[2020-06-24 17:02] hkaiser commented on #1196
@stevenrbrandt unfortunately, I'm not able to reproduce your issue. Everything seems to be working fine for me.

[2020-06-24 19:24] #1198 closed

[2020-06-25 16:49] khuck commented on #1200
New error:

[code]

[2020-06-25 20:26] stevenrbrandt commented on #1200
@khuck just rename the variable to not be "gradient" and all will be well.

[2020-06-26 16:20] khuck commented on #1182
@hkaiser @stevenrbrandt I don't know if this is related, but I was able to reproduce the random MPI/TCP errors in the phylanx tests.  HPX is throwing a failed assertion error when the runtime requested by `hpx::get_runtime_distributed()` or `hpx::get_runtime()` returns nullptr.  Is there a race condition during shutdown?:

[code]

[2020-06-26 16:26] khuck commented on #1182
I also get errors like:
[code]
and
[code]
and
[code]

[2020-06-26 16:28] NanmiaoWu commented on #1200
Yes, I have the same error when running lra_csv:
[code]

[2020-06-26 16:30] khuck commented on #1200
This should be fixed in #1202, but it hasn't been merged yet

[2020-06-26 16:31] NanmiaoWu opened #1203 "lra_csv_distributed terminated"
I am using the default arguments and the error is shown as follow:

[code]

[2020-06-26 16:50] hkaiser commented on #1200
I'm still waiting for the tests to cycle. I'll merge it asap.

[2020-06-29 19:59] NanmiaoWu commented on #1203
This bug is due to the dimension of y and is a correct "bug". The annotated_d of y is a 2d, which has row dimension and column dimension (although the column dimension is only one), shown as:
[code]

But when y is read_from_csv, it is read as a 1d vector. So the dimension of y does not match and get this error.

[2020-06-29 20:22] #1174 closed

[2020-06-29 23:38] hkaiser commented on #1203
@NanmiaoWu I'll have a look asap.

[2020-06-29 23:50] NanmiaoWu commented on #1203
Thanks!

[2020-07-01 22:41] stevenrbrandt opened #1206 "Improper handling of defaults"
The following code fails to run
[code]
The problem is that the system tries to evaluate `q` with PhySL when (I believe) it should use Python.

Note that this variang works:
[code]

[2020-07-02 12:41] hkaiser commented on #1206
This is a bug. However I wouldn't know how to fix it. This has to be done in the front end (on the Python side of things). Do you have any ideas?

[2020-07-02 13:18] stevenrbrandt commented on #1206
@hkaiser I'm pretty sure I can fix it.

[2020-07-07 14:38] hkaiser commented on #1106
This has been fixed by merging #1108

[2020-07-07 14:38] #1106 closed

[2020-07-16 21:01] taless474 opened #1211 "Add support for `time` primitive in PhySL"
Having the following code:
[code]
the elapsed time contains the execution time of 3 primitives: `random_d`, `random` and `conv1d_d`.
It would be really useful to have a primitive that enables us to separate these measurements. Having able to use hpx::util::high_resolution_timer in physl can be a solution.

[2020-07-16 22:00] hkaiser commented on #1211
@taless474 I'd suggest to add something like:
[code]
i.e. a primitive that times the execution of its first argument and passes the collected time to the function that is given as the second argument.

[2020-07-20 16:16] khuck opened #1214 "Occasional crash in categorical_crossentropy test, Debug build"
The nightly test of the Debug build of tests.unit.python.execution_tree.categorical_crossentropy fails consistently, but when run in isolation it does not crash.  The full log is here: http://omega.nic.uoregon.edu:8020/#/builders/2/builds/201/steps/16/logs/stdio .  The top of the stack is `phylanx::execution_tree::primitives::cat_cross_operation::cat_cross3d(phylanx::ir::node_data<double>&&, phyla

[2020-07-20 16:21] khuck commented on #1214
To be clear, this is a problem with the Release build.  Likely a disappearing Blaze temporary variable.

[2020-07-22 15:43] #1211 closed

[2020-07-25 20:05] taless474 opened #1217 "Build error from Blaze"
It seems like the [recent changes](https://bitbucket.org/blaze-lib/blaze/commits/af002e5818cd28a15fdea3376c203024b1e55be9) in Blaze broke hard_sigmoid primitive of Phylanx
[code]

[2020-07-26 21:47] git-kale opened #1218 "Failling tests when installed on python 3.8 or later"
Phylanx can be installed on a python with a version greater than 3.7 but running the most basic tests is throwing error.

[code]

Test Case:
https://github.com/STEllAR-GROUP/phylanx/blob/ce34d25e7550d04533d79fff96153f7d9c476953/tests/regressions/python/832_performance_data.py

Error generated:
https://gist.github.com/git-kale/3d2eecda353df11a0d10efe5953850f2

[2020-07-27 12:44] hkaiser commented on #1218
@rtohid Would you have the time to look into this? From what I can see this is caused by some changes in the AST introduced with Python 3.8.

[2020-07-27 15:20] rtohid commented on #1218
@hkaiser, you are right, [`ast.Constant`](https://greentreesnakes.readthedocs.io/en/latest/nodes.html#Constant) was added in 3.6.
@git-kale #1219 should resolve the issue. Please let me know if the issue persisted.

[2020-07-27 18:54] git-kale commented on #1218
@rtohid
I changed the files in system according to ````commit : 0a1970cc1500f73956f482fd95bd780b06462f01````
And a new error has popped: https://gist.github.com/git-kale/85fae9e96dc66301ef648bf1eaf231fd

[2020-07-28 05:51] rtohid commented on #1218
@git-kale, hope this works.

[2020-07-28 09:27] git-kale commented on #1218
@rtohid
[code]

[2020-07-28 14:05] rtohid commented on #1218
@gding2018, could you please provide the complete error message? Thank you.

[2020-07-28 15:04] git-kale commented on #1218
@rtohid
https://gist.github.com/git-kale/607b3bb6c489ead4fe24d851fe528a0a

[2020-07-28 15:31] rtohid commented on #1218
@git-kale, thank you. It's a bit strange, this PR adds `_Constant` and should've prevented this issue. Let's see how [CI build](https://github.com/STEllAR-GROUP/phylanx/pull/1219/checks?check_run_id=919189234) goes. Meanwhile, you may want to double check and make sure that you do have [`PhySL._Constant`](https://github.com/STEllAR-GROUP/phylanx/blob/4f88014fa6f87054073f19e9c3f6a3998713b704/python

[2020-07-28 20:14] rtohid commented on #1218
@git-kale, it seems all tests pass on CircleCI. Please make sure the changes are reflected to the module you load during program execution.

[2020-07-29 17:02] NanmiaoWu opened #1220 "Should update XtX after the user loops in ALS"
In ALS, `XtX` should be updated after the user loops. So, instead of in line 72 in https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/als/als_csv.cpp#L72, XtX should be moved to line 86, which is just above the item loops.

[2020-07-29 17:53] hkaiser commented on #1220
@NanmiaoWu would you be able to create a PR for this?

[2020-07-31 19:05] git-kale commented on #1218
Okay, I'll check that and will inform you tomorrow

[2020-08-01 16:05] git-kale commented on #1218
@rtohid  https://gist.github.com/git-kale/9579c7e649d3c4f742433e467b943f8d This is the debug log generated after adding the folowing lines.
[code]

[2020-08-03 18:04] #1218 closed

[2020-08-05 17:02] #1220 closed

[2020-08-06 12:00] hkaiser opened #1224 "Can't get length of a dictionary"
As reported by @stevenrbrandt here: https://github.com/STEllAR-GROUP/docker-containers/issues/6

[2020-08-06 12:00] hkaiser opened #1225 "Cannot get keys of a dictionary"
As reported by @stevenrbrandt here: https://github.com/STEllAR-GROUP/docker-containers/issues/7

[2020-08-07 15:19] NanmiaoWu opened #1228 "Start time counter after reading input and slicing input in non-distributed als.py"
Should start time counter after reading data and slicing the input data in als.py. So, should move `t0` from line 105 to line 110 (https://github.com/STEllAR-GROUP/phylanx/blob/master/examples/algorithms/als/als.py#L105), which is consistent with the other two physl version of non-distributed als and distributed als.

[2020-08-07 17:49] stevenrbrandt commented on #1225
This code sort of works.
[code]
produces
[code]
Which is an improvement. However, it should produce
[code]

[2020-08-07 20:05] stevenrbrandt commented on #1225
@hkaiser I pushed a fix for the above problem to the PR.

[2020-08-07 21:56] hkaiser commented on #1228
@NanmiaoWu would you mind creating a PR for this?

[2020-08-09 14:07] #1224 closed

[2020-08-11 17:07] NanmiaoWu commented on #1228
Ah.. Sorry, I just saw it. Will do it.

[2020-08-11 21:59] #1225 closed

[2020-08-12 16:17] stevenrbrandt opened #1230 "Cannot assign to a dict if the dict is an arg"
The code
[code]
fails with the message
[code]

[2020-08-15 10:31] git-kale opened #1234 "Failing Phylanx Tests after sucessfully building Phylanx"
WORK_ENV: python3.8 docker [Debian Docker]
[code]
**Setup**: Run the following setup script in docker.
https://gist.github.com/git-kale/7e117e261ea3491071fb97e79883f56e

**Testing**: Run the script in docker to quickly check the number of tests passing .
https://gist.github.com/git-kale/512747d57674e74274d63eacbb4fea76

Expected behaviour:
After Successful building the tests should pass. *(99/102

[2020-08-15 14:59] #1228 closed

[2020-08-16 18:58] parsa commented on #1234
As far as I can tell, the smallest sequence of commands to reproduce this issue is:
[code]

Partial CTest output:
[code]

[2020-08-18 10:23] dheerajka29 commented on #759
can you please share about, how can I config HPX on a docker

[2020-08-23 20:26] #1230 closed

[2020-08-25 18:51] stevenrbrandt opened #1235 "Can't print array"
The following simple phylanx program (built in release mode) seems to not terminate:
[code]

[2020-08-25 18:55] stevenrbrandt commented on #1235
@hkaiser if I modify console_output.cpp to use std::cout instead of hpx::cout, the problem goes away.

[2020-08-25 19:10] stevenrbrandt opened #1236 "Can't store to an array element"
The following code
[code]
fails with the error
[code]

[2020-08-26 14:36] hkaiser commented on #1236
@stevenrbrandt The Phylanx frontend understands (multi-) indexing an array using `z[0, 0] = 1` only, at this time. I'll see what I can do to support `z[0][0] = 1` as well.

[2020-08-26 17:26] stevenrbrandt commented on #1236
@hkaiser I had tried it both ways from Python. Maybe what's needed is a change to the Python parser.

[2020-08-26 18:27] hkaiser commented on #1236
@stevenrbrandt please see #1240 for a possible fix

[2020-09-01 21:11] stevenrbrandt opened #1241 "Exception gives no indication of line number"
The program
[code]
fails with the error
[code]
While it may be correct to throw an error in this case, and while it is easy to spot the line causing the error in the sample program, it is hard to find the source of the error in a larger program because no line number information is provided.

[2020-09-01 21:22] stevenrbrandt opened #1242 "list(1) does not match itself"
[code]
prints
[code]

[2020-09-02 15:58] stevenrbrandt opened #1243 "Bad physl output for d_random()"
Given a file named err.physl containing this code
[code]
and execution of the file like this
[code]
The output is
[code]
This is not a proper PhySL value. Possibly, the output should be
[code]

[2020-09-02 16:44] hkaiser commented on #1243
This pretends that the data is actually represented as a dictionary, which is not the case. But I agree that this would improve the readability (and possibly utility) of the generated output.

[2020-09-02 16:49] stevenrbrandt opened #1244 "Function call weirdness"
This program:
[code]
Should print out `0` twice. Instead, it prints out this:
[code]

[2020-09-02 19:36] stevenrbrandt commented on #1243
@hkaiser the problem is, the output of --print should be something that PhySL can interpret. Otherwise, I have no way of getting a result back to the user in the notebook.

[2020-09-02 19:38] stevenrbrandt commented on #1243
@hkaiser I mean, I can hack together some regex parser to figure out something... but I think that's a bad strategy in the long term.

[2020-09-02 20:03] stevenrbrandt opened #1245 "Allow Phylanx to accept connecting localities"
The Phylanx notebook should have the option of being open to connecting localities so that computing resources can be expanded easily.

[2020-09-02 20:05] stevenrbrandt commented on #1245
@hkaiser actually, this might not need a change to Phylanx. Maybe callling with the right options to session init. I'll experiment.

[2020-09-07 21:48] hkaiser commented on #1236
This is not fixed on master (#1240 is not merged yet)

[2020-09-08 01:43] #1235 closed

[2020-09-08 12:21] #1236 closed

[2020-09-08 20:33] hkaiser commented on #1245
@stevenrbrandt there are currently three ways available to achieve this. First you could pass the option `--hpx:expect-connecting-localities` to the session initializer:
[code]

The other options is to add the option to the HPX environment variable `HPX_COMMANDLINE_OPTIONS`:
[code]
The value of this environment variable will be prepended to the command line before it is being processed.

Lastly, y

[2020-09-08 22:42] stevenrbrandt commented on #1245
@hkaiser thanks.

Obviously, I'll have to turn off MPI to make use of this.

[2020-09-08 22:46] hkaiser commented on #1245
Not necessarily. Connecting localities will always use TCP, however, even if the base application relies on MPI for communication.

[2020-09-08 23:02] hkaiser commented on #1242
FWIW, for me this code throws an exception printing:
[code]
I will implement the missing comparison operation on lists.

[2020-09-09 13:38] #1244 closed

[2020-09-09 13:38] #1243 closed

[2020-09-09 13:42] hkaiser commented on #1245
I think we can close this as there are ways to achieve the mentioned goal.

[2020-09-09 13:42] #1245 closed

[2020-09-09 22:45] hkaiser opened #1250 "Allow for simple primitive creation"
We should add a way that simplifies adding trivial primitives. Often the functionality of a primitive can be expressed by a single function. In this case a user should be able to say something like:
[code]
which should make `my_function` invocable in PhySL.

[2020-09-10 14:55] #1242 closed

[2020-09-15 12:46] #1241 closed

[2020-09-16 17:53] khuck opened #1252 "buildbot build error"
Buildbot build is failing with the following error:

http://omega.nic.uoregon.edu:8020/#/builders/5/builds/258/steps/15/logs/stdio

[code]

[2020-09-22 19:06] diehlpk opened #1254 "Compilation error from Blaze_tensor"
Compiling Phylanx master with blaze_tensor master, latest release of Blaze, and HPX 1.4.1 results in following error

[code]

[2020-09-23 02:10] taless474 commented on #1217
This is resolved in the newer versions of Blaze.

[2020-09-23 02:10] #1217 closed

[2020-09-24 01:43] diehlpk commented on #1254
Blaze was too old. Using Blaze master compiled.

[2020-09-24 01:43] #1254 closed

[2020-09-24 01:49] diehlpk opened #1255 "Passing a dict to Phylanx is not possible"
[code]

running this code without the decorator works. Running this code with the decorator results in
[code]

[2020-09-24 11:00] hkaiser commented on #1255
@rtohid could you have a look at this, please? This seems to be a frontend issue.

[2020-09-24 11:11] hkaiser commented on #1255
Please note also that this is Python 3.8. There has been some changes how literal values are represented in the AST. @diehlpk was already complaining about a similar issue involving a missing `_float` attribute yesterday, which apparently is caused by similar changes.

[2020-09-24 12:23] rtohid commented on #1255
@diehlpk thanks for using Phylanx. In the absence of the decorator, code works as expected- if there is no decorator, code is run through the Python interpreter and the exact same behavior (as Python) is expected.

For the error, please see:
https://github.com/STEllAR-GROUP/phylanx/blob/bda8c0dabe91e89a81c53c7da4ae92b9147870b3/python/phylanx/ast/physl.py#L919
if the `node.value` is a literal you s

[2020-09-24 12:38] hkaiser commented on #1255
@rtohid I don't think @diehlpk has changed the Phylanx code in any way. Would you be able to make the changes you suggested? Also, I don't think this is related to the existence/missing of dictionary support in Phylanx itself is something relevant here, we first need to make the PhySL being generated properly.

[2020-09-24 12:52] diehlpk commented on #1255
@rtohid I did not change anything in Phylanx. I just will report bugs and missing primitives for the SSO project.

[2020-09-24 17:01] diehlpk opened #1256 "Feature: Use decorator within a class"
I was wondering if we can get this example to work in a near future

[code]

[2020-09-24 17:11] hkaiser commented on #1256
This is not supported (yet), as we don't support classes at all.

[2020-09-24 19:08] diehlpk commented on #1255
@rtohid I can confirm that we have this bug for any data type.

[2020-09-24 19:24] rtohid commented on #1255
@diehlpk sorry, I misunderstood. I thought you're interested in becoming a contributer.

Yes, that's expected, the above suggestion should fix this too. Unfortunately, right now bug fixes for the old frontend is not our priority as the new one is getting integrated in [JetLag](https://github.com/STEllAR-GROUP/JetLag.git). If it is something urgent, please let me know I'll try to fix it over the we

[2020-09-24 19:28] diehlpk commented on #1255
@rtohid Nan and I can use the new frontend if things will work there. If not we would prefer, if you could fix the old one, so we can use Phylanx within the SSO project. I will do whatever is easier.

[2020-09-24 19:30] rtohid commented on #1255
Sure, I let you know when it's in production.

[2020-09-24 19:41] hkaiser commented on #1255
Please see #1257 for a possible fix

[2020-09-25 01:16] diehlpk opened #1258 "np.random.rand does not work"
[code]

results in

[code]

[2020-09-25 01:52] taless474 commented on #1258
`random` interface is not exactly like NumPy's. I tested this and it worked:
[code]
Please note that the default option in using a normal distribution. To pass the distribution you can try something like the following:
[code]
[code]
The result is a 3x4 matrix filled with elements in the range of (-3,2) from the uniform_int distribution.

[2020-09-25 02:19] taless474 opened #1259 "hard_sigmoid operation fails to compile"
Using Blaze and Blaze_Tensor heads, Phylanx master and the last stable HPX, I get this error on MSVC:
[code]

[2020-09-25 16:59] diehlpk opened #1260 "Assert does not work"
If one uses

`assert data["input_nodes_sz"] != 0`

it does not work, however adding parenthesis works

`assert(data["input_nodes_sz"] != 0)`

we might, could add them in the frontend instead.

[2020-09-25 19:05] diehlpk opened #1261 "np.random or random.random is translated to randn"
`data["W0"] = np.random.random([data["hidden_nodes_sz"], data["input_nodes_sz"]])`

is translated to
[code]

However there is no `randn` and we get

`RuntimeError: /home/diehlpk/git/SOO/nn/nn.py(93, 17): couldn't find function 'randn' in symbol table: HPX(bad_parameter)`

[2020-09-25 19:20] diehlpk commented on #1258
cc #1261

[2020-09-26 14:03] hkaiser commented on #1259
@taless474 was this  resolved?

[2020-09-26 19:07] diehlpk commented on #1261
Deleting the folder  `__physlcache__/ ` solved the problem.

[2020-09-26 19:07] #1261 closed

[2020-09-26 22:30] hkaiser opened #1263 "Make sure to generate __physlcache__ for each Python module"
Currently the `__physlcache__` is generated for the top-level Python module only. This causes the cache not to be regenerated if one of the imported modules is updated. We should make sure to generate a cache file for each of the imported modules as well.

[2020-09-26 22:31] hkaiser commented on #1261
See #1263 for a way to avoid this problem in the future.

[2020-09-27 15:28] #1255 closed

[2020-09-27 15:29] #1260 closed

[2020-09-27 19:25] diehlpk opened #1264 "Disable the decorator"
For debugging it would be nice to disable the decorator and test the same code using pure Python.

[2020-09-27 19:58] hkaiser commented on #1264
I'm currently working on several features that will simplify debugging:

- globally enable/disable decorators
- globally enable/disable `debug=True`
- globally enable/disable additional logging in frontend

Please add to this list if you would like to see more.

[2020-09-27 20:34] taless474 commented on #1259
Yes. This was my bad. When I compared this to #1217 I realized I have saved the wrong commit.

[2020-09-27 21:36] taless474 commented on #1259
Parsa helped me realize that this problem still persists :/

[2020-09-28 01:13] diehlpk opened #1266 "np.sum does not know the axis argument"
Using `np.sum(tmp2, axis = 1)` results in `RuntimeError: /home/diehlpk/git/SOO/nn/nn.py(192, 33): unexpected keyword argument 'axis' for function 'sum': HPX(bad_parameter)`.

[2020-09-28 01:33] diehlpk commented on #1258
I think that we should try to add the full `np.random` interface, since this is widely used in ML applications.

[2020-09-28 01:35] diehlpk opened #1267 "np.random.random_sample is not available."
The following primitives are missing

- [ ] `np.random.random_sample`
- [ ] `np.random.random_integers`

[2020-09-28 19:21] NanmiaoWu opened #1268 "slice does not work in als_csv and als_csv_distributed"
I am using a latest stable hpx, master of phylanx (commit bda8c0dabe91e89a81c53c7da4ae92b9147870b3 with 1257 patch), and latest blaze.

When I try to run als_csv_distributed, the error is shown as follows:

[code]

[2020-09-28 19:25] NanmiaoWu commented on #1268
@taless474 using Windows has faced same errors. But after she manually copies `libgcc_s_seh-1.dll, libgfortran-5.dll, liblapack.dll, libquadmath-0.dll,libwinpthread-1.dll,openblas.dll` into bin folder, the errors are gone.

[2020-09-28 20:18] hkaiser commented on #1268
@NanmiaoWu you certainly have to make sure that all the libraries are available at runtime that you make your build depend on (lapack, etc.) Setting `LD_LIBRARY_PATH` (or similar on Windows) to the corresponding binaries should work, no need to copy all the files.

@taless474 I don't understand why you need the gcc exception handling on Windows. I thought you were building using MSVC?

[2020-09-28 20:21] hkaiser commented on #1268
@NanmiaoWu also, the error message 'cannot extract the requested matrix elements' is generated whenever the indices provides are either out of bounds of the array they are applied to or if the upper boundary of an index range is larger then the lower range (i.e. the index set is empty). Please verify the indices you use wrt the array sizes they are applied to.

[2020-09-29 15:44] khuck opened #1271 "Validation failures in nightly tests"
The nightly tests are down to just Phylanx-related failures, and one of them is:
`	292 - tests.unit.plugins.matrixops.clip (Failed)`

[code]

See http://omega.nic.uoregon.edu:8020/#/builders/2/builds/254/steps/16/logs/stdio for more details.

[2020-09-29 15:46] khuck opened #1272 "Validation issue in nightly tests"
Two of the AST tests are failing (probably the whitespace):

[code]
[code]

[2020-09-29 15:48] khuck commented on #1271
Note that this is a `Release` configuration.

[2020-09-29 16:03] hkaiser commented on #1272
Will fix, thanks!

[2020-09-29 17:19] diehlpk commented on #1258
I think having the simple random functions and the two permutations here [0] would be beneficial. One can implement most of them using random.random pr np.random, however, for users it would be easier to support them in the near future.

[0] https://docs.scipy.org/doc/numpy-1.15.0/reference/routines.random.html

[2020-09-29 17:41] diehlpk opened #1273 "The linear algebra norm is not a primitive"
Running this code

[code]

will result in

[code]

[2020-09-30 00:38] #1264 closed

[2020-09-30 16:50] #1267 closed

[2020-09-30 21:41] khuck commented on #1271
Here's the GDB output:

[code]

[2020-09-30 22:24] hkaiser commented on #1271
The second stack backtrace is unrelated to the stack backtrace printed from the actual problem you reported above (one fails in the clip primitive, the other one while parsing some performance counter name - during startup). was one generated using ASAN?

[2020-09-30 22:28] #1266 closed

[2020-09-30 22:31] khuck commented on #1271
This is built with ASAN, yes - I am trying to track this crash down.  I don't know what you mean by "second" stack trace - there's only one stack trace above...?

[2020-09-30 22:49] hkaiser commented on #1271
@khuck there are two: the one in the very report (top of this list) and the second one generated in gdb you posted just now.

[2020-09-30 22:50] khuck commented on #1271
@hkaiser I edited my comment - please refresh to get the correct stack trace.

[2020-10-03 22:15] #1259 closed

[2020-10-06 16:52] khuck commented on #1272
looks fixed, thanks!

[2020-10-06 16:52] #1272 closed

[2020-10-06 16:54] khuck commented on #1271
@hkaiser any ideas on this one?  It's currently the only `Release` / `RelWithDebInfo` test that fails...

[2020-10-06 18:51] stevenrbrandt opened #1277 "Can't run on multiple localities with MPI"
Run command

{{{
mpirun -np 4 /usr/local/build/bin/physl --dump-counters=py-csv.txt --dump-newick-tree=py-tree.txt --dump-dot=py-graph.txt --performance --print=result.py --hpx:run-hpx-main --hpx:thread=1 cannon.physl
}}}

Contents of cannon.physl
{{{
define$53$0(cannon$53$0, size$53$11, block(define$54$4(array1$54$4, random_d$54$13(list$54$22(size$54$23, size$54$29), find_here$54$36(), num_locali

[2020-10-06 19:00] NanmiaoWu commented on #1277
@stevenrbrandt  Are you able to run if using `srun` instread of `mpirun`?

[2020-10-06 19:33] stevenrbrandt opened #1278 "Missing distributed array creation methods"
array_d( array ) : split up an existing array across localities

fromfunction_d( func, shape) : like numpy's fromfunction

file_read_hdf5_d( filename ) : like file_read_csv_d except it reads from hdf5 files

Related methods that would be helpful...

file_write_hdf5_d( filename ) : like file_read_hdf5_d except it writes files

file_write_csv_d( filename ) : like file_write_hdf5_d except it writes c

[2020-10-06 19:39] stevenrbrandt opened #1279 "Support global keyword"
The global keyword should be used to tag objects that persist between phylanx invocations, e.g.
[code]

[2020-10-06 20:17] stevenrbrandt opened #1280 "Problem creating an hstack"
For this code:
[code]

Output
[code]

[2020-10-06 21:52] NanmiaoWu commented on #1277
created a file, named `test_c.physl`, which contains
[code]

Tested on qbc, the error info is:
[code]

[2020-10-07 00:18] stevenrbrandt commented on #1277
@NanmiaoWu no, I'm running inside a singularity image.

[2020-10-07 13:39] ct-clmsn commented on #1279
@stevenrbrandt cool idea!

[2020-10-07 13:49] ct-clmsn commented on #1278
@stevenrbrandt,

* Would array_d accept an array shape and raw data as an input argument?

* If the input is a shape, would the shape be generated across multiple machines symmetrically? by that, i mean, an input of 4x4 would result in creating 4x4 tiles across N-machines.

* Could a shape argument be capable of defining how many machines to tile across, the shape of each machine's tile, possibly

[2020-10-07 14:29] stevenrbrandt opened #1281 "Phylanx Minimum Viable Product"
At the moment, Phylanx isn't usable. However, I don't think the number of issues that need to be solved to get us to a minimum viable product are that many. There are a lot of other features that I want and think are important, but these 7 are all critical.

(1)  Apex integration needs to be fixed. At this point physl + APEX + mpirun = code that hangs. This means that JetLag no longer works.

(2)

[2020-10-07 14:59] hkaiser commented on #1278
We have `tile(array, ...)` that is doing exactly that (see: https://github.com/STEllAR-GROUP/phylanx/blob/master/src/plugins/matrixops/tile_operation.cpp#L32-L45)

[2020-10-07 16:43] hkaiser commented on #1280
Nice catch!

[2020-10-07 21:06] #1273 closed

[2020-10-07 21:14] hkaiser commented on #1278
@stevenrbrandt How should the distributed array be initialized? We have available the equivalents for `numpy.zeros`, `numpy.ones`, `numpy.empty`, etc. (all of those are mapped onto our `constant` primitive). We should however make sure that our distributed `constant_d` primitive supports all variations.

[2020-10-08 03:29] stevenrbrandt commented on #1278
@hkaiser `array_d(arg)` should not take a shape arg. It should work kind of like `numpy.array(arg)` does. It should convert a non-distributed array into a distributed one. The value `arg` should keep both its data and its shape, but that shape should get split up.

The 'tile()' primitive creates a bigger array by replicating an input array. I assume you meant `retile_d()`? As discussed in the meet

[2020-10-08 03:31] stevenrbrandt commented on #1278
@ct-clmsn see above about what I think `array_d()` ought to do.

[2020-10-08 12:48] hkaiser commented on #1278
In all of this you are assuming a single locality loading a file (or otherwise generating the array) which should then be distributed across other localities. The execution model we target at this point however is pure SPMD, i.e. every locality executes the same code. How should the `array_d` primitive proposed operate when executed on the localities that do not have the data? In the end the (re-)

[2020-10-08 12:54] stevenrbrandt commented on #1278
@hkaiser -- if we assume pure SPMD, then any non-distributed array must have an identical copy on each locality (unless it's a random array). I guess that means `array_d()` would throw away all but it's part of the data and provide a unifying id for the distinct pieces.

[2020-10-08 13:14] hkaiser commented on #1278
Ok. You can do that using `slice_d` already, I think. If that doesn't work (yet), using `slice`/`annotate` should do the trick as well.

[2020-10-08 13:16] hkaiser commented on #1278
@ct-clmsn I like this approach as it provides a concise way to specify tiles. We currently have some means for that, but it's difficult to use.

[2020-10-08 13:25] ct-clmsn commented on #1278
@hkaiser in reference to `tile` - cool! i recalled ya'll had some mechanism defined earlier, couldn't recall the name.

[2020-10-08 18:09] stevenrbrandt commented on #1278
@hkaiser I don't see how `slice_column_d()` or `slice_row_d()` provide this functionality. As for `annotate_d()`, sure, that works. However, it means the user has to figure out exactly which piece of which array they want on which processor rather than just getting a standard tiling. I think `annotate_d()` is too low level for most users.

[2020-10-08 18:13] stevenrbrandt commented on #1278
@ct-clmsn I'm not sure I understand your idea. Normally, when we think of a distributed array, I think of a large array with some definite shape that gets chopped into pieces and distributed. You seem to want to have a distributed array that exists as an identical copy on each processor, but with different tilings. Is that correct? I'm a little unclear about how such an array is kept in sync durin

[2020-10-08 22:40] hkaiser opened #1284 "dot_d returns wrong result"
Running the following code on 4 localities returns `list(30, 60)` which is wrong:
[code]
as it should return `list(30, 30)`.

[2020-10-08 22:41] hkaiser commented on #1277
@stevenrbrandt this could have been caused by a problem in HPX. Could you please try https://github.com/STEllAR-GROUP/hpx/pull/5004 to see if this fixes your issue?

After applying the patch I see the same error as @NanmiaoWu which is caused by `dot_d` returning an ill-sized array. See https://github.com/STEllAR-GROUP/phylanx/issues/1284 for the corresponding ticket.

[2020-10-09 13:21] #1279 closed

[2020-10-09 16:32] hkaiser commented on #1284
This is caused by `dot_d` not supporting block-tiled matrices, at the moment. Matrices should be either row-tiled or column-tiled for `dot_d` to produce correct result. I will add an error message diagnosing this condition for now.

[2020-10-09 19:38] hkaiser commented on #1280
This is caused by a problem in the frontend. Here is the generated PhySL code:
[code]
as you can see, the `hstack()` used in a variable definition generates correct PhySL code, while using it in a function call wraps it with an additional `list()`.

@rtohid would you have the time to have a look, please?

[2020-10-09 20:08] hkaiser commented on #1280
@rtohid I think I have it under control, thanks (see #1286).

[2020-10-10 13:42] #1258 closed

[2020-10-12 00:22] #1280 closed

[2020-10-12 00:26] hkaiser commented on #1256
We should implement this instead:
[code]

[2020-10-12 10:20] #1206 closed

[2020-10-13 15:30] khuck commented on #1281
@stevenrbrandt I have implemented an event filter, but I need to figure out how to integrate it with the HPX build - I use an external JSON library for parsing.  I think the library is already part of the build, but I need to figure out the include path support for cmake.

[2020-10-13 17:40] stevenrbrandt commented on #1281
@khuck I see. Is there also an env variable?

[2020-10-13 17:47] khuck commented on #1281
@stevenrbrandt OK, I tested the filter with HPX and all appears to work.  Yes, there's an environment variable.  It currently has a default value of empty string, so if you want that to be defaulted, let me know.  The variable is:
[code]
and for my test, the file had the contents:
[code]
...which is a string that starts with 'fibonacci' and has any number of additional characters.  It is the usual

[2020-10-13 17:47] khuck commented on #1281
...and this is in the `develop` branch of APEX.

[2020-10-20 01:06] hkaiser commented on #1278
@stevenrbrandt I don't think having `fromfunction_d` would be apprpriate. The numpy docs say that `fromfunction` returns whatever the function object passed to it returns, which could possibly be not an array. As such, the distributed operation should be performed by that function object:
[code]
or similar. Having a local `fromfunction` would be very useful, however (along with a local version of

[2020-10-20 13:37] ct-clmsn commented on #1278
@stevenrbrandt Nope! You are on point; I mis-stated something..,this may not lend itself to a text exchange, will save for a concall. For clarity, The 'local copy' in the question posed was in reference to a tile that composes a portion of the matrix. If you consider the matrix as a globally addressable Java/C++ container type, each tile is globally addressable and the data in the tile is stored o

[2020-10-20 13:58] stevenrbrandt commented on #1278
@hkaiser I'm a little confused. What do you mean it might not be an array? The lambda should always return a scalar. Array creation with fromfunction() looks like this:
[code]
from_function_d() would possibly need a list of localities and/or a tiling, but should otherwise work the same. Yes?

[2020-10-20 14:03] stevenrbrandt commented on #1278
@ct-clmsn I think it's better to pass the size of the global array and the number of localities and have some algorithm figure out how to make it work. What happens with your routine if you ask for 4x4 and want 3 localities? If I passed a 6x6 and asked for 3 localities, I could get a 2x6 and two 3x4's. I don't want to have to figure that kind of thing out for myself, normally.

[2020-10-20 14:24] hkaiser commented on #1278
I think this is not quite how it works. The supplied function is called with arrays of indices, one array per dimension:
[code]
will print:
[code]
Also, for instance:
[code]
will output:
[code]

[2020-10-20 14:45] ct-clmsn commented on #1278
@stevenrbrandt - understood, i've been thinking about your suggestion to have a python function that does the partitioning automagically and that's where i believe we all agree avah's automatic tiling and data layout work fits into the picture. that said, something like what i'm proposing will be needed by avah's contributions to build out that automatic capability - think of the proposal as an en

[2020-10-21 00:18] stevenrbrandt commented on #1278
@hkaiser so I see I was mistaken.It passes an array of integers--it just happens to give the same answer I was expecting. I think it would be okay for fromfunction_d() to require the output to match the shape of the input.

[2020-10-21 00:20] stevenrbrandt commented on #1278
@ct-clmsn one can, in principle do what you propose with annotate_d(), I believe. It's a question of level of user friendliness.

[2020-10-21 18:03] hkaiser commented on #1278
I merged a local-only version of `fromfunction` just now (see #1289), which should be sufficient as it will return whatever the supplied function object returns. So all of the distributed handling can be done there.

[2020-10-21 20:23] khuck opened #1290 "Buildbot Test failure - tests.unit.python.primitives.make_vector"
The `tests.unit.python.primitives.make_vector` test is failing on buildbot.  Using the Debug config.  See http://omega.nic.uoregon.edu:8020/#/builders/5/builds/285/steps/16/logs/stdio for details.  It is throwing an exception:
[code]

[2020-10-23 18:35] diehlpk opened #1291 "Missleading error message"
[code]

Results in following error

`tImplementedError: Phylanx does not support non-NumPy member functions.Cannot transform: bp.bp_cpu`

Some the NumPY is misleading here. Could we have a more clear error message?

[2020-11-03 22:21] stevenrbrandt commented on #1281
@khuck the filter works!

[2020-11-03 22:23] khuck commented on #1281
[pops champagne bottle]

[2020-11-17 15:51] stevenrbrandt opened #1293 "physl issues"
So I've been debugging phsyl, trying to figure out what's going wrong with it. There are several things.

First, if you run with multiple localities, each of them tries to write the same file. Should each locality write a file, or just one locality? IDK. It's easiest just have them all write it out.

Second, writing out the data_csv fails. The critical place is line 206 of src/util/performance_dat

[2020-11-17 19:24] hkaiser commented on #1293
That depends on what information is currently written. If each locality writes only its own counters, then each of them needs to write it. Otherwise writing from locality 0 would be sufficient.

[2020-11-19 04:16] rtohid opened #1294 "Debug option does not work as expcted."
Setting the debug option to `true` should print the PhySL code at function definition not function call.

**NOT working**
[code]

**working**
[code]
with output:

[code]

[2020-11-19 04:23] rtohid opened #1295 "FATAL: exception not rethrown"
Calling any function results in the above error.

[code]

output:
[code]

Environment: https://github.com/rtohid/docker-build/blob/NN/phylanx/Dockerfile
Build script: https://github.com/rtohid/scripts/blob/master/kubuntu/build/phylanx/phylanx.sh

[2020-11-19 13:40] hkaiser commented on #1294
@rtohid this is a side effect of the delayed compilation we have put in place a while ago. However I think we could simply compile the function right away if `debug=True` is set.

[2020-11-19 13:41] hkaiser commented on #1295
This must be caused by some exception being thrown early in the load process. Could you try running in gdb to see where that exception is thrown?

[2020-11-19 16:03] rtohid commented on #1294
Thanks @hkaiser. I get similar behavior with `debug=True`.

[2020-11-19 16:05] rtohid commented on #1295
Thank you @hkaiser. It's a release build. I'll retry with debug- it may take some time to build.

[2020-11-19 16:10] hkaiser commented on #1294
Sure, I didn't imply `debug=1` would be different from `debug=True`. What I meant is that we should change https://github.com/STEllAR-GROUP/phylanx/blob/master/python/phylanx/ast/physl.py#L515 to:
[code]
to force compiling a function when it is seen first if `debug` is enabled.

[2020-11-19 16:55] rtohid commented on #1294
Thanks @hkaiser. I'd misunderstood. This works, I'll create a pull request later today.

[2020-11-24 17:09] stevenrbrandt commented on #1295
I'm running release, and this isn't happening to me.

[2020-12-02 16:37] khuck opened #1296 "Phylanx build test failure - tests.unit.plugins.matrixops.clip"
Release and RelWithDebInfo configurations fail this test:

[code]
see http://omega.nic.uoregon.edu:8020/#/builders/6/builds/291/steps/16/logs/stdio

[2021-01-12 19:34] rtohid opened #1300 "(Incompleted) suggested features and improvements to the frontend."
This issue accumulates the list of features and improvements suggested for the fronted:

- PhySL Python objects
- Transpilation of Python code for PhySL plugins
- Support Python classes

[2021-01-13 20:11] rtohid commented on #1295
Tried running one of the regression tests:
[code]
and got:
[code]

@stevenrbrandt , any ideas what might be the problem?

[2021-01-13 20:38] stevenrbrandt commented on #1295
@rtohid As discussed, Python 3.9 might be your problem. Alternatively, is this a docker image by chance? If so, you need to run the container with privilege if you want to use gdb.

[2021-01-14 01:54] rtohid commented on #1295
@stevenrbrandt, thanks!

This is what I get running on **Ubuntu 20.04** with **python 3.8.5**:
[code]

[Dockerfile](https://github.com/rtohid/docker-build/blob/master/phylanx/Dockerfile.ubuntu)
[Docker image](https://hub.docker.com/r/rtohid/phylanx):  phylanx:issue1295

`docker pull rtohid/phylanx:issue1295`

No success with gdb, still get the same error on both Ubuntu and Fedora.

[2021-01-14 03:58] stevenrbrandt commented on #1295
@rtohid that looks like the issue I just fixed with pybind11. The correct code should be on the distributed_performance branch.

[2021-01-14 16:41] rtohid commented on #1295
@stevenrbrandt, thanks, it resolves the above issue. Tests still fail though- same issue as the  failing tests in #1297:

[code]

[2021-01-14 16:46] hkaiser commented on #1295
Please run in gdb and try to catch the exception when it is thrown (gdb command ‘catch throw’) and give us the stack batrace when gdb stops (gdb command ‘bt’).

[2021-01-14 17:45] stevenrbrandt commented on #1295
@rtohid @hkaiser I attempted to build with Python 3.8.6 and discovered the same `exception not rethorwn` error. I don't understan why this is happening, but (1) it happens during shutdown and (2) it comes from the pthread library.

[2021-01-14 18:00] hkaiser commented on #1295
We need to understand what exception is thrown from where. The commands I listed above should help figuring that out.

[2021-01-14 20:08] rtohid commented on #1295
https://stackoverflow.com/a/46676907 solves the issue with using gdb in containers.
Here's what is the output: https://gist.github.com/rtohid/a0aafa519d436e4666f8062866e0984e

I pushed the image, to reproduce:

[code]

[2021-01-14 20:44] hkaiser commented on #1295
@rtohid thanks for this! Could you repeat that experiment with the code from https://github.com/STEllAR-GROUP/phylanx/pull/1297?

[2021-01-14 21:22] rtohid commented on #1295
@hkaiser Above results are from #1297 (**distributed_performance** branch)

[2021-01-14 21:38] stevenrbrandt commented on #1295
@rtohid I usually use `--privileged=true`

[2021-01-14 22:11] rtohid commented on #1295
@hkaiser here is the minimal example with the trace:
https://gist.github.com/rtohid/a0aafa519d436e4666f8062866e0984e#gistcomment-3594343

**OS:** Ubuntu 20.04
**Python:** 3.8.5
**Branch:** [distributed_performance](https://github.com/STEllAR-GROUP/phylanx/tree/distributed_performance)

[2021-01-14 22:40] hkaiser commented on #1295
@rtohid are you sure you're working with the latest version of #1297? I'm still seeing the `TypeError: Object of type 'module' is not an instance of 'weakref'` message in your logs, which should have been fixed by the PR.

[2021-01-15 01:30] rtohid commented on #1295
@hkaiser, It's before the latest update, the test passes now. Thank you!

[2021-01-19 20:55] stevenrbrandt opened #1301 "Error processing if statement"
[code]
Produces
[code]

[2021-01-19 20:56] stevenrbrandt commented on #1301
Note that it works with this trivial modification...
[code]

[2021-01-19 20:57] hkaiser commented on #1301
Thanks @stevenrbrandt, this is so wrong on multiple levels... even the error message is incorrect :/

[2021-01-20 17:25] stevenrbrandt opened #1302 "array primitive doesn't work correctly"
One expects the array() primitive to convert a list to vector as it does in numpy. Unfortunately, as you see in the foo() method, it instead produces an error claiming that the list is ir::range and not a numeric type.

There is a workaround. In foo2(), the call to transpose(vstack(li))[0] does what I would expect array(li) to produce. However, this is doubtless less efficient than it ought to be.

[2021-01-20 18:21] stevenrbrandt opened #1303 "Can't iterate on a vector"
In the code below
[code]
Nothing from the first loop (i.e. the one with "vi:") will print. Also, then len() function does not work on vec.

[2021-01-20 20:13] stevenrbrandt opened #1306 "Error Running Random Forrest"
[code]

[2021-01-20 20:23] hkaiser commented on #1306
@stevenrbrandt How can I reproduce this?

[2021-01-20 20:26] stevenrbrandt commented on #1306
It seems columns was set to `columns: list(nil, 11)` Still trying to figure out why.

[2021-01-20 20:29] stevenrbrandt commented on #1306
The error seems to be triggered here: `features = idx[asrt][:n_features]`. So it like nil should be valid and should get interpreted as 0.

[2021-01-20 20:34] stevenrbrandt commented on #1306
Supplying the zero does not help. Apparently, I can't use a slice there.

[2021-01-20 21:05] stevenrbrandt commented on #1306
Small version of the problem:
[code]

[2021-01-20 21:10] stevenrbrandt commented on #1306
So it appears using a long list of indexes to get a slice isn't a supported feature in Phylanx. If you leave off the `[0:11]` it gives a proper error. That's probably what ought to happen when the `[0:11]` is supplied as well.

[2021-01-20 21:28] stevenrbrandt opened #1307 "suspending thread while at least one lock is being held"
Here's a regular problem for me now...

[code]
And here's a stack trace with gdb
[code]
The relevant python code seems to be
[code]
Where `random_forrest` is a phylanx function.

[2021-01-20 21:42] stevenrbrandt commented on #1307
Not sure how to make a small test out of this. I am attaching the source.

[files.zip](https://github.com/STEllAR-GROUP/phylanx/files/5845457/files.zip)

[2021-01-20 22:17] hkaiser commented on #1307
This is an HPX problem. I created a ticket here: STEllAR-GROUP/hpx#5118.

[2021-01-21 00:16] #1301 closed

[2021-01-21 16:44] hkaiser commented on #1306
@stevenrbrandt FWIW, this happens even for small lists of indices.

[2021-01-21 16:49] stevenrbrandt commented on #1306
@hkaiser but not if the list is of size 2, then it's interpreted as a range.

[2021-01-21 17:14] hkaiser commented on #1306
Yes, Phylanx understands arrays of integer indices for indirect indexing:
[code]
and it uses `list(...)`  as an equivalent for Python's range type, i.e. `arr[start:stop:step]` is expressed as `slice(arr, list(start, stop, step))`.

[2021-01-21 19:51] #1303 closed

[2021-01-22 09:43] #1302 closed

[2021-01-22 09:56] hkaiser commented on #1295
This was caused by our Python bindings on Python versions >= 3.8 and has been fixed now (https://github.com/STEllAR-GROUP/phylanx/pull/1297).

[2021-01-22 09:56] #1295 closed

[2021-01-22 09:56] hkaiser commented on #1293
This has been fixed by https://github.com/STEllAR-GROUP/phylanx/pull/1297

[2021-01-22 09:56] #1293 closed

[2021-01-23 16:02] #1306 closed

[2021-01-23 16:02] #1294 closed

[2021-01-25 19:02] stevenrbrandt opened #1311 "Failure to insert into typename registry"
Not sure what to make of this error. I am getting it from the `phy_rand.py` code. I don't have a small example that causes this issue at the moment.
[code]
stack trace is
[code]

[2021-01-25 20:55] hkaiser commented on #1311
The only scenario I could think of for this to happen would be that HPX finds the same component module twice (Release/Debug?) At the point of failure, could you ask gdb for the list of loaded modules, please?

[2021-01-27 23:21] hkaiser commented on #1311
As suspected, this has turned out to be an issue happening when both, a release and a debug version are installed in the same place.

[2021-02-10 15:50] stevenrbrandt opened #1312 "Iteration on arrays doesn't work"
The functions foo1() and foo2() ought to produce the same output. They do not.
[code]

[2021-02-12 19:27] stevenrbrandt opened #1315 "Missing del operator for dictionaries"
No support for del
[code]
produces
[code]
Maybe this is a primitive that Karame could implement?

[2021-02-12 21:39] hkaiser commented on #1315
First and foremost, this is missing from the frontend, but yah, we would need some backend support as well...

[2021-02-13 18:44] #1312 closed

[2021-02-15 21:52] stevenrbrandt opened #1317 "Can't mutate data structures"
The following code
[code]
Throws this exception
[code]

[2021-02-15 21:54] stevenrbrandt commented on #1317
Also, this variation is important
[code]
which yields
[code]

[2021-02-16 01:09] hkaiser commented on #1317
@stevenrbrandt currently parameters are always passed by value. So I'm not sure if we can solve this easily.

[2021-02-18 04:09] stevenrbrandt commented on #1317
@hkaiser and I don't think the Random Forest code can be made to work unless it is solved. :(

[2021-02-18 14:49] hkaiser commented on #1317
Any suggestions you might have would be welcome.

[2021-02-20 20:01] stevenrbrandt commented on #1317
Maybe a less ambitious random forest, one which leaves the dictionary manipulation to Python, might be possible.
--Steve

[2021-03-31 15:22] taless474 opened #1321 "PhySL interpreter throws exception: the target (destination) does not match the action type"
PhySL interpreter throws an exception on almost any code. The following:
[code]
produces:
[code]

Please note that the code's equivalent using python works fine:
[code]
produces
[code]

[2021-03-31 15:48] hkaiser commented on #1321
@taless474 What options did you use when running the interpreter?

[2021-03-31 15:54] taless474 commented on #1321
Command args are: --hpx:threads=1 C:\Users\Bita\Desktop\physl.txt --print

[2021-03-31 19:00] hkaiser commented on #1321
@taless474 FWIW, I have it reproduced. Let's see...

[2021-03-31 19:15] hkaiser commented on #1321
@taless474 STEllAR-GROUP/hpx#5271 should fix the issue, please verify.

[2021-04-05 11:48] hkaiser opened #1322 "Add support for `--performance` option to any Phylanx program"
Is it possible for you to enable `--performance` option for tests written in C++?

_Originally posted by @taless474 in https://github.com/STEllAR-GROUP/phylanx/issues/1319#issuecomment-813118538_

[2021-04-05 18:33] #1321 closed